h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: inherit;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 1.83em;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
}

h2 {
  font-size: 1.45em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.small {
  font-size: 0.85em;
  line-height: 1;
}

.count {
  font-weight: 700;
  font-size: 0.85em;
  line-height: 1;
}

.adv {
  font-weight: 700;
  font-size: 0.85em;
  line-height: 1;
}

body {
  color: #242a3e;
  line-height: 1.5;
  background-color: #f6f7f9;
}

/* Icons */
.icon-map-small {
  width: 12px;
  height: 14px;
  fill: currentColor;
}

.icon-caret-default {
  width: 10px;
  height: 6px;
  fill: currentColor;
}

.icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.icon-stroke {
  stroke: currentColor;
  fill: none;
}

.icon-info {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.icon-big {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.icon-breadcrumbs {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.center-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.well {
  background-color: #eeeeee;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-image: none;
  background-repeat: unset;
  border-radius: 5px;
  border: none;
}

.well-sm {
  border-radius: 5px;
}

.btn {
  display: flex;
  height: 44px;
  padding: 0 15px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: white;
  background-image: none;
  font-weight: 700;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 0;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}
.btn:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 2px solid #242a3e;
  z-index: 3;
}

.btn-default {
  color: #242a3e;
  background-color: #ffffff;
  border: 1px solid #e6eff9;
}
@media (hover: hover) {
  .btn-default:hover {
    border: 1px solid #e6eff9;
    background-color: #e6eff9;
    color: #084c95;
  }
}
@media (hover: none) {
  .btn-default:active, .btn-default.active {
    border: 1px solid #e6eff9;
    background-color: #e6eff9;
    color: #084c95;
  }
}
.btn-default:focus, .btn-default.focus {
  outline: 2px solid #242a3e;
  background-color: #ffffff;
}
.btn-default:disabled {
  background-color: #f6f7f9;
  color: #c4cdd9;
}
.btn-default:active, .btn-default.active {
  border: 1px solid #e6eff9;
  background-color: #e6eff9;
  color: #084c95;
}
@media (hover: hover) {
  .btn-default:active:hover, .btn-default.active:hover {
    border: 1px solid #e6eff9;
    background-color: #e6eff9;
    color: #084c95;
  }
}
@media (hover: none) {
  .btn-default:active:active, .btn-default:active.active, .btn-default.active:active, .btn-default.active.active {
    border: 1px solid #e6eff9;
    background-color: #e6eff9;
    color: #084c95;
  }
}
.btn-default:active:focus, .btn-default:active.focus, .btn-default.active:focus, .btn-default.active.focus {
  outline: 2px solid #242a3e;
  background-color: #e6eff9;
  color: #084c95;
}

.btn-primary,
.btn-warning,
.btn-success,
.btn-info {
  color: #ffffff;
  background-color: #084c95;
  border: 1px solid #084c95;
}
@media (hover: hover) {
  .btn-primary:hover,
  .btn-warning:hover,
  .btn-success:hover,
  .btn-info:hover {
    background-color: #2167b4;
    border: 1px solid #2167b4;
  }
}
@media (hover: none) {
  .btn-primary:active, .btn-primary.active,
  .btn-warning:active,
  .btn-warning.active,
  .btn-success:active,
  .btn-success.active,
  .btn-info:active,
  .btn-info.active {
    background-color: #2167b4;
    border: 1px solid #2167b4;
  }
}
.btn-primary:focus, .btn-primary.focus,
.btn-warning:focus,
.btn-warning.focus,
.btn-success:focus,
.btn-success.focus,
.btn-info:focus,
.btn-info.focus {
  border: 1px solid #242a3e;
  background-color: #084c95;
}
@media (hover: hover) {
  .btn-primary:focus:hover, .btn-primary.focus:hover,
  .btn-warning:focus:hover,
  .btn-warning.focus:hover,
  .btn-success:focus:hover,
  .btn-success.focus:hover,
  .btn-info:focus:hover,
  .btn-info.focus:hover {
    background-color: #2167b4;
    border: 1px solid #2167b4;
  }
}
@media (hover: none) {
  .btn-primary:focus:active, .btn-primary:focus.active, .btn-primary.focus:active, .btn-primary.focus.active,
  .btn-warning:focus:active,
  .btn-warning:focus.active,
  .btn-warning.focus:active,
  .btn-warning.focus.active,
  .btn-success:focus:active,
  .btn-success:focus.active,
  .btn-success.focus:active,
  .btn-success.focus.active,
  .btn-info:focus:active,
  .btn-info:focus.active,
  .btn-info.focus:active,
  .btn-info.focus.active {
    background-color: #2167b4;
  }
}
.btn-primary:focus:active, .btn-primary:focus.active, .btn-primary.focus:active, .btn-primary.focus.active,
.btn-warning:focus:active,
.btn-warning:focus.active,
.btn-warning.focus:active,
.btn-warning.focus.active,
.btn-success:focus:active,
.btn-success:focus.active,
.btn-success.focus:active,
.btn-success.focus.active,
.btn-info:focus:active,
.btn-info:focus.active,
.btn-info.focus:active,
.btn-info.focus.active {
  background-color: #2167b4;
  border: 1px solid #2167b4;
  outline: 2px solid #242a3e;
}
.btn-primary:active, .btn-primary.active,
.btn-warning:active,
.btn-warning.active,
.btn-success:active,
.btn-success.active,
.btn-info:active,
.btn-info.active {
  background-color: #2167b4;
  border: 1px solid #2167b4;
}
.btn-primary:disabled,
.btn-warning:disabled,
.btn-success:disabled,
.btn-info:disabled {
  background-color: #f6f7f9;
  color: #c4cdd9;
}

.form-control {
  display: flex;
  gap: 10px;
  height: 44px;
  padding: 0 10px 0 15px;
  border-radius: 5px;
  border: 1px solid #e6eff9;
  background: #ffffff;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}
.form-control:hover {
  border: 1px solid #084c95;
  z-index: 3;
}
.form-control:focus {
  border: 2px solid #084c95;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
  z-index: 3;
}
.form-control:disabled {
  background-color: #f6f7f9;
  color: #c4cdd9;
}
.form-control:active {
  border: 2px solid #084c95;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
  z-index: 3;
}
.form-control.invalid {
  border: 1px solid #f55c3d;
}
.form-control.invalid:hover {
  border: 2px solid #f55c3d;
}
.form-control.invalid:focus {
  border: 2px solid #084c95;
}
.form-control.invalid:active {
  border: 2px solid #084c95;
}
.form-control.valid {
  border: 1px solid #acf256;
}
.form-control.valid:hover {
  border: 2px solid #acf256;
}
.form-control.valid:focus {
  border: 2px solid #084c95;
}
.form-control.valid:active {
  border: 2px solid #084c95;
}

.btn-phone-floating .icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
.btn-phone-floating .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  background-repeat: unset;
  filter: none;
}
.btn-phone-floating .btn-info {
  background-color: #084c95;
  border-radius: 5px;
  color: #ffffff;
  background-image: none;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-phone-floating .btn-info:hover {
  background-color: #07386c;
  color: #ffffff;
}
.btn-phone-floating .btn-info:focus {
  background-color: #07386c;
}
.btn-phone-floating .btn-info:active {
  background-color: #07386c;
}
.btn-phone-floating .btn-info:active:hover {
  background-color: #07386c;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  background-image: none;
  filter: none;
  line-height: 1.5;
  text-decoration: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}

a.dropdown-toggle:visited {
  color: currentColor;
}

.open > .btn-default.dropdown-toggle {
  color: #084c95;
  background-color: #e6eff9;
  border-color: #e6eff9;
}
@media (hover: hover) {
  .open > .btn-default.dropdown-toggle:hover {
    color: #084c95;
    background-color: #e6eff9;
    border-color: #e6eff9;
  }
}
@media (hover: none) {
  .open > .btn-default.dropdown-toggle:active {
    color: #084c95;
    background-color: #e6eff9;
    border-color: #e6eff9;
  }
}

.dropdown-menu {
  width: inherit;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #e6eff9;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}
.dropdown-menu li a, .dropdown-menu.open li a, .dropdown-menu.sub-menu li a, .dropdown-menu.sub-menu li a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #242a3e;
  border-radius: 5px;
  height: 44px;
  font-weight: 700;
}
.dropdown-menu li a:disabled, .dropdown-menu.open li a:disabled, .dropdown-menu.sub-menu li a:disabled, .dropdown-menu.sub-menu li a:disabled {
  color: #c4cdd9;
  background-color: #f6f7f9;
}
.dropdown-menu li a:focus, .dropdown-menu.open li a:focus, .dropdown-menu.sub-menu li a:focus, .dropdown-menu.sub-menu li a:focus {
  color: #084c95;
  background-color: #e6eff9;
  background-image: none;
  outline: 2px solid #242a3e;
}
@media (hover: hover) {
  .dropdown-menu li a:hover, .dropdown-menu.open li a:hover, .dropdown-menu.sub-menu li a:hover, .dropdown-menu.sub-menu li a:hover {
    color: #084c95;
    background-color: #e6eff9;
    background-image: none;
  }
}
@media (hover: none) {
  .dropdown-menu li a:active, .dropdown-menu.open li a:active, .dropdown-menu.sub-menu li a:active, .dropdown-menu.sub-menu li a:active {
    color: #084c95;
    background-color: #e6eff9;
  }
}

.active a {
  color: #084c95;
  background-color: #e6eff9;
  background-image: none;
  margin: 0;
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown:hover .dropdown-menu:hover {
    display: block;
  }
  .dropdown .dropdown-menu::before {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    display: block;
    z-index: 100000;
    top: -7px;
  }
}
#blockModal .modal-footer {
  display: flex;
}

.form-fast-search-locations-modal .selectize-input {
  display: flex !important;
  align-items: center !important;
  padding-bottom: 0 !important;
}
.form-fast-search-locations-modal .selectize-control.multi .selectize-input > div {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .form-fast-search-locations-modal .selectize-control.multi .selectize-input > div {
    margin: 0 3px 3px 0;
    padding-right: 27px;
  }
}

.search_nav_bar {
  gap: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
.search_nav_bar .search_nav_bar_item {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}
.search_nav_bar .search_nav_bar_item:first-child::after {
  display: none;
}

.header_adv_long {
  display: block;
}

.container.full-size {
  height: unset;
}

.container.container-height-full {
  min-height: calc(100vh - 346px);
}
@media (max-width: 991px) {
  .container.container-height-full {
    min-height: unset;
  }
}
@media (max-width: 767px) {
  .container.container-height-full {
    min-height: unset;
  }
}

/* Cards */
.object {
  background-color: #f6f7f9;
  border-radius: 8px;
  padding: 3px 0;
  margin-top: 5px;
}

.object.object_marked {
  background-color: #fbf5ef;
  box-shadow: none;
}

/* Search preview */
.search-result-preview {
  font-size: 14px;
  font-weight: 400;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px 0;
  padding: 8px 15px;
  margin-bottom: 20px;
}

.search-result-preview a {
  color: #084c95;
}
.search-result-preview a:hover {
  color: #07386c;
}
.search-result-preview a:visited {
  color: #07386c;
}
.search-result-preview .breadcrumb {
  margin: 0;
  padding: 0;
}
.search-result-preview .small {
  font-size: 14px;
  color: #333333;
}
.search-result-preview .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-result-preview .col-xs-5 .pull-right .btn-group.small {
  margin: 0;
}
.search-result-preview .row.media.clearfix.object.object_even.media_after_travel {
  background-color: #ffffff;
  padding: 5px 15px;
}
@media screen and (max-width: 768px) {
  .search-result-preview .search-result-preview {
    margin-bottom: 58px;
  }
  .search-result-preview .row {
    flex-direction: column;
  }
  .search-result-preview .col-xs-7 {
    width: 100%;
  }
  .search-result-preview .col-xs-5 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
    color: #777777;
  }
  .search-result-preview .col-xs-5 .pull-right {
    float: none !important;
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .search-result-preview .col-xs-5 .btn-group {
    width: 100%;
  }
  .search-result-preview .col-xs-5 .button-dropdown {
    width: 100%;
  }
  .search-result-preview .col-xs-5 .dropdown-toggle {
    color: #777777;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.4;
  }
}

.object a {
  color: #084c95;
}
.object a:hover {
  color: #07386c;
}
.object a:visited {
  color: #07386c;
}
.object .object__show-phone {
  color: #ffffff !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 44px !important;
  width: fit-content;
  font-weight: 700;
}
.object .object__show-phone:visited {
  color: #ffffff !important;
}
.object .object__gallery,
.object .object__gallery-item {
  border-radius: 5px;
}
.object .object__data {
  padding: 10px 0;
}
.object .object__meta {
  padding: 10px 0;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-left: 1px solid #ffffff;
}
.object .object__actions {
  margin-top: 10px;
  position: absolute;
  right: -10px;
  bottom: 18px;
  width: auto;
  display: flex;
  align-items: center;
  gap: 3px;
}
.object .object__actions form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.object .header_adv_short {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333333;
}
.object .header_adv_short:hover {
  color: #333333;
}
.object .header_adv_short:visited {
  color: #333333;
}
.object .object__lead {
  font-size: 28px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 5px;
}
.object .text-location {
  font-weight: 500;
  margin-bottom: 5px;
}
.object .text-location svg {
  position: relative;
  top: 2px;
}
.object .text-muted.object__text-trim.object__text-comment.tooltip_comment_action.tooltip_comment_loaded {
  font-size: 14px;
  color: #777777;
  font-weight: 400;
}
.object .object__status {
  display: flex;
  align-items: center;
  color: #777777;
  gap: 10px;
  margin: 0;
}
.object .object__status .label.label-danger {
  font-size: 14px;
  color: #ffffff;
  background-color: #f55c3d;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 13px;
  width: auto;
  font-weight: 700;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.object .object__status .label.label-default {
  padding: 6px 10px;
  border-radius: 13px;
  color: #8c91a6;
  background-color: #ffffff;
  width: auto;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 14px;
}
.object .object__status .label.label-primary {
  padding: 6px 10px;
  border-radius: 13px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #084c95;
  width: auto;
  font-weight: 700;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 14px;
}
.object .object__owner-name {
  display: flex;
  align-items: center;
  gap: 5px;
}
.object .col-xs-1,
.object .col-sm-1,
.object .col-md-1,
.object .col-lg-1,
.object .col-xs-2,
.object .col-sm-2,
.object .col-md-2,
.object .col-lg-2,
.object .col-xs-3,
.object .col-sm-3,
.object .col-md-3,
.object .col-lg-3,
.object .col-xs-4,
.object .col-sm-4,
.object .col-md-4,
.object .col-lg-4,
.object .col-xs-5,
.object .col-sm-5,
.object .col-md-5,
.object .col-lg-5,
.object .col-xs-6,
.object .col-sm-6,
.object .col-md-6,
.object .col-lg-6,
.object .col-xs-7,
.object .col-sm-7,
.object .col-md-7,
.object .col-lg-7,
.object .col-xs-8,
.object .col-sm-8,
.object .col-md-8,
.object .col-lg-8,
.object .col-xs-9,
.object .col-sm-9,
.object .col-md-9,
.object .col-lg-9,
.object .col-xs-10,
.object .col-sm-10,
.object .col-md-10,
.object .col-lg-10,
.object .col-xs-11,
.object .col-sm-11,
.object .col-md-11,
.object .col-lg-11,
.object .col-xs-12,
.object .col-sm-12,
.object .col-md-12,
.object .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 3px;
  padding-right: 3px;
}
@media (max-width: 1200px) {
  .object .col-xs-1,
  .object .col-sm-1,
  .object .col-md-1,
  .object .col-lg-1,
  .object .col-xs-2,
  .object .col-sm-2,
  .object .col-md-2,
  .object .col-lg-2,
  .object .col-xs-3,
  .object .col-sm-3,
  .object .col-md-3,
  .object .col-lg-3,
  .object .col-xs-4,
  .object .col-sm-4,
  .object .col-md-4,
  .object .col-lg-4,
  .object .col-xs-5,
  .object .col-sm-5,
  .object .col-md-5,
  .object .col-lg-5,
  .object .col-xs-6,
  .object .col-sm-6,
  .object .col-md-6,
  .object .col-lg-6,
  .object .col-xs-7,
  .object .col-sm-7,
  .object .col-md-7,
  .object .col-lg-7,
  .object .col-xs-8,
  .object .col-sm-8,
  .object .col-md-8,
  .object .col-lg-8,
  .object .col-xs-9,
  .object .col-sm-9,
  .object .col-md-9,
  .object .col-lg-9,
  .object .col-xs-10,
  .object .col-sm-10,
  .object .col-md-10,
  .object .col-lg-10,
  .object .col-xs-11,
  .object .col-sm-11,
  .object .col-md-11,
  .object .col-lg-11,
  .object .col-xs-12,
  .object .col-sm-12,
  .object .col-md-12,
  .object .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.object .notepad_action {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3px;
}
.object .notepad_action .object__actions-item svg {
  stroke: currentColor;
  fill: none;
}
.object .object__actions-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #242a3e;
}
.object .object__actions-item svg {
  width: 14px;
  height: 14px;
}
.object .object__actions-item svg.hot {
  color: #f55c3d;
}
.object .object__actions-item svg.top {
  color: #084c95;
}
.object .object__actions-item.active svg.hot {
  color: #f55c3d;
}
.object .object__actions-item.active svg.top {
  color: #084c95;
}
.object .object__actions-item.active .object__actions-item {
  color: #242a3e;
}
.object .object__actions-item:hover {
  border: 1px solid #e6eff9;
  background-color: #e6eff9;
}
.object .object__actions-item:hover svg {
  color: #084c95;
}
.object .object__actions-item:hover svg.hot {
  color: #f55c3d;
}
.object .object__owner {
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .object .object__actions {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
    width: unset;
  }
}
@media (max-width: 992px) {
  .object .object__data {
    width: 65%;
  }
  .object .object__actions {
    margin: 0;
    padding: 0;
    width: unset;
  }
}
@media (max-width: 768px) {
  .object .object__actions {
    top: unset;
    bottom: 15px;
  }
  .object .object__data {
    width: unset;
  }
  .object .object__show-phone {
    height: 44px !important;
  }
}
@media (min-width: 1024px) {
  .object .object__actions {
    padding-top: 3px;
  }
}
@media (min-width: 768px) {
  .object .header_adv_short {
    margin-top: 5px;
  }
  .object .object__owner-name {
    margin-top: 5px;
  }
}

.map_panel .map_panel_head .to_filters_btn {
  color: #084c95;
  display: flex;
  align-items: center;
  gap: 4px;
}
.map_panel .object .col-md-12:first-child {
  padding-top: 10px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.map_panel .object .object__owner {
  margin-right: 30px;
}
.map_panel .object .object__data {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.map_panel .object .object__meta {
  padding-bottom: 10px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.map_panel .object .object__actions {
  margin-top: 10px;
  position: absolute;
  right: 0px;
  bottom: 16px;
  width: auto;
}
.map_panel .object .object__show-phone {
  height: 36px !important;
}
.map_panel .object .header_adv_short {
  margin-top: 0;
}
.map_panel .object .object__owner-name {
  margin-top: 0;
}
@media (max-width: 768px) {
  .map_panel .object .object__actions {
    top: unset;
  }
  .map_panel .object .object__data {
    width: unset;
  }
}
@media (min-width: 1024px) {
  .map_panel .object .object__actions {
    right: 2px !important;
  }
}

@media (min-width: 768px) {
  .container:not(.full-size) .object .object__lead,
  .modal .object .object__lead {
    font-size: 28px;
  }
}
/* Pagination */
.pagination li span,
.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #e6eff9;
  padding: 5px 10px;
  margin: 0 2.5px;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffffff;
  color: #242a3e;
  min-width: 44px;
  min-height: 44px;
  text-align: center;
  vertical-align: middle;
  background-image: none;
}
.pagination li span:hover,
.pagination li a:hover {
  background-color: #e6eff9;
  color: #084c95;
  border: 1px solid #e6eff9;
}
.pagination li span.disabled, .pagination li span:disabled, .pagination li span.disabled:hover,
.pagination li a.disabled,
.pagination li a:disabled,
.pagination li a.disabled:hover {
  background-color: #ffffff;
  color: #242a3e;
  border: 1px solid #e6eff9;
}
.pagination li.active span,
.pagination li.active a {
  background-color: #e6eff9;
  color: #084c95;
  border: 1px solid #e6eff9;
}
.pagination li.active span:hover,
.pagination li.active a:hover {
  background-color: #e6eff9;
  color: #084c95;
  border: 1px solid #e6eff9;
}

/*# sourceMappingURL=announce.css.map */
