.extendedEntity {
  .apartment-top-container a,
  .main-breadcrumbs.breadcrumb a {
    color: $color-blue;
  }
  .apartment-top-container a:hover,
  .main-breadcrumbs.breadcrumb a:hover {
    color: $color-blue-hover;
  }
  .apartment-top-container a:visited,
  .main-breadcrumbs.breadcrumb a:visited {
    color: $color-blue-hover;
  }
  /* Icons */
  .icon-map-small {
    width: 12px;
    height: 14px;
    fill: currentColor;
  }
  .icon-caret-default {
    width: 10px;
    height: 6px;
    fill: currentColor;
  }
  .icon-default {
    width: 14px;
    height: 14px;
    fill: currentColor;
  }
  .icon-stroke {
    stroke: currentColor;
    fill: none;
  }
  .icon-info {
    width: 12px;
    height: 12px;
    fill: currentColor;
  }
  .icon-big {
    width: 18px;
    height: 18px;
    fill: currentColor;
  }
  .main-breadcrumbs .icon-breadcrumbs {
    width: 12px;
    height: 12px;
    fill: currentColor;
  }

  .center-icon {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  /* Buttons */
  #banki-ru-widget,
  .apartment-top-container,
  .ds-social {
    .btn {
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      vertical-align: bottom;
      border-radius: $border-radius;
      padding: $padding-btn-small;
      font-weight: 500;
      line-height: 1.314;
      display: flex;
      align-items: center;
      gap: 5px;
      height: 32px !important;
    }
    .btn-default {
      background-image: none;
      filter: none;
      background-color: $color-white;
      border-radius: $border-radius;
      color: $color-grey-text;
      border: 1px solid $color-border;
      padding: $padding-btn-small;
      font-weight: 500;
      line-height: 1.42857143;
    }
    .btn-default:hover {
      background-color: $color-grey-superlight;
      border: 1px solid $color-border;
      color: $color-grey-dark;
    }
    .btn-default.active {
      background-color: $color-border;
      border: 1px solid $color-border;
      color: $color-grey-dark;
    }
    .btn-default.active:hover {
      border: 1px solid $color-border;
      color: $color-grey-dark;
    }
    .btn-default:focus {
      box-shadow: none;
      border: 1px solid $color-grey-dark;
    }
  }

  .apartment-top-container,
  .ds-social {
    .btn-xs {
      padding: $padding-btn-small;
      font-size: 14px;
      height: 32px !important;
      line-height: 1.42857143;
    }
    .btn-group-xs > .btn {
      line-height: 1.42857143;
    }

    .btn-primary {
      background-color: $color-blue;
      color: $color-white;
      border-radius: $border-radius;
      background-image: none;
      border: none;
    }
    .btn-primary:hover {
      background-color: $color-blue-hover;
      color: $color-white;
    }
    .btn-primary:focus {
      background-color: $color-blue-hover;
      border: 1px solid $color-grey-dark;
    }

    .btn-danger {
      background-color: $color-red;
      border-color: $color-red;
      background-image: none;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .btn-info {
      background-color: $color-blue;
      border-radius: $border-radius;
      color: $color-white;
      background-image: none;
      border: none;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .btn-info:hover {
      background-color: $color-blue-hover;
      color: $color-white;
    }
    .btn-info:focus {
      background-color: $color-blue-hover;
    }
    .btn-info:active {
      background-color: $color-blue-hover;
    }
    .btn-info:active:hover {
      background-color: $color-blue-hover;
    }
    .btn-warning {
      background-color: $color-yellow;
      border-radius: $border-radius;
      background-image: none;
      border: none;
      display: flex;
      gap: 5px;
      align-items: center;
      text-decoration: none;
      font-weight: 500;
    }
    .btn-warning:hover {
      background-color: $color-yellow-hover;
      text-decoration: none;
    }
  }

  .btn-default:active,
  .btn-default.active,
  .btn-primary:active,
  .btn-primary.active,
  .btn-success:active,
  .btn-success.active,
  .btn-info:active,
  .btn-info.active,
  .btn-warning:active,
  .btn-warning.active,
  .btn-danger:active,
  .btn-danger.active {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .ds-annouce-info {
    .small.text-muted {
      color: $color-grey-dark;
      font-size: 14px;
    }
    .panel-body-adv-block {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
    }
    .panel-body-adv-block svg {
      align-items: center;
      height: 12px;
      width: 12px;
    }
    .label.label-default {
      position: relative;
      bottom: 3px;
    }
    .label {
      height: 20px;
      padding: 0.3em 0.6em 0.3em;
      display: inline-flex;
      align-items: center;
      gap: 4px;
    }
  }

  .panel-body-adv-block noindex {
    display: flex;
    gap: 4px;
  }
  .apartment-top-container .panel-body-adv-block a i,
  .ds-social .panel-body-adv-block a i {
    font-size: 14px;
  }
  .apartment-top-container .panel-body-adv-block .notepad_action,
  .ds-social .panel-body-adv-block .notepad_action {
    display: flex;
    gap: 3px;
  }

  .ds-social {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  .ds-social .btn-social-icon > :first-child {
    font-size: 14px;
  }

  .panel-body-adv-block__scroll-x {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  @media screen and (max-width: 767px) {
    .panel-body-adv-block__scroll-x {
      display: flex;
      flex-wrap: nowrap;
      gap: 4px;
      overflow-x: auto;
      scrollbar-width: none;
    }
    .panel-body-adv-block__scroll-x .panel-body-adv-block {
      flex-wrap: nowrap !important;
    }
    .panel-body-adv-block__scroll-x::-webkit-scrollbar {
      display: none;
    }
  }

  .ds-social .btn-social-icon {
    height: 32px;
    width: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ds-social .panel-body-adv-block {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .panel-body-adv-block .btn-favorite-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 32px;
    width: 32px;
    padding: 0;
    border: 1px solid $color-border;
    border-radius: $border-radius;
  }
  .panel-body-adv-block .btn-favorite-icon:hover {
    background-color: $color-grey-superlight;
  }
  .btn-favorite-icon svg {
    stroke: $color-grey-text;
    fill: none;
  }
  .btn-favorite-icon.active svg {
    fill: $color-grey-text;
  }
  .btn-social-icon > :first-child {
    position: static;
    width: 14px !important;
    height: 14px !important;
  }
  .apartment-top-container .apartment-desc__owner noindex {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .label-default {
    display: inline-block;
    margin: 0 0 5px 0;
  }

  .label-info {
    background-color: $color-primary;
  }

  // Breadcrumbs
  .main-breadcrumbs.breadcrumb li.small {
    font-size: 14px;
  }

  /* Slider big */
  .apartment-gallery {
    .fotorama__stage {
      border-radius: $border-radius;
      background-color: $color-white;
    }
    .fotorama__thumb {
      border-radius: $border-radius;
    }
    .fotorama__thumb-border {
      border-color: $color-blue;
      border-radius: $border-radius;
      height: 62px;
      width: 62px;
    }
    @media screen and (min-width: 1199px) {
      .gallery,
      .gallery-with-nav-thumbs {
        position: sticky;
        top: 0;
      }
    }
  }
  .apartment-desc {
    background-color: $color-grey-superlight;
    border-radius: $border-radius;
    margin-bottom: 10px;
  }
  .apartment-desc__owner {
    color: $color-grey-text;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .apartment-desc__item {
    padding: 0px 10px 10px 10px;
  }
  .apartment-desc__item a {
    font-weight: 500;
  }

  /* Mortgage */
  #banki-ru-widget {
    padding: 0 15px;
  }

  #banki-ru-widget .col-xs-12.col-lg-12:first-child {
    margin-top: 15px;
    background-color: $color-grey-superlight;
    border-radius: $border-radius-big $border-radius-big 0 0;
    border: 1px solid $color-blue;
    p {
      margin: 0;
    }
  }

  #banki-ru-widget .col-xs-12.col-lg-12:last-child {
    border: 1px solid $color-blue;
    border-top: none;
    border-radius: 0 0 $border-radius-big $border-radius-big;
    margin-bottom: 15px;
  }

  #banki-ru-widget {
    .btn-styled-new2 {
      background-color: $color-blue;
      color: $color-white;
    }
    .btn-styled-new2:hover {
      background-color: $color-blue-hover;
    }

    .calc-mortgage__input input {
      height: 32px;
      letter-spacing: unset;
    }
    .calc-mortgage__sum {
      letter-spacing: 0.075em;
    }
    .calc-mortgage__label {
      margin-bottom: 12px;
    }
    .calc-mortgage .rangeslider--horizontal {
      margin: 10px 0;
    }

    .mortgage-container {
      margin: 0 15px;
    }
    .mortgage-calc-blok {
      margin-top: 15px;
      background-color: $color-grey-superlight;
      border-radius: $border-radius-big $border-radius-big 0 0;
      border: 1px solid $color-blue;
    }
    .mortgage-calc-blok p {
      margin: 0;
    }
    .calc-mortgage {
      color: $color-grey-dark;
      background: none;
      padding: 15px 0;
      margin: 0;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .calc-mortgage__top {
      padding: 0;
    }
    .calc-mortgage__bottom {
      padding: 0;
    }
    .calc-mortgage__label {
      font-size: 14px;
      font-weight: 700;
      color: $color-grey-dark;
    }
    .calc-mortgage__input.calc-mortgage__input_disabled input {
      color: $color-white;
      background: $color-blue;
      border: none;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      padding: 0px 40px 0 8px;
    }
    .calc-mortgage__input-c {
      right: -17px;
      font-size: 14px;
      font-weight: 500;
      color: $color-grey-text;
      display: flex;
      align-items: center;
    }
    .calc-mortgage__input input {
      background-color: $color-white;
      border: 1px solid $color-border;
      border-radius: $border-radius;
      font-size: 14px;
      font-weight: 500;
      color: $color-grey-text;
    }
    .calc-mortgage-price,
    .calc-mortgage-summ {
      width: 94% !important;
    }
    .calc-mortgage-rate {
      width: 92% !important;
    }

    .calc-mortgage .rangeslider__fill {
      background: $color-blue;
      border-radius: 2px 0px 0px 2px;
      height: 4px;
    }
    .calc-mortgage .rangeslider__handle::after {
      background: $color-blue;
    }

    .calc-mortgage .rangeslider--horizontal {
      height: 4px;
      background: $color-white;
      position: relative;
      margin: 16px 0;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
    .calc-mortgage__result::after,
    .calc-mortgage__result::before {
      content: none;
    }
    /* .calc-mortgage__result {
      width: 100%;
      justify-content: center;
    } */
    .calc-mortgage__result .calc-mortgage__sum {
      font-size: 21px;
      color: $color-blue;
      margin-right: 10px;
      margin-left: 150px;
    }
    .calc-mortgage__result .calc-mortgage__note {
      font-size: 14px;
      color: $color-grey-text;
      max-width: unset;
    }

    .mortgage-table-blok {
      border: 1px solid $color-blue;
      border-top: none;
      border-radius: 0 0 $border-radius-big $border-radius-big;
      margin-bottom: 15px;
    }
    .table-mortgage {
      font-size: 12px;
      color: $color-blue;
      margin-bottom: 15px;
    }
    .table-mortgage th {
      line-height: 18px;
      color: $color-grey-text;
    }
    .table-mortgage-header {
      color: $color-grey-text;
    }
    .table-mortgage tr {
      position: relative;
      border: none;
    }

    .table-mortgage tr:first-child::after {
      border-bottom: 1px solid $color-border;
    }
    .table-mortgage tr::after {
      content: "";
      position: absolute;
      width: calc(100% + 30px);
      left: -15px;
      bottom: 0;
      border-bottom: 1px solid $color-border;
    }
    .table-mortgage__name {
      font-size: 14px;
    }
    .table-mortgage td:nth-child(5),
    .table-mortgage th:nth-child(5) {
      width: 45px;
    }

    .table-mortgage-btn {
      padding: $padding-btn-small;
      border-radius: $border-radius;
      border: 1px solid $color-border;
      background-color: $color-white;
      color: $color-grey-text;
      height: 37px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
    .table-mortgage-btn:hover {
      background-color: $color-grey-superlight;
      color: $color-grey-dark;
    }
    .table-mortgage-show {
      padding: $padding-btn-small;
      border-radius: $border-radius;
      border: 1px solid $color-border;
      background-color: $color-white;
      color: $color-grey-text;
      height: 37px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 15px;
    }
    .table-mortgage-show:hover {
      background-color: $color-grey-superlight;
      border: 1px solid $color-border;
      color: $color-grey-dark;
    }

    @media only screen and (max-width: 991px) {
      .table-mortgage-show {
        margin-right: unset;
        margin-left: unset;
      }
    }

    .table-mortgage__btn-popover {
      padding: $padding-btn-small;
      border-radius: $border-radius;
      border: 1px solid $color-border;
      background-color: $color-white;
      color: $color-grey-text;
      margin-right: 5px;
      display: inline-block;
    }
    .table-mortgage__btn-popover svg {
      margin-top: 4px;
    }
    .table-mortgage__btn-popover:hover {
      background-color: $color-grey-superlight;
      border: 1px solid $color-border;
      color: $color-grey-dark;
    }

    .calc-mortgage__mobile-btn button {
      background-color: $color-white;
      color: $color-grey-text;
      border: 1px solid $color-border;
      font-size: 16px;
    }
    .calc-mortgage__mobile-btn button:hover {
      background-color: $color-grey-superlight;
      color: $color-grey-dark;
    }
    .calc-mortgage__mobile-btn .btn svg {
      fill: currentColor;
    }

    @media only screen and (max-width: 991px) {
      .calc-mortgage__popup {
        background: rgba(43, 43, 43, 0.5);
      }
      .calc-mortgage__popup-inner {
        background: #fff;
        width: 100%;
        padding: 30px 0;
        position: relative;
        margin: auto;
        border-radius: $border-radius-big;
      }
      .calc-mortgage__top {
        padding: 0 20px;
      }
      .calc-mortgage__sum::before {
        display: none;
      }
      .calc-mortgage__sum::after {
        display: none;
      }
      .calc-mortgage__result .calc-mortgage__sum {
        font-size: 21px;
        color: $color-blue;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
