/* Icons */
.icon-map-small {
  width: 12px;
  height: 14px;
  fill: currentColor;
}

.icon-caret-default {
  width: 10px;
  height: 6px;
  fill: currentColor;
}

.icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.icon-stroke {
  stroke: currentColor;
  fill: none;
}

.icon-info {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.icon-big {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.icon-breadcrumbs {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.center-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-phone-floating .icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
.btn-phone-floating .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Cards */
.object {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px 0;
  margin-top: 5px;
}

.object.object_marked {
  background-color: #fdfdda;
  box-shadow: none;
}

.js-search-result-counter .dropdown-toggle,
.pagination .dropdown-toggle {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: bottom;
  border-radius: 5px;
  padding: 6px 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 32px !important;
  background-image: none;
  filter: none;
  background-color: #ffffff;
  color: #777777;
  border: 1px solid #e6e6e6;
  line-height: 1.42857143;
  text-decoration: none;
}
.js-search-result-counter a.dropdown-toggle:visited,
.pagination a.dropdown-toggle:visited {
  color: #777777;
}
.js-search-result-counter .dropdown-toggle:hover,
.pagination .dropdown-toggle:hover {
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #333333;
}
.js-search-result-counter .dropdown-toggle.active,
.pagination .dropdown-toggle.active {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #333333;
}
.js-search-result-counter .dropdown-toggle.active:hover,
.pagination .dropdown-toggle.active:hover {
  border: 1px solid #e6e6e6;
  color: #333333;
}
.js-search-result-counter .dropdown-toggle:focus,
.pagination .dropdown-toggle:focus {
  box-shadow: none;
  border: 1px solid #333333;
}
.js-search-result-counter .dropdown-menu,
.pagination .dropdown-menu {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0 !important;
  border: 1px solid #e6e6e6 !important;
  box-shadow: none !important;
}
.js-search-result-counter .dropdown-menu li a,
.pagination .dropdown-menu li a {
  font-size: 14px;
  font-weight: 500 !important;
  color: #777777 !important;
  padding: 6px 10px;
  margin: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #f5f5f5 !important;
}
.js-search-result-counter .dropdown-menu > li > a,
.pagination .dropdown-menu > li > a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
}
.js-search-result-counter .dropdown-menu li a:hover,
.pagination .dropdown-menu li a:hover {
  background-color: #f5f5f5;
  background-image: none !important;
}
.js-search-result-counter .dropdown-menu li:first-child a,
.pagination .dropdown-menu li:first-child a {
  border-radius: 5px 5px 0 0 !important;
}
.js-search-result-counter .dropdown-menu li:last-child a,
.pagination .dropdown-menu li:last-child a {
  border-radius: 0 0 5px 5px !important;
  border: none !important;
}
.js-search-result-counter .dropdown-menu li.active a,
.pagination .dropdown-menu li.active a {
  background-color: #e6e6e6 !important;
  color: #333333 !important;
  background-image: none !important;
}

/* Search preview */
.search-result-preview {
  font-size: 14px;
  font-weight: 400;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 5px 0;
  padding: 8px 15px;
  margin-bottom: 20px;
}

.search-result-preview a {
  color: #084c95;
}
.search-result-preview a:hover {
  color: #07386c;
}
.search-result-preview a:visited {
  color: #07386c;
}
.search-result-preview .breadcrumb {
  margin: 0;
  padding: 0;
}
.search-result-preview .small {
  font-size: 14px;
  color: #333333;
}
.search-result-preview .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-result-preview .col-xs-5 .pull-right .btn-group.small {
  margin: 0;
}
.search-result-preview .row.media.clearfix.object.object_even.media_after_travel {
  background-color: #ffffff;
  padding: 5px 15px;
}
@media screen and (max-width: 768px) {
  .search-result-preview .search-result-preview {
    margin-bottom: 58px;
  }
  .search-result-preview .row {
    flex-direction: column;
  }
  .search-result-preview .col-xs-7 {
    width: 100%;
  }
  .search-result-preview .col-xs-5 {
    position: relative;
    width: 100%;
    margin-top: -25px;
    padding: 0;
    top: 52px;
    color: #777777;
  }
  .search-result-preview .col-xs-5 .pull-right {
    float: none !important;
    display: flex;
    justify-content: center;
  }
  .search-result-preview .col-xs-5 .btn-group {
    width: 100%;
  }
  .search-result-preview .col-xs-5 .button-dropdown {
    width: 100%;
  }
  .search-result-preview .col-xs-5 .dropdown-toggle {
    color: #777777;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.4;
  }
}

.object a {
  color: #084c95;
}
.object a:hover {
  color: #07386c;
}
.object a:visited {
  color: #07386c;
}
.object .btn {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: bottom;
  border-radius: 5px;
  padding: 6px 10px;
  font-weight: 500;
  line-height: 1.314;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 32px !important;
}
.object .btn-default {
  background-image: none;
  filter: none;
  background-color: #ffffff;
  border-radius: 5px;
  color: #777777;
  border: 1px solid #e6e6e6;
  padding: 6px 10px;
  font-weight: 500;
  line-height: 1.42857143;
}
.object .btn-default:hover {
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #333333;
}
.object .btn-default.active {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #333333;
}
.object .btn-default.active:hover {
  border: 1px solid #e6e6e6;
  color: #333333;
}
.object .btn-default:focus {
  box-shadow: none;
  border: 1px solid #333333;
}
.object .btn-info {
  background-color: #084c95;
  border-radius: 5px;
  background-image: none;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.object .btn-info:hover {
  background-color: #07386c;
}
.object .btn-info:focus {
  background-color: #07386c;
}
.object .btn-info:active {
  background-color: #07386c;
}
.object .btn-info:active:hover {
  background-color: #07386c;
}
.object .btn-xs {
  padding: 6px 10px;
  font-size: 14px;
  height: 32px !important;
  line-height: 1.42857143;
}
.object .btn-group-xs > .btn {
  line-height: 1.42857143;
}
.object .btn-default:active,
.object .btn-default.active {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.object .object__show-phone {
  color: #ffffff !important;
}
.object .object__show-phone:visited {
  color: #ffffff !important;
}
.object .object__gallery,
.object .object__gallery-item {
  border-radius: 5px;
}
.object .object__data {
  padding: 10px 0;
}
.object .object__meta {
  padding: 10px 0;
}
.object .object__actions {
  margin-top: 10px;
  position: absolute;
  right: -10px;
  bottom: 18px;
  width: auto;
}
.object .header_adv_short {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333333;
}
.object .header_adv_short:hover {
  color: #333333;
}
.object .object__lead {
  font-size: 28px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 5px;
}
.object .text-location {
  font-weight: 500;
  margin-bottom: 5px;
}
.object .text-location svg {
  position: relative;
  top: 2px;
}
.object .text-muted.object__text-trim.object__text-comment.tooltip_comment_action.tooltip_comment_loaded {
  font-size: 14px;
  color: #777777;
  font-weight: 400;
}
.object .object__status {
  display: flex;
  align-items: center;
  color: #777777;
  gap: 10px;
}
.object .object__status-hot {
  font-size: 14px;
  color: #ffffff;
  background-color: #d9534f;
  padding: 5px 10px;
  border-radius: 5px;
  width: auto;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.object .object__owner-name {
  display: flex;
  align-items: center;
  gap: 5px;
}
.object .col-xs-1,
.object .col-sm-1,
.object .col-md-1,
.object .col-lg-1,
.object .col-xs-2,
.object .col-sm-2,
.object .col-md-2,
.object .col-lg-2,
.object .col-xs-3,
.object .col-sm-3,
.object .col-md-3,
.object .col-lg-3,
.object .col-xs-4,
.object .col-sm-4,
.object .col-md-4,
.object .col-lg-4,
.object .col-xs-5,
.object .col-sm-5,
.object .col-md-5,
.object .col-lg-5,
.object .col-xs-6,
.object .col-sm-6,
.object .col-md-6,
.object .col-lg-6,
.object .col-xs-7,
.object .col-sm-7,
.object .col-md-7,
.object .col-lg-7,
.object .col-xs-8,
.object .col-sm-8,
.object .col-md-8,
.object .col-lg-8,
.object .col-xs-9,
.object .col-sm-9,
.object .col-md-9,
.object .col-lg-9,
.object .col-xs-10,
.object .col-sm-10,
.object .col-md-10,
.object .col-lg-10,
.object .col-xs-11,
.object .col-sm-11,
.object .col-md-11,
.object .col-lg-11,
.object .col-xs-12,
.object .col-sm-12,
.object .col-md-12,
.object .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
@media (max-width: 1024px) {
  .object .col-xs-1,
  .object .col-sm-1,
  .object .col-md-1,
  .object .col-lg-1,
  .object .col-xs-2,
  .object .col-sm-2,
  .object .col-md-2,
  .object .col-lg-2,
  .object .col-xs-3,
  .object .col-sm-3,
  .object .col-md-3,
  .object .col-lg-3,
  .object .col-xs-4,
  .object .col-sm-4,
  .object .col-md-4,
  .object .col-lg-4,
  .object .col-xs-5,
  .object .col-sm-5,
  .object .col-md-5,
  .object .col-lg-5,
  .object .col-xs-6,
  .object .col-sm-6,
  .object .col-md-6,
  .object .col-lg-6,
  .object .col-xs-7,
  .object .col-sm-7,
  .object .col-md-7,
  .object .col-lg-7,
  .object .col-xs-8,
  .object .col-sm-8,
  .object .col-md-8,
  .object .col-lg-8,
  .object .col-xs-9,
  .object .col-sm-9,
  .object .col-md-9,
  .object .col-lg-9,
  .object .col-xs-10,
  .object .col-sm-10,
  .object .col-md-10,
  .object .col-lg-10,
  .object .col-xs-11,
  .object .col-sm-11,
  .object .col-md-11,
  .object .col-lg-11,
  .object .col-xs-12,
  .object .col-sm-12,
  .object .col-md-12,
  .object .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.object .object__actions-item svg {
  stroke: #777777;
  fill: none;
}
.object .object__actions-item.active svg {
  fill: #777777;
}
@media (max-width: 1024px) {
  .object .object__actions {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
    width: unset;
  }
}
@media (max-width: 992px) {
  .object .object__data {
    width: 65%;
  }
  .object .object__actions {
    margin: 0;
    padding: 0;
    width: unset;
  }
}
@media (max-width: 768px) {
  .object .object__actions {
    top: unset;
  }
  .object .object__data {
    width: unset;
  }
}
@media (min-width: 1024px) {
  .object .object__actions {
    right: -15px !important;
  }
}

@media (min-width: 768px) {
  .container:not(.full-size) .object .object__lead,
  .modal .object .object__lead {
    font-size: 28px;
  }
}
/* Pagination */
.pagination li span,
.pagination li a {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
  margin: 0 2.5px;
  font-size: 14px;
  background-color: #ffffff;
  color: #333333;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  vertical-align: middle;
  background-image: none;
}
.pagination li span:hover,
.pagination li a:hover {
  background-color: #f5f5f5;
  color: #333333;
}
.pagination li.active span,
.pagination li.active a {
  background-color: #e6e6e6;
  color: #333333;
  border: 1px solid #e6e6e6;
}
.pagination li.active span:hover,
.pagination li.active a:hover {
  background-color: #e6e6e6;
  color: #333333;
  border: 1px solid #e6e6e6;
}
.pagination li span,
.pagination li a {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 5px 10px;
  margin: 0 2.5px;
  font-size: 14px;
  background-color: #ffffff;
  color: #333333;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  vertical-align: middle;
  background-image: none;
}
.pagination li span:hover,
.pagination li a:hover {
  background-color: #f5f5f5;
  color: #333333;
}
.pagination li.active span,
.pagination li.active a {
  background-color: #e6e6e6;
  color: #333333;
  border: 1px solid #e6e6e6;
}
.pagination li.active span:hover,
.pagination li.active a:hover {
  background-color: #e6e6e6;
  color: #333333;
  border: 1px solid #e6e6e6;
}

/*# sourceMappingURL=announce.css.map */
