/* Icons */
.icon-map-small {
  width: 12px;
  height: 14px;
  fill: currentColor;
}

.icon-caret-default {
  width: 10px;
  height: 6px;
  fill: currentColor;
}

.icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.icon-stroke {
  stroke: currentColor;
  fill: none;
}

.icon-info {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.icon-big {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.icon-breadcrumbs {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.center-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-phone-floating .icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
.btn-phone-floating .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.btn-phone-floating .btn-info {
  background-color: #084c95;
  border-radius: 5px;
  color: #ffffff;
  background-image: none;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-phone-floating .btn-info:hover {
  background-color: #07386c;
  color: #ffffff;
}
.btn-phone-floating .btn-info:focus {
  background-color: #07386c;
}
.btn-phone-floating .btn-info:active {
  background-color: #07386c;
}
.btn-phone-floating .btn-info:active:hover {
  background-color: #07386c;
}

.extendedEntity {
  /* Icons */
  /* Buttons */
  /* Slider big */
  /* Mortgage */
}
.extendedEntity .apartment-top-container a,
.extendedEntity .main-breadcrumbs.breadcrumb a {
  color: #084c95;
}
.extendedEntity .apartment-top-container a:hover,
.extendedEntity .main-breadcrumbs.breadcrumb a:hover {
  color: #07386c;
}
.extendedEntity .apartment-top-container a:visited,
.extendedEntity .main-breadcrumbs.breadcrumb a:visited {
  color: #07386c;
}
.extendedEntity .icon-map-small {
  width: 12px;
  height: 14px;
  fill: currentColor;
}
.extendedEntity .icon-caret-default {
  width: 10px;
  height: 6px;
  fill: currentColor;
}
.extendedEntity .icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
.extendedEntity .icon-stroke {
  stroke: currentColor;
  fill: none;
}
.extendedEntity .icon-info {
  width: 12px;
  height: 12px;
  fill: currentColor;
}
.extendedEntity .icon-big {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.extendedEntity .main-breadcrumbs .icon-breadcrumbs {
  width: 12px;
  height: 12px;
  fill: currentColor;
}
.extendedEntity .center-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.extendedEntity #banki-ru-widget .btn,
.extendedEntity .apartment-top-container .btn,
.extendedEntity .ds-social .btn {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: bottom;
  border-radius: 5px;
  padding: 6px 10px;
  font-weight: 500;
  line-height: 1.314;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 32px !important;
}
.extendedEntity #banki-ru-widget .btn-default,
.extendedEntity .apartment-top-container .btn-default,
.extendedEntity .ds-social .btn-default {
  background-image: none;
  filter: none;
  background-color: #ffffff;
  border-radius: 5px;
  color: #777777;
  border: 1px solid #e6e6e6;
  padding: 6px 10px;
  font-weight: 500;
  line-height: 1.42857143;
}
.extendedEntity #banki-ru-widget .btn-default:hover,
.extendedEntity .apartment-top-container .btn-default:hover,
.extendedEntity .ds-social .btn-default:hover {
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #333333;
}
.extendedEntity #banki-ru-widget .btn-default.active,
.extendedEntity .apartment-top-container .btn-default.active,
.extendedEntity .ds-social .btn-default.active {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #333333;
}
.extendedEntity #banki-ru-widget .btn-default.active:hover,
.extendedEntity .apartment-top-container .btn-default.active:hover,
.extendedEntity .ds-social .btn-default.active:hover {
  border: 1px solid #e6e6e6;
  color: #333333;
}
.extendedEntity #banki-ru-widget .btn-default:focus,
.extendedEntity .apartment-top-container .btn-default:focus,
.extendedEntity .ds-social .btn-default:focus {
  box-shadow: none;
  border: 1px solid #333333;
}
.extendedEntity .apartment-top-container .btn-xs,
.extendedEntity .ds-social .btn-xs {
  padding: 6px 10px;
  font-size: 14px;
  height: 32px !important;
  line-height: 1.42857143;
}
.extendedEntity .apartment-top-container .btn-group-xs > .btn,
.extendedEntity .ds-social .btn-group-xs > .btn {
  line-height: 1.42857143;
}
.extendedEntity .apartment-top-container .btn-primary,
.extendedEntity .ds-social .btn-primary {
  background-color: #084c95;
  color: #ffffff;
  border-radius: 5px;
  background-image: none;
  border: none;
}
.extendedEntity .apartment-top-container .btn-primary:hover,
.extendedEntity .ds-social .btn-primary:hover {
  background-color: #07386c;
  color: #ffffff;
}
.extendedEntity .apartment-top-container .btn-primary:focus,
.extendedEntity .ds-social .btn-primary:focus {
  background-color: #07386c;
  border: 1px solid #333333;
}
.extendedEntity .apartment-top-container .btn-danger,
.extendedEntity .ds-social .btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
  background-image: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.extendedEntity .apartment-top-container .btn-info,
.extendedEntity .ds-social .btn-info {
  background-color: #084c95;
  border-radius: 5px;
  color: #ffffff;
  background-image: none;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.extendedEntity .apartment-top-container .btn-info:hover,
.extendedEntity .ds-social .btn-info:hover {
  background-color: #07386c;
  color: #ffffff;
}
.extendedEntity .apartment-top-container .btn-info:focus,
.extendedEntity .ds-social .btn-info:focus {
  background-color: #07386c;
}
.extendedEntity .apartment-top-container .btn-info:active,
.extendedEntity .ds-social .btn-info:active {
  background-color: #07386c;
}
.extendedEntity .apartment-top-container .btn-info:active:hover,
.extendedEntity .ds-social .btn-info:active:hover {
  background-color: #07386c;
}
.extendedEntity .apartment-top-container .btn-warning,
.extendedEntity .ds-social .btn-warning {
  background-color: #eda33b;
  border-radius: 5px;
  background-image: none;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
}
.extendedEntity .apartment-top-container .btn-warning:hover,
.extendedEntity .ds-social .btn-warning:hover {
  background-color: #d39235;
  text-decoration: none;
}
.extendedEntity .btn-default:active,
.extendedEntity .btn-default.active,
.extendedEntity .btn-primary:active,
.extendedEntity .btn-primary.active,
.extendedEntity .btn-success:active,
.extendedEntity .btn-success.active,
.extendedEntity .btn-info:active,
.extendedEntity .btn-info.active,
.extendedEntity .btn-warning:active,
.extendedEntity .btn-warning.active,
.extendedEntity .btn-danger:active,
.extendedEntity .btn-danger.active {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.extendedEntity .ds-annouce-info {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.extendedEntity .ds-annouce-info .small.text-muted {
  color: #333333;
  font-size: 14px;
}
.extendedEntity .ds-annouce-info .panel-body-adv-block .label {
  display: flex;
  align-items: center;
  gap: 3px;
}
.extendedEntity .ds-annouce-info .label {
  display: inline-block;
  align-items: center;
  align-content: center;
  gap: 3px;
  height: 20px;
  padding: 0.3em 0.6em 0.3em;
}
.extendedEntity .panel-body-adv-block noindex {
  display: flex;
  gap: 4px;
}
.extendedEntity .apartment-top-container .panel-body-adv-block a i,
.extendedEntity .ds-social .panel-body-adv-block a i {
  font-size: 14px;
}
.extendedEntity .apartment-top-container .panel-body-adv-block .notepad_action,
.extendedEntity .ds-social .panel-body-adv-block .notepad_action {
  display: flex;
  gap: 3px;
}
.extendedEntity .ds-social {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.extendedEntity .ds-social .btn-social-icon > :first-child {
  font-size: 14px;
}
.extendedEntity .panel-body-adv-block__scroll-x {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
@media screen and (max-width: 767px) {
  .extendedEntity .panel-body-adv-block__scroll-x {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .extendedEntity .panel-body-adv-block__scroll-x .panel-body-adv-block {
    flex-wrap: nowrap !important;
  }
  .extendedEntity .panel-body-adv-block__scroll-x::-webkit-scrollbar {
    display: none;
  }
}
.extendedEntity .ds-social .btn-social-icon {
  height: 32px;
  width: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extendedEntity .ds-social .panel-body-adv-block {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.extendedEntity .panel-body-adv-block .btn-favorite-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: 32px;
  width: 32px;
  padding: 0;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.extendedEntity .panel-body-adv-block .btn-favorite-icon:hover {
  background-color: #f5f5f5;
}
.extendedEntity .btn-favorite-icon svg {
  stroke: #777777;
  fill: none;
}
.extendedEntity .btn-favorite-icon.active svg {
  fill: #777777;
}
.extendedEntity .btn-social-icon > :first-child {
  position: static;
  width: 14px !important;
  height: 14px !important;
}
.extendedEntity .apartment-top-container .apartment-desc__owner noindex {
  display: flex;
  gap: 5px;
  align-items: center;
}
.extendedEntity .label-default {
  display: inline-block;
  margin: 0 0 5px 0;
}
.extendedEntity .main-breadcrumbs.breadcrumb li.small {
  font-size: 14px;
}
.extendedEntity .apartment-gallery .fotorama__stage {
  border-radius: 5px;
  background-color: #ffffff;
}
.extendedEntity .apartment-gallery .fotorama__thumb {
  border-radius: 5px;
}
.extendedEntity .apartment-gallery .fotorama__thumb-border {
  border-color: #084c95;
  border-radius: 5px;
  height: 62px;
  width: 62px;
}
@media screen and (min-width: 1199px) {
  .extendedEntity .apartment-gallery .gallery,
  .extendedEntity .apartment-gallery .gallery-with-nav-thumbs {
    position: sticky;
    top: 0;
  }
}
.extendedEntity .apartment-desc {
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 10px;
}
.extendedEntity .apartment-desc__owner {
  color: #777777;
}
.extendedEntity .apartment-desc__item {
  padding: 0px 10px 10px 10px;
}
.extendedEntity .apartment-desc__item a {
  font-weight: 500;
}
.extendedEntity #banki-ru-widget {
  padding: 0 15px;
}
.extendedEntity #banki-ru-widget .col-xs-12.col-lg-12:first-child {
  margin-top: 15px;
  background-color: #f5f5f5;
  border-radius: 10px 10px 0 0;
  border: 1px solid #084c95;
}
.extendedEntity #banki-ru-widget .col-xs-12.col-lg-12:first-child p {
  margin: 0;
}
.extendedEntity #banki-ru-widget .col-xs-12.col-lg-12:last-child {
  border: 1px solid #084c95;
  border-top: none;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
}
.extendedEntity #banki-ru-widget {
  /* .calc-mortgage__result {
    width: 100%;
    justify-content: center;
  } */
}
.extendedEntity #banki-ru-widget .btn-styled-new2 {
  background-color: #084c95;
  color: #ffffff;
}
.extendedEntity #banki-ru-widget .btn-styled-new2:hover {
  background-color: #07386c;
}
.extendedEntity #banki-ru-widget .calc-mortgage__input input {
  height: 32px;
  letter-spacing: unset;
}
.extendedEntity #banki-ru-widget .calc-mortgage__sum {
  letter-spacing: 0.075em;
}
.extendedEntity #banki-ru-widget .calc-mortgage__label {
  margin-bottom: 12px;
}
.extendedEntity #banki-ru-widget .calc-mortgage .rangeslider--horizontal {
  margin: 10px 0;
}
.extendedEntity #banki-ru-widget .mortgage-container {
  margin: 0 15px;
}
.extendedEntity #banki-ru-widget .mortgage-calc-blok {
  margin-top: 15px;
  background-color: #f5f5f5;
  border-radius: 10px 10px 0 0;
  border: 1px solid #084c95;
}
.extendedEntity #banki-ru-widget .mortgage-calc-blok p {
  margin: 0;
}
.extendedEntity #banki-ru-widget .calc-mortgage {
  color: #333333;
  background: none;
  padding: 15px 0;
  margin: 0;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.extendedEntity #banki-ru-widget .calc-mortgage__top {
  padding: 0;
}
.extendedEntity #banki-ru-widget .calc-mortgage__bottom {
  padding: 0;
}
.extendedEntity #banki-ru-widget .calc-mortgage__label {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}
.extendedEntity #banki-ru-widget .calc-mortgage__input.calc-mortgage__input_disabled input {
  color: #ffffff;
  background: #084c95;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 40px 0 8px;
}
.extendedEntity #banki-ru-widget .calc-mortgage__input-c {
  right: -17px;
  font-size: 14px;
  font-weight: 500;
  color: #777777;
  display: flex;
  align-items: center;
}
.extendedEntity #banki-ru-widget .calc-mortgage__input input {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #777777;
}
.extendedEntity #banki-ru-widget .calc-mortgage-price,
.extendedEntity #banki-ru-widget .calc-mortgage-summ {
  width: 94% !important;
}
.extendedEntity #banki-ru-widget .calc-mortgage-rate {
  width: 92% !important;
}
.extendedEntity #banki-ru-widget .calc-mortgage .rangeslider__fill {
  background: #084c95;
  border-radius: 2px 0px 0px 2px;
  height: 4px;
}
.extendedEntity #banki-ru-widget .calc-mortgage .rangeslider__handle::after {
  background: #084c95;
}
.extendedEntity #banki-ru-widget .calc-mortgage .rangeslider--horizontal {
  height: 4px;
  background: #ffffff;
  position: relative;
  margin: 16px 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.extendedEntity #banki-ru-widget .calc-mortgage__result::after,
.extendedEntity #banki-ru-widget .calc-mortgage__result::before {
  content: none;
}
.extendedEntity #banki-ru-widget .calc-mortgage__result .calc-mortgage__sum {
  font-size: 21px;
  color: #084c95;
  margin-right: 10px;
  margin-left: 150px;
}
.extendedEntity #banki-ru-widget .calc-mortgage__result .calc-mortgage__note {
  font-size: 14px;
  color: #777777;
  max-width: unset;
}
.extendedEntity #banki-ru-widget .mortgage-table-blok {
  border: 1px solid #084c95;
  border-top: none;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
}
.extendedEntity #banki-ru-widget .table-mortgage {
  font-size: 12px;
  color: #084c95;
  margin-bottom: 15px;
}
.extendedEntity #banki-ru-widget .table-mortgage th {
  line-height: 18px;
  color: #777777;
}
.extendedEntity #banki-ru-widget .table-mortgage-header {
  color: #777777;
}
.extendedEntity #banki-ru-widget .table-mortgage tr {
  position: relative;
  border: none;
}
.extendedEntity #banki-ru-widget .table-mortgage tr:first-child::after {
  border-bottom: 1px solid #e6e6e6;
}
.extendedEntity #banki-ru-widget .table-mortgage tr::after {
  content: "";
  position: absolute;
  width: calc(100% + 30px);
  left: -15px;
  bottom: 0;
  border-bottom: 1px solid #e6e6e6;
}
.extendedEntity #banki-ru-widget .table-mortgage__name {
  font-size: 14px;
}
.extendedEntity #banki-ru-widget .table-mortgage td:nth-child(5),
.extendedEntity #banki-ru-widget .table-mortgage th:nth-child(5) {
  width: 45px;
}
.extendedEntity #banki-ru-widget .table-mortgage-btn {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #777777;
  height: 37px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.extendedEntity #banki-ru-widget .table-mortgage-btn:hover {
  background-color: #f5f5f5;
  color: #333333;
}
.extendedEntity #banki-ru-widget .table-mortgage-show {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #777777;
  height: 37px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
}
.extendedEntity #banki-ru-widget .table-mortgage-show:hover {
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #333333;
}
.extendedEntity #banki-ru-widget .table-mortgage__btn-popover {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #777777;
  margin-right: 5px;
  display: inline-block;
}
.extendedEntity #banki-ru-widget .table-mortgage__btn-popover svg {
  margin-top: 4px;
}
.extendedEntity #banki-ru-widget .table-mortgage__btn-popover:hover {
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  color: #333333;
}
.extendedEntity #banki-ru-widget .calc-mortgage__mobile-btn button {
  background-color: #ffffff;
  color: #777777;
  border: 1px solid #e6e6e6;
  font-size: 16px;
}
.extendedEntity #banki-ru-widget .calc-mortgage__mobile-btn button:hover {
  background-color: #f5f5f5;
  color: #333333;
}
.extendedEntity #banki-ru-widget .calc-mortgage__mobile-btn .btn svg {
  fill: currentColor;
}
@media only screen and (max-width: 991px) {
  .extendedEntity #banki-ru-widget .calc-mortgage__popup {
    background: rgba(43, 43, 43, 0.5);
  }
  .extendedEntity #banki-ru-widget .calc-mortgage__popup-inner {
    background: #fff;
    width: 100%;
    padding: 30px 0;
    position: relative;
    margin: auto;
    border-radius: 10px;
  }
  .extendedEntity #banki-ru-widget .calc-mortgage__top {
    padding: 0 20px;
  }
  .extendedEntity #banki-ru-widget .calc-mortgage__sum::before {
    display: none;
  }
  .extendedEntity #banki-ru-widget .calc-mortgage__sum::after {
    display: none;
  }
  .extendedEntity #banki-ru-widget .calc-mortgage__result .calc-mortgage__sum {
    font-size: 21px;
    color: #084c95;
    margin-right: 0;
    margin-left: 0;
  }
}

/*# sourceMappingURL=announce-page.css.map */
