$font-size-section-title: 20px;
$font-size-section-subtitle: 14px;

li.media.clearfix.object:has(.blog-section) {
  background-color: transparent;
}

// section
.blog-section {
  margin-bottom: 40px;

  .section__title {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }

    &.alt_simple {
      border-radius: 10px;
      padding: 20px;
      background-color: $color-surface;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    &.alt_painted {
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }
    &.alt_slider {
      display: flex;
    }
    &.alt_single {
      display: block;
    }
    &.alt_double {
      grid-template-columns: 1fr 1fr;
    }

    &:has(.article-preview__under-img:only-child) {
      grid-template-columns: 1fr;
    }
  }
  .section__header {
    display: flex;
    gap: 10px;
  }
  .section__header-title-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3px;
  }
  .section__header-subtitle {
    font-size: $font-size-section-subtitle;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
    padding: 0;
  }
  .section__header-title {
    font-size: $font-size-section-title;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    padding: 0;
  }
  .section__header-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    outline: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .section__header-btns {
    display: flex;
    gap: 3px;
  }

  .section-group {
    display: grid;
    grid-template-columns: 1fr 370px;
    gap: 15px;
    margin-bottom: 40px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr 350px;
    }

    &.left-pop {
      grid-template-columns: 370px 1fr;

      @media (max-width: 991px) {
        grid-template-columns: 350px 1fr;
      }
    }

    .section-group__articles-container {
      display: grid;
      gap: 15px;
      grid-template-columns: 1fr 1fr;
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .section-group-container {
    margin-bottom: 40px;
    .section-group {
      margin-bottom: 15px;
      height: 378px;

      @media (max-width: 1199px) {
        height: unset;
      }
    }
  }

  // Article inder image
  .article-preview__under-img {
    &:hover,
    &:focus {
      text-decoration: none;
      outline: none;

      .article-preview__title {
        color: $color-primary;
      }
      .article-preview__image {
        img {
          scale: 1.1;
        }
      }
    }
    &:focus {
      .article-preview__title {
        color: $color-primary;
        text-decoration: underline;
      }
    }
    .article-preview__image {
      height: 280px;
      border-radius: 10px;
      overflow: hidden;
      background-color: #fff;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: scale ease-in-out 0.3s;
      }

      @media (max-width: 991px) {
        height: 185px;
      }
    }
    .article-preview__content {
      padding: 10px;
      padding-bottom: 0;
    }

    .article-preview__title {
      width: 100%;
      font-weight: 700;
      font-size: 16px;
      line-height: 135%;
      letter-spacing: 0%;
      margin: 0;
      color: $color-dark;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
    .article-preview__other-info {
      display: flex;
      gap: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
      color: $color-grey;
      margin-top: 5px;
    }
    .article-preview__views,
    .article-preview__post-time {
      display: flex;
      align-items: center;
      gap: 3px;
    }
    .article-preview__description {
      display: none;
    }

    &:only-child {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      gap: 15px;
      color: $color-dark;
      text-decoration: none;

      @media (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        outline: none;

        .article-preview__title {
          color: $color-primary;
        }
        .article-preview__image {
          img {
            scale: 1.1;
          }
        }
      }
      &:focus {
        .article-preview__title {
          color: $color-primary;
          text-decoration: underline;
        }
      }

      .article-preview__image {
        height: 190px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;

        @media (max-width: 1200px) {
          height: 160px;
        }
        @media (max-width: 991px) {
          height: 185px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: scale ease-in-out 0.3s;
        }
      }

      .article-preview__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 135%;
        margin: 10px 10px 0 10px;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
      }

      .article-preview__description {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $color-dark;
        margin: 10px 10px 5px 10px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media (max-width: 767px) {
          display: none;
        }
      }

      .article-preview__other-info {
        display: flex;
        gap: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0%;
        color: $color-grey;
        margin: 10px;

        @media (max-width: 767px) {
          margin-top: 5px;
        }

        span {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }
}
