.form-vertical,
.form-horizontal {
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;

    .control-label {
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      color: $color-grey;
      margin-bottom: 8px;
      padding: 0;

      label {
        font-weight: 400;
      }

      i {
        font-weight: 600;
      }
    }

    &.direction-row {
      .col-sm-6 {
        label.control-label {
          font-weight: 700;
          color: $color-dark;
          i {
            font-weight: 600;
          }
        }
      }
    }

    &.has-error {
      .control-label {
        color: $color-grey;
      }
      .help-block {
        color: $color-invalid;
        &.contact-note {
          color: #737373;
        }
      }
      .form-control-feedback {
        color: $color-invalid;
        top: 4px;
        opacity: 0;
      }
    }
    &.has-success {
      .control-label {
        color: $color-grey;
      }
      .form-control-feedback {
        color: $color-valid;
        top: 4px;
        opacity: 0;
      }
    }
    .help-block {
      i.form-control-feedback {
        top: 4px;
        opacity: 0;
        display: none !important;
      }
    }
  }
}

.form-vertical {
  .form-group {
    > div {
      width: 100%;
      padding: 0;
    }
  }
}

.form-horizontal {
  .form-group {
    flex-direction: row;
    gap: 8px;

    &::before {
      display: none;
    }

    > div {
      padding: 0;
    }

    @media (max-width: 768px) {
      flex-direction: column;

      > div {
        width: 100%;
      }
    }
  }
}

.bootstrap-select > .dropdown-toggle {
  padding-right: 15px;
  &:focus {
    box-shadow: none;
    outline: 2px solid $color-dark !important;
  }
}

.location-attributes,
.adv-comment-block,
.adv-price-block,
.adv-attributes-block {
  .controls {
    > div {
      width: 100%;
      padding: 0;
    }
    .built_quarter {
      margin-top: 16px;
    }
  }
}

.fileupload_context {
  .btn {
    width: fit-content;
  }
}

.form-control-static {
  width: fit-content;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: $border-radius;
  border: 1px solid $color-secondary;

  &:hover {
    background-color: $color-secondary;

    a {
      color: $color-primary;
    }
  }
  a {
    font-size: 14px;
    font-weight: 400;
    color: $color-dark;
    &:hover {
      text-decoration: none;
      color: $color-primary;
    }
  }
}
#new_advertisement {
  i {
    display: none;
  }
  .fields {
    .col-lg-offset-2 {
      margin-left: 0;
    }

    .btn {
      width: 100%;
      align-items: center;
      justify-content: center;

      @media (max-width: 767px) {
        width: unset;
        margin-bottom: 0;
        border-radius: 5px;
      }
    }
    .save-button-advertisement {
      .help-block {
        margin-top: 16px;
      }
      .btn.btn-add-advertisement {
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }

  &.form-vertical {
    .bootstrap-select {
      width: 100%;
    }
  }
}
.user-params {
  .fields {
    .btn-group {
      display: inline-flex;
      margin-bottom: 0;

      @media (max-width: 767px) {
        flex-wrap: nowrap;
        gap: 4px;
        overflow-x: scroll;
        width: 100%;

        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }

        > .btn {
          width: unset;
          margin-bottom: 0;
          border-radius: 5px;

          &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
            border-radius: 5px;
          }
          &:first-child:not(:last-child):not(.dropdown-toggle) {
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.help-block.compliment-site {
  &.small {
    font-size: 14px;
    margin-bottom: 24px;
    color: $color-grey;
    line-height: 1.3;
  }
}

.form-section {
  border: 1px solid $color-secondary;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;

  h3.form-section-title {
    font-size: 18px;
    font-weight: 700;
    color: $color-dark;
    line-height: 1.2;
    margin-bottom: 15px;
  }
}

.text-thin {
  font-weight: 400;
}

.text-block {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  .text-block__main {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 15px;
  }
  .text-block__additional {
    font-family: Arial;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    color: $color-grey;
    margin-bottom: 5px;

    &.black {
      color: $color-dark;
      font-family: Arial;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
