// TODO: remove variables to build
$color-primary: #084c95;
$color-primary-hover: #2167b4;
$color-attention-surface: #fbf5ef;
$color-invalid: #f55c3d;
$color-valid: #acf256;
$color-dark: #242a3e;
$color-grey: #8c91a6;
$color-secondary: #e6eff9;
$color-surface: #f6f7f9;
$color-white: #ffffff;
$color-disabled: #c4cdd9;
$color-visited: #c40dd4;

.form-section {
  border: 1px solid $color-secondary;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;

  h3.form-section-title {
    font-size: 18px;
    font-weight: 700;
    color: $color-dark;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  &:has(.form-group.animated-radios-and-checkboxes) {
    padding-bottom: 10px;
  }
}

.control-label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.tooltip-container {
  position: relative;
  color: $color-primary;

  .tooltip-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-secondary;
    border-radius: 5px;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  .tooltip-content {
    position: absolute;
    top: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-secondary;
    width: 190px;
    border-radius: 5px;
    padding: 5px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    pointer-events: none;
    p {
      font-size: 14px;
      line-height: 1;
      font-weight: 700;
      text-align: center;
      margin-bottom: 0;
    }
    &.active {
      opacity: 1;
      pointer-events: auto;
    }
    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 5px;
    }
  }
}

.btn-group {
  .btn {
    min-width: 44px;
    justify-content: center;
  }
}

.form-counter {
  display: flex;
  align-items: center;
  gap: 3px;

  .btn {
    display: flex;
  }
  .form-control.form-counter__input {
    min-width: 60px;

    text-align: center;
    padding-left: 10px !important;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    @media (min-width: 768px) {
      width: 60px;
    }
  }
}
@media (min-width: 768px) {
  .form-vertical .form-group > div.form-counter {
    width: unset;
  }
}

.form-group.dropdown-with-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 15px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .btn-group.bootstrap-select {
    display: flex;
    width: 100%;
    .btn {
      width: 100%;
    }
  }
}

.text-thin {
  font-weight: 400;
}

.form-sub-section {
  margin-bottom: 15px;

  &:last-child,
  .form-group:last-child {
    margin-bottom: 0;
  }

  h3.form-section-title,
  .form-group.dropdown-with-counter {
    margin-bottom: 10px;
  }
}
.add-field-container {
  .btn-link {
    color: $color-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

    &:hover {
      color: $color-primary-hover;
      text-decoration: none;
    }
    &:active {
      color: $color-primary-hover;
    }
    &:visited {
      color: $color-primary;
    }
  }
}

.form-wrapper-horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  .control-label:not(:has(.tooltip-container)) {
    margin-top: 3px;
    margin-bottom: 11px;
  }

  @media (max-width: 767px) {
    .form-group {
      margin-bottom: 0;
      width: 100%;
    }
  }
}

// Checkbox
.animated-radios-and-checkboxes {
  .checkbox {
    margin: 0;
    margin-bottom: 10px;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }

    label {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
      padding: 0;
      height: unset;
    }
  }

  &.form-group {
    .checkbox-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.step-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  .btn {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.adv-form {
  .fields {
    .step-buttons {
      .btn {
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
}

.form-group p {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: $color-dark;
  font-weight: 400;
}

.one_active_btn_action {
  label {
    position: relative;
    input[type="radio"] {
      opacity: 0;
      position: absolute;
      cursor: pointer;
    }

    &:has(input:checked) {
      background-color: $color-secondary;
      color: $color-primary;
    }
    &:has(input:focus) {
      background-color: #fff;
      color: $color-dark;
      outline-offset: -2px;
      outline: 2px solid $color-dark;
      z-index: 1;
    }
  }
}

.select2-custom,
.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 44px;
  border-radius: 5px;
  border: 1px solid $color-secondary;
  padding: 0 15px;
  background-color: $color-white;
  color: $color-dark;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%;

  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $color-primary;
  }

  &:focus {
    background-color: $color-secondary;
    color: $color-primary;
    border-color: $color-secondary;
    outline: 2px solid $color-dark;
    z-index: 1;
    outline-offset: -2px;
  }

  .select2-selection__rendered {
    color: $color-dark;
    padding-left: 0;
    padding-right: 20px;

    &[title="Выберите"] {
      color: $color-primary;
      font-weight: 400;
    }

    &:hover {
      color: $color-primary;
    }

    .select2-selection__placeholder {
      color: $color-dark;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
    }
  }

  .select2-selection__arrow {
    right: 12px;
    top: 16px;
    width: 16px;
    height: 16px;
  }
}

.select2-container--default.select2-container--open {
  &.select2-container--below,
  &.select2-container--above {
    .select2-selection--single {
      border-radius: 5px;
    }
  }
}

.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple {
  border-color: $color-secondary;
  background-color: $color-secondary;
  color: $color-primary;

  .select2-selection__arrow b {
    border-color: transparent transparent $color-grey transparent;
    border-width: 0 4px 5px 4px;
  }
}

.select2-dropdown {
  border: 1px solid $color-secondary;
  border-radius: 8px;
  padding: 3px;
  background-color: $color-white;

  &.select2-dropdown--below {
    top: calc(100% + 8px);
  }
  &.select2-dropdown--above {
    top: calc(100% - 8px);
  }
}

.select2-container--open {
  .select2-dropdown--below {
    border-radius: 8px;
    border-top: 1px solid $color-secondary;
  }
  .select2-dropdown--above {
    border-radius: 8px;
    border-bottom: 1px solid $color-secondary;
  }
}

.select2-container--default .select2-results__option {
  padding: 8px 12px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-dark;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  border-radius: 5px;
  margin-bottom: 1px;

  &.select2-results__option--highlighted[aria-selected] {
    background-color: $color-secondary;
    color: $color-primary;
  }
  &.select2-results__option--selected {
    background-color: $color-secondary;
    color: $color-dark;
  }

  &:hover {
    color: $color-primary;
  }

  &[aria-selected="true"] {
    background-color: $color-secondary;
    color: $color-primary;
  }
}
// Focus states
.select2-container--default.select2-container--focus .select2-selection--single {
  border-color: $color-secondary;
  color: $color-primary;
  outline: 2px solid $color-dark;
  z-index: 1;
  outline-offset: -2px;
}

// Disabled state
.select2-container--default .select2-selection--single.select2-selection--disabled {
  background-color: $color-secondary;
  color: $color-grey;
  cursor: not-allowed;
  border-color: $color-secondary;
}
