@import "global";

/* Review-box */
.review-box {
  .well {
    background-color: $color-white;
    padding: 0;
    margin: 0 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    background-image: none;
  }
  .input-group {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .input-group .form-control {
    width: 100%;
    border-radius: $border-radius;
    border: 1px solid $color-border;
  }
  .input-group input.form-control:first-child:not(:only-child) {
    border-radius: $border-radius !important;
    border: 1px solid $color-border;
  }
  .input-group .input-group-btn {
    width: fit-content;
  }
  .input-group .btn {
    margin: 0;
    border-radius: $border-radius;
  }

  @media (max-width: 768px) {
    .well .input-group {
      flex-direction: column;
      gap: 5px;
    }
  }

  .post-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  input.form-control {
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 6px 10px;
    height: unset;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px !important;
    height: 32px !important;
  }

  textarea.form-control {
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 6px 10px;
    height: unset;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    vertical-align: bottom;
    border-radius: 5px;
    padding: 6px 10px;
    font-weight: 500;
    line-height: 1.314;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 32px !important;
  }

  .btn-primary {
    background-color: $color-blue;
    border-radius: 5px;
    background-image: none;
    border: none;
  }
  .btn-primary:hover {
    background-color: $color-blue-hover;
  }

  .btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
    background-image: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn-danger:hover {
    background-color: #c12e2a;
    border-color: #c12e2a;
  }

  .stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;

    .starrr a {
      font-size: 24px;
      padding: 0 1px;
      cursor: pointer;
      color: $color-blue;
      text-decoration: none;
    }

    .start-full {
      color: $color-blue;
    }
    .start-empty {
      color: $color-grey;
    }
  }
}

.rating {
  svg.icon-rating {
    width: 16px;
    height: 16px;
    fill: $color-blue;
  }
  svg.icon-rating-not-fill {
    width: 16px;
    height: 16px;
    stroke: $color-blue;
    fill: none;
  }
}
