.searchFormPage,
#searchFormModal,
#selectCategoryModal,
#selectOfferTypeModal,
.map_panel {
  /* Icons */
  .icon-map-small {
    width: 12px;
    height: 14px;
    fill: currentColor;
  }
  .icon-caret-default {
    width: 10px;
    height: 6px;
    fill: currentColor;
  }
  .icon-default {
    width: 14px;
    height: 14px;
    fill: currentColor;
  }
  .hidden-xs {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fas.fa-tag {
    display: none;
  }
}

// без этого появляются не нужные кнопки и ломается верстка.
@media (min-width: 768px) {
  .map_panel .buildingTypeSelect,
  .map_panel .renovationSelect,
  .searchFormPage .buildingTypeSelect,
  .searchFormPage .renovationSelect {
    display: none !important;
  }
}

/* Buttons */
.map_panel,
#selectBuildingTypeModal,
#selectRenovationModal,
#selectCategoryModal,
#selectOfferTypeModal,
#searchFormModal,
.searchFormPage {
  .btn-xs {
    padding: $padding-btn-small;
    font-size: 14px;
    height: 44px !important;
    min-width: 44px;
    justify-content: center;
    line-height: 1;
    box-shadow: none;
    min-height: 44px;
  }
  .btn-group-xs > .btn {
    line-height: 1;
    box-shadow: none;
  }

  .btn-styled-new2 {
    background-color: $color-primary;
    color: $color-white;

    &:focus {
      outline: 2px solid $color-dark;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $color-primary-hover;
      }
    }

    @media (hover: none) {
      &:active {
        background-color: $color-primary-hover;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .btn {
      height: 44px !important;
      font-size: 14px;
    }
    .btn-xs {
      height: 44px !important;
      font-size: 14px;
    }
    .form-group.offerTypeButtons .btnText,
    .form-group.categoryButtons .btnText {
      font-size: 14px;
    }
  }

  .btn-default:active,
  .btn-default.active,
  .btn-primary:active,
  .btn-primary.active {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.search_buttons .btn {
  height: 44px !important;
}

/* Inputs */
.map_panel,
#selectCategoryModal,
#selectOfferTypeModal,
#searchFormModal,
.searchFormPage {
  label {
    vertical-align: middle;
  }

  /* Единственный элемент */
  input.form-control:only-child {
    border-radius: $border-radius !important;
  }
  /* Первый элемент */
  input.form-control:first-child:not(:only-child) {
    border-radius: $border-radius 0 0 $border-radius !important;
  }
  /* Последний элемент */
  input.form-control:last-child:not(:only-child) {
    border-radius: 0 $border-radius $border-radius 0 !important;
  }
  /* Предпоследний элемент (не первый и не последний) */
  input.form-control:nth-last-child(2):not(:first-child):not(:last-child) {
    border-radius: 0 $border-radius $border-radius 0 !important;
  }
  /* Элемент не первый, не последний и не предпоследний */
  input.form-control:not(:first-child):not(:last-child):not(:nth-last-child(2)) {
    border-radius: 0 !important;
  }

  .input-group-addon {
    border-radius: 0;
    border: none;
    background: none;
    padding: 5px;
    color: $color-grey-text;
  }
  .input-group-addon.input-sm {
    color: $color-grey-text;
    padding: 5px;
  }
  .input-group-sm input.form-control {
    height: 44px !important;
    font-size: 14px !important;
    min-width: 44px;
    padding: $padding-btn-small !important;
    line-height: 1;
  }
  @media screen and (max-width: 767px) {
    .input-group-sm input.form-control {
      height: 44px !important;
    }
    input.form-control {
      height: 44px !important;
    }
  }

  .form-group {
    &.priceInput label::after {
      content: "";
    }
    &.spaceInput label::after {
      content: "";
    }
    &.estateTypeButtons,
    &.offerTypeButtons,
    &.locationButton,
    &.buildingTypeButtons,
    &.roomButtons,
    &.renovationButtons {
      label:not(.btn-group label) {
        display: none;
      }
    }
    &.priceInput label::after {
      content: ", ₽";
    }
    &.spaceInput label::after {
      content: ", м²";
    }
    .input-group-addon {
      display: none;
    }

    .dropdown-select-menu,
    .dropdown-multiselect-menu {
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
      min-width: 200px;
    }

    &.estateTypeButtons {
      .btn-group {
        .btn-xs {
          padding: 0 15px;
        }
        .btn-default:has(input[type="checkbox"]:focus) {
          outline: 2px solid #242a3e;
          // background-color: white;
          z-index: 5;
          outline-offset: -2px;
        }
        .btn input[type="checkbox"] {
          opacity: 0;
          position: absolute;
        }
      }
    }
  }
  .dropdown-select-toggle,
  .dropdown-multiselect-toggle {
    font-weight: 400;
    @media (min-width: 768px) {
      min-width: 200px;
      justify-content: space-between;
    }
  }
  .dropdown-menu {
    @media (min-width: 768px) {
      min-width: 200px;
    }

    .selected {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}

#selectCategoryModal .commerceCheckboxes {
  margin-left: 15px;
}
#selectCategoryModal .checkbox:has(label.bigger) {
  margin-left: 15px;
}

#selectCategoryModal,
#selectOfferTypeModal,
#searchFormModal {
  @media screen and (max-width: 900px) {
    .modal-body .form-group + .btn-group label {
      font-size: 14px;
      padding: $padding-btn-small !important;
    }
  }
  @media screen and (max-width: 767px) {
    .modal-body .form-group + .btn-group label {
      font-size: 14px;
      padding: $padding-btn-small !important;
    }
  }
}

#searchFormModal .modal-body .form-group {
  &.priceInput label::after {
    content: "";
  }
  &.spaceInput label::after {
    content: "";
  }
  @media screen and (max-width: 768px) {
    &.offerTypeButtons label {
      display: none;
    }
    &.locationButton label {
      display: none;
    }
    &.buildingTypeButtons label:not(.btn-group label),
    &.roomButtons label:not(.btn-group label),
    &.renovationButtons label:not(.btn-group label) {
      display: none;
    }
    &.priceInput label::after {
      content: ", ₽";
    }
    &.spaceInput label::after {
      content: ", м²";
    }
    .input-group-addon {
      display: none;
    }
  }
}

.form-group {
  &.buildingTypeButtons,
  &.renovationButtons {
    .btn-group:not(:last-child) {
      margin-right: 3px;
    }
  }
}

/* Form */
.map_panel_body,
#searchFormModal,
.searchFormPage {
  .well {
    background-color: $color-white;
    border: none;
    border-radius: $border-radius-big;
    box-shadow: none;
    background-image: none;
  }
  .well-sm {
    padding: 5px 0;
  }
}

#searchFormModal,
.searchFormPage {
  &.well {
    background-color: $color-white;
    border: none;
    border-radius: $border-radius-big;
    box-shadow: none;
    background-image: none;
  }

  &.well-sm {
    padding: 5px 0;
  }

  .form-group > label {
    font-size: 14px;
    font-weight: 400;
    color: $color-grey;
  }
}

@media (max-width: 767px) {
  .searchFormPage .well-sm,
  .searchFormPage.well-sm {
    padding: $padding-btn-small;
  }
  .searchFormPage .well,
  .searchFormPage.well {
    background-color: $color-blue;
    min-height: 44px;
    padding: 0px 10px;
  }
  .shortSearchForm.text-center.link {
    color: $color-white;
    text-align: start;
    padding-left: 5px;
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    position: relative;
    font-weight: 700;

    span {
      display: flex;
      align-items: center;
      gap: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .badge {
      background-color: $color-white;
      color: $color-grey;
      margin-left: auto;
      font-weight: 700;
      font-size: 14px;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      padding: 6px 8px;
      border-radius: 13px;
    }
  }

  #selectBuildingTypeModal,
  #selectRenovationModal,
  #selectCategoryModal,
  #selectOfferTypeModal,
  #searchFormModal {
    .modal-dialog .modal-content {
      background-color: $color-white;
    }
  }
  #selectCategoryModal,
  #selectOfferTypeModal,
  #searchFormModal {
    .modal-dialog .modal-content {
      background-color: $color-white;

      .get-search-locations-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
      }

      .title-search-locations-action::before {
        content: "\f3c5";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 5px;
      }
    }
    .modal-footer {
      .map_search_btn {
        margin: 0;
        width: 48.9%;
        @media (max-width: 335px) {
          width: 80%;
        }
      }
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  #selectCategoryModal,
  #selectOfferTypeModal,
  #selectBuildingTypeModal,
  #selectRenovationModal {
    .modal-footer {
      display: flex;
      flex: 1 1;
    }
    .modal-footer .btn {
      width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  #searchFormModal .input-group-addon.input-sm {
    font-size: 14px;
    font-weight: 500;
  }
  #searchFormModal .btn[yaparam="from_owner"] {
    display: flex !important;
  }
}

.map_container {
  height: calc(100vh - 96px);

  @media (max-width: 767px) {
    height: calc(100vh - 138px);
  }
}

.map_panel_body {
  max-height: 80vh;
}
.additional_search_categories_container_action .form-group .btn-group {
  margin-right: 4px;
}

.map_panel {
  .additional_search_subcategories_container_action .form-group .btn-group .btn {
    margin-right: 6px;
    border-radius: 5px;
    margin-bottom: 4px;
  }
  .add_search_link_action,
  .searchFormPage .add_search_link_action {
    color: $color-blue;
  }
  .add_search_link_action:hover,
  .searchFormPage .add_search_link_action:hover {
    color: $color-blue-hover;
  }
  .btn-group .get-search-locations-action {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: $color-grey;
    border: 1px solid $color-grey;
    color: $color-white;
  }
  .btn-group .get-search-locations-action:hover {
    background-color: $color-dark;
    border: 1px solid $color-dark;
    color: $color-white;
  }
  .btn-group.open .get-search-locations-action {
    background-color: $color-dark;
    border: 1px solid $color-dark;
    color: $color-white;
  }
  .btn-group.open .get-search-locations-action:hover {
    background-color: $color-dark;
    border: 1px solid $color-dark;
    color: $color-white;
  }
  .main_search_buttons {
    margin-bottom: 16px;
  }

  .main_search_buttons .btn-primary {
    flex-grow: 0;
  }
  .form-group.pull-right.hidden-xs.search_buttons {
    flex-direction: row;
    display: flex;
    align-items: start;
    justify-content: flex-start;

    .add_search_link_action.btn.btn-default {
      margin-right: 6px;
    }
    .main_search_buttons .load_points_btn {
      margin-left: 6px;
    }
  }
}
.map_panel_hider {
  top: 10px;
}

.well .search_form_action .btn-group .dropdown-toggle {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: $color-white;
  border: 1px solid $color-secondary;
  color: $color-dark;
}

#searchFormModal,
.searchFormPage {
  .search_form_action .btn-group {
    @media (min-width: 768px) {
      margin-left: 1.2px;
    }
    .dropdown-toggle:hover {
      background-color: $color-secondary;
      border: 1px solid $color-secondary;
      color: $color-primary;
    }
    &.open {
      .dropdown-toggle {
        background-color: $color-secondary;
        border: 1px solid $color-secondary;
        color: $color-primary;
      }
      .dropdown-toggle:hover {
        background-color: $color-secondary;
        border: 1px solid $color-secondary;
        color: $color-primary;
      }
    }
  }
  .form-group.pull-right.search_buttons {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

#searchFormModal {
  .offerTypeSelect,
  .categorySelect {
    margin-bottom: 5px;
  }
  .modal-body {
    .form-group.categoryButtons {
      height: unset;
      .propertyTypeButtons {
        display: none;
      }
    }
    .get-search-locations-action {
      background-color: $color-white;
      border: 1px solid $color-secondary;
      color: $color-dark;
      &:hover {
        background-color: $color-secondary;
        border: 1px solid $color-secondary;
        color: $color-primary;
      }
    }

    @media screen and (max-width: 900px) {
      .btn {
        font-size: 14px;
      }
      .form-group > label {
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: $color-grey;
      }
      .description-group .form-control {
        font-size: 14px;
      }
    }
  }
  .modal-footer {
    .ds-search-save {
      min-width: 44px;
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius;
      border: 1px solid $color-secondary;
      background-color: $color-white;
      color: $color-dark;
      &:hover {
        background-color: $color-secondary;
        border: 1px solid $color-secondary;
        color: $color-primary;
      }
      margin-bottom: 0;
    }
    &::before {
      content: none;
    }
    &::after {
      content: none;
    }
  }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .btn-group > .btn:last-child:not(:first-child),
  .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
  }
}

@media screen and (max-width: 900px) {
  #searchFormModal {
    .additional_search_params_container_action .form-group.renovationButtons .btnText,
    .additional_search_params_container_action .form-group.buildingTypeButtons .btnText,
    .form-group.offerTypeButtons .btnText,
    .form-group.categoryButtons .btnText {
      font-size: 14px;
    }
  }
  #searchFormModal .modal-body label.btn:only-child {
    display: flex;
  }
}
