@import "./global.scss";

.searchFormPage,
#searchFormModal,
#selectCategoryModal,
#selectOfferTypeModal,
.map_panel {
  /* Icons */
  .icon-map-small {
    width: 12px;
    height: 14px;
    fill: currentColor;
  }
  .icon-caret-default {
    width: 10px;
    height: 6px;
    fill: currentColor;
  }
  .icon-default {
    width: 14px;
    height: 14px;
    fill: currentColor;
  }
  .hidden-xs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// без этого появляются не нужные кнопки и ломается верстка.
@media (min-width: 768px) {
  .map_panel .buildingTypeSelect,
  .map_panel .renovationSelect,
  .searchFormPage .buildingTypeSelect,
  .searchFormPage .renovationSelect {
    display: none !important;
  }
}

/* Buttons */
.map_panel,
#selectBuildingTypeModal,
#selectRenovationModal,
#form_search_locations_modal,
#selectCategoryModal,
#selectOfferTypeModal,
#searchFormModal,
.searchFormPage {
  .btn {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    vertical-align: bottom;
    border-radius: $border-radius;
    padding: $padding-btn-small;
    font-weight: 500;
    line-height: 1.314;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 32px !important;
  }

  .btn-xs {
    padding: $padding-btn-small;
    font-size: 14px;
    height: 32px !important;
    line-height: 1.42857143;
  }
  .btn-group-xs > .btn {
    line-height: 1.42857143;
  }

  .btn-default {
    background-image: none;
    filter: none;
    background-color: $color-white;
    border-radius: $border-radius;
    color: $color-grey-text;
    border: 1px solid $color-border;
    padding: $padding-btn-small;
    font-weight: 500;
    line-height: 1.42857143;
  }
  .btn-default.active {
    background-color: $color-border;
    border: 1px solid $color-border;
    color: $color-grey-dark;
  }
  .btn-default.active:hover {
    border: 1px solid $color-border;
    color: $color-grey-dark;
  }
  .btn-default:focus {
    box-shadow: none;
    border: 1px solid $color-grey-dark;
  }

  .btn-styled-new2 {
    background-color: $color-blue;
    color: $color-white;
  }

  .btn-primary {
    background-color: $color-blue;
    border-radius: $border-radius;
    background-image: none;
    border: none;
  }
  .btn-primary:focus {
    background-color: $color-blue-hover;
    border: 1px solid $color-grey-dark;
  }

  @media (hover: hover) {
    .btn-default:hover {
      background-color: $color-grey-superlight;
      border: 1px solid $color-border;
      color: $color-grey-dark;
    }
    .btn-styled-new2:hover {
      background-color: $color-blue-hover;
    }
    .btn-primary:hover {
      background-color: $color-blue-hover;
    }
  }
  @media (hover: none) {
    .btn-default.active {
      background-color: $color-border;
      border: 1px solid $color-border;
      color: $color-grey-dark;
    }
  }

  @media screen and (max-width: 767px) {
    .btn {
      height: 36px !important;
    }
    .btn-xs {
      height: 36px !important;
    }
  }

  .btn-default:active,
  .btn-default.active,
  .btn-primary:active,
  .btn-primary.active {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

#form_search_locations_modal .modal-header .btn {
  font-size: 14px !important;
  height: 34px !important;
  outline: none !important;
  margin-bottom: 4px;
}
#form_search_locations_modal .modal-header .btn:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: $color-border !important;
}
@media screen and (max-width: 767px) {
  #form_search_locations_modal .modal-footer {
    text-align: center;
  }
  #form_search_locations_modal .modal-footer .btn {
    padding-top: 8px !important;
    width: 48% !important;
  }
}

/* Dropdowns */
.map_panel,
#selectBuildingTypeModal,
#selectRenovationModal,
#form_search_locations_modal,
#selectCategoryModal,
#selectOfferTypeModal,
#searchFormModal,
.searchFormPage {
  .dropdown-toggle {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500 !important;
  }
  .dropdown-menu {
    border-radius: $border-radius;
    background-color: $color-white;
    padding: 0 !important;
    border: 1px solid $color-border !important;
    box-shadow: none !important;
  }
  .dropdown-menu li a {
    font-size: 14px;
    font-weight: 500 !important;
    color: $color-grey-text !important;
    padding: $padding-btn-small;
    margin: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid $color-grey-superlight !important;
  }
  .dropdown-menu > li > a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
  }
  @media (hover: hover) {
    .dropdown-menu li a:hover {
      background-color: $color-grey-superlight;
      background-image: none !important;
    }
  }
  .dropdown-menu li:first-child a {
    border-radius: $border-radius $border-radius 0 0 !important;
  }
  .dropdown-menu li:last-child a {
    border-radius: 0 0 $border-radius $border-radius !important;
    border: none !important;
  }
  .dropdown-menu li.active a {
    background-color: $color-border !important;
    color: $color-grey-dark !important;
    background-image: none !important;
  }
  .modal-dialog .btn {
    display: inline-block;
  }
}

.search_buttons .btn {
  height: 34px !important;
}

/* Inputs */
.map_panel,
#form_search_locations_modal,
#selectCategoryModal,
#selectOfferTypeModal,
#searchFormModal,
.searchFormPage {
  label {
    vertical-align: middle;
  }

  input.form-control {
    border-radius: $border-radius;
    border: 1px solid $color-border;
    padding: $padding-btn-small;
    height: unset;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px !important;
    height: 32px !important;
  }
  input.form-control:focus {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid $color-blue;
    z-index: 3;
  }
  input.form-control:active {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid $color-blue;
  }
  /* Единственный элемент */
  input.form-control:only-child {
    border-radius: $border-radius !important;
  }
  /* Первый элемент */
  input.form-control:first-child:not(:only-child) {
    border-radius: $border-radius 0 0 $border-radius !important;
  }
  /* Последний элемент */
  input.form-control:last-child:not(:only-child) {
    border-radius: 0 $border-radius $border-radius 0 !important;
  }
  /* Предпоследний элемент (не первый и не последний) */
  input.form-control:nth-last-child(2):not(:first-child):not(:last-child) {
    border-radius: 0 $border-radius $border-radius 0 !important;
  }
  /* Элемент не первый, не последний и не предпоследний */
  input.form-control:not(:first-child):not(:last-child):not(
      :nth-last-child(2)
    ) {
    border-radius: 0 !important;
  }

  .input-group-addon {
    border-radius: 0;
    border: none;
    background: none;
    padding: 5px;
    color: $color-grey-text;
  }
  .input-group-addon.input-sm {
    color: $color-grey-text;
    padding: 5px;
  }
  .input-group-sm input.form-control {
    height: 32px !important;
    font-size: 14px !important;
    width: 38px !important;
    padding: $padding-btn-small !important;
    line-height: 1.42857143;
  }
  @media screen and (max-width: 767px) {
    .input-group-sm input.form-control {
      height: 36px !important;
    }
    input.form-control {
      height: 36px !important;
    }
  }
}

/* Checkbox */
#selectBuildingTypeModal,
#selectRenovationModal,
#selectCategoryModal,
#selectOfferTypeModal,
#searchFormModal,
.searchFormPage {
  .radio,
  .checkbox {
    border: 1px solid $color-border;
    border-radius: $border-radius;
    background-color: $color-white;
  }
  .checkbox label {
    height: 36px !important;
    padding: 6px 8px;
    display: flex;
    align-items: center;
  }
  .checkbox .cr,
  .radio .cr {
    border: 1px solid $color-border;
  }
  .checkbox label {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: unset !important;
  }

  .animated-radios-and-checkboxes
    .checkbox
    label
    input[type="checkbox"]:checked
    + .cr
    > .cr-icon,
  .animated-radios-and-checkboxes
    .radio
    label
    input[type="radio"]:checked
    + .cr
    > .cr-icon {
    opacity: 1;
    color: $color-white;
    font-size: 10px;
  }
  .animated-radios-and-checkboxes
    .checkbox
    label
    input[type="checkbox"]:checked
    + .animated-radios-and-checkboxes
    .checkbox
    .cr,
  .animated-radios-and-checkboxes
    .radio
    label
    input[type="radio"]:checked
    + .animated-radios-and-checkboxes
    .radio
    .cr {
    background-color: $color-blue;
  }

  .animated-radios-and-checkboxes
    .checkbox
    label
    input[type="checkbox"]:checked
    + .animated-radios-and-checkboxes
    .checkbox
    label.bigger,
  .animated-radios-and-checkboxes
    .checkbox
    label
    input[type="checkbox"]:checked
    + .animated-radios-and-checkboxes
    .checkbox
    label.huge {
    color: $color-blue;
    line-height: unset;
  }
  .animated-radios-and-checkboxes
    .checkbox:has(input[type="checkbox"]:checked)
    label.big,
  .animated-radios-and-checkboxes
    .checkbox:has(input[type="checkbox"]:checked)
    label.bigger,
  .animated-radios-and-checkboxes
    .checkbox:has(input[type="checkbox"]:checked)
    label.huge {
    color: $color-blue;
    line-height: unset;
  }
  .animated-radios-and-checkboxes
    .checkbox
    label
    input[type="checkbox"]:checked
    + .cr,
  .animated-radios-and-checkboxes
    .radio
    label
    input[type="radio"]:checked
    + .cr {
    background-color: $color-blue;
    border-color: $color-blue;
  }
  .animated-radios-and-checkboxes
    .checkbox:has(input[type="checkbox"]:checked).checkbox {
    border: 1px solid $color-white;
  }

  .checkbox .cr {
    transition-duration: 0.2s;
  }

  .checkbox .cr i {
    transition-duration: 0.5s;
  }

  @media (hover: hover) {
    .radio:hover,
    .checkbox:hover {
      background-color: $color-grey-superlight;
    }
    .animated-radios-and-checkboxes
      .checkbox:has(input[type="checkbox"]:checked).checkbox:hover {
      border: 1px solid $color-border;
    }
  }
}

#selectCategoryModal .commerceCheckboxes {
  margin-left: 15px;
}
#selectCategoryModal .checkbox:has(label.bigger) {
  margin-left: 15px;
}

#selectCategoryModal,
#selectOfferTypeModal,
#searchFormModal {
  @media screen and (max-width: 900px) {
    .modal-body .form-group + .btn-group label {
      font-size: 14px;
      padding: $padding-btn-small !important;
    }
  }
  @media screen and (max-width: 767px) {
    .modal-body .form-group + .btn-group label {
      font-size: 14px;
      padding: $padding-btn-small !important;
      width: 100%;
    }
  }
}

/* Form */
.map_panel_body,
#searchFormModal,
.searchFormPage {
  .well {
    background-color: $color-grey-superlight;
    border: none;
    border-radius: $border-radius-big;
    box-shadow: none;
    background-image: none;
  }
  .well-sm {
    padding: 9px 9px 9px 9px;
  }
}

#searchFormModal.well,
.searchFormPage.well {
  background-color: $color-grey-superlight;
  border: none;
  border-radius: $border-radius-big;
  box-shadow: none;
  background-image: none;
}

#searchFormModal.well-sm,
.searchFormPage.well-sm {
  padding: 9px 9px 9px 9px;
}

@media (max-width: 767px) {
  .searchFormPage .well-sm,
  .searchFormPage.well-sm {
    padding: $padding-btn-small;
  }
  .searchFormPage .well,
  .searchFormPage.well {
    background-color: $color-blue;
    height: 36px;
    padding: 7.5px 10px;
  }
  .shortSearchForm.text-center.link {
    color: $color-white;
    text-align: start;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
  .shortSearchForm.text-center.link span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .shortSearchForm.text-center.link .badge {
    background-color: $color-white;
    color: $color-blue;
    margin-left: auto;
  }

  #selectBuildingTypeModal,
  #selectRenovationModal,
  #selectCategoryModal,
  #selectOfferTypeModal,
  #searchFormModal {
    .modal-dialog .modal-content {
      background-color: $color-grey-superlight;
    }
  }
  #selectCategoryModal #form_search_locations_modal,
  #selectOfferTypeModal #form_search_locations_modal,
  #searchFormModal #form_search_locations_modal {
    .modal-dialog .modal-content {
      background-color: $color-white;
    }
  }
  #searchFormModal .modal-dialog .modal-content .get-search-locations-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-grey;
    border: 1px solid $color-grey;
    color: $color-white;
  }
  #selectCategoryModal,
  #selectOfferTypeModal,
  #searchFormModal {
    .modal-dialog .modal-content .get-search-locations-action:hover {
      background-color: $color-grey-dark;
      border: 1px solid $color-grey-dark;
      color: $color-white;
    }
  }

  #searchFormModal
    .modal-dialog
    .modal-content
    .title-search-locations-action::before {
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
  }
  #searchFormModal .modal-footer .map_search_btn {
    margin: 0 12px 0 0 !important;
    width: 48.9% !important;
  }
  #searchFormModal .modal-footer .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
  }
  #selectCategoryModal,
  #selectOfferTypeModal,
  #selectBuildingTypeModal,
  #selectRenovationModal {
    .modal-footer {
      display: flex;
      flex: 1 1;
    }
    .modal-footer .btn {
      width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  #searchFormModal .input-group-addon.input-sm {
    font-size: 14px;
    font-weight: 500;
  }
  #searchFormModal .btn[yaparam="from_owner"] {
    display: flex !important;
  }
}

#form_search_locations_modal {
  .search-button-locations-action {
    color: $color-blue;
  }
  .search-button-locations-action:hover {
    color: $color-blue-hover;
  }
  .add-button-locations-action {
    color: $color-blue;
  }
  .add-button-locations-action:hover {
    color: $color-blue-hover;
  }
  .selectize-input.focus.input-active {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: $color-blue;
  }
  .modal-header .fas.fa-search-plus {
    display: none;
  }

  @media screen and (min-width: 768px) {
    /* Единственный элемент */
    .modal-header .breadcrumb.no_bottom .active.buttons .btn:only-child {
      border-radius: $border-radius !important;
    }
    /* Первый элемент */
    .modal-header
      .breadcrumb.no_bottom
      .active.buttons
      .btn:first-child:not(:only-child) {
      border-radius: $border-radius 0 0 $border-radius !important;
    }
    /* Второй элемент */
    .modal-header
      .breadcrumb.no_bottom
      .active.buttons
      .btn:nth-child(2):not(:first-child):not(:last-child) {
      border-radius: $border-radius 0 0 $border-radius !important;
      margin-left: -5px !important;
    }
    /* Последний элемент */
    .modal-header
      .breadcrumb.no_bottom
      .active.buttons
      .btn:last-child:not(:only-child) {
      border-radius: 0 $border-radius $border-radius 0 !important;
      margin-left: -5px !important;
    }
    /* Элемент не первый, не последний и не предпоследний */
    .modal-header
      .breadcrumb.no_bottom
      .active.buttons
      .btn:not(:first-child):not(:last-child):not(:nth-child(2)) {
      border-radius: 0 !important;
      margin-left: -5px !important;
    }
  }
}

.map_panel_body {
  max-height: 80vh;
}
.additional_search_categories_container_action .form-group .btn-group {
  margin-right: 4px;
}

.map_panel {
  .additional_search_subcategories_container_action
    .form-group
    .btn-group
    .btn {
    margin-right: 4px;
    border-radius: 5px;
    margin-bottom: 4px;
  }
  .add_search_link_action,
  .searchFormPage .add_search_link_action {
    color: $color-blue;
  }
  .add_search_link_action:hover,
  .searchFormPage .add_search_link_action:hover {
    color: $color-blue-hover;
  }
  .map_panel .btn-group .get-search-locations-action {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: $color-grey;
    border: 1px solid $color-grey;
    color: $color-white;
  }
  .btn-group .get-search-locations-action:hover {
    background-color: $color-grey-dark;
    border: 1px solid $color-grey-dark;
    color: $color-white;
  }
  .btn-group.open .get-search-locations-action {
    background-color: $color-grey-dark;
    border: 1px solid $color-grey-dark;
    color: $color-white;
  }
  .btn-group.open .get-search-locations-action:hover {
    background-color: $color-grey-dark;
    border: 1px solid $color-grey-dark;
    color: $color-white;
  }
  .main_search_buttons .btn-primary {
    flex-grow: 0;
  }
}
.map_panel_hider {
  top: 10px;
}

.well .search_form_action .btn-group .dropdown-toggle {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: $color-grey;
  border: 1px solid $color-grey;
  color: $color-white;
}

#searchFormModal,
.searchFormPage {
  .search_form_action .btn-group .dropdown-toggle:hover {
    background-color: $color-grey-dark;
    border: 1px solid $color-grey-dark;
    color: $color-white;
  }
  .search_form_action .btn-group.open .dropdown-toggle {
    background-color: $color-grey-dark;
    border: 1px solid $color-grey-dark;
    color: $color-white;
  }
  .search_form_action .btn-group.open .dropdown-toggle:hover {
    background-color: $color-grey-dark;
    border: 1px solid $color-grey-dark;
    color: $color-white;
  }
  .form-group.pull-right.search_buttons {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

#searchFormModal {
  .offerTypeSelect,
  .categorySelect {
    margin-bottom: 5px;
  }
  .modal-body .get-search-locations-action {
    background-color: $color-grey;
    border: 1px solid $color-grey;
    color: $color-white;
  }
  .modal-body .get-search-locations-action:hover {
    background-color: $color-grey-dark;
    border: 1px solid $color-grey-dark;
    color: $color-white;
  }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .btn-group > .btn:last-child:not(:first-child),
  .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
  }
}
