// Old colors
$color-blue: #084c95;
$color-blue-hover: #07386c;
$color-blue-light: #23527c;
$color-blue-superlight: #337ab7;
$color-cyan: #4db9db;
$color-cyan-bg: #e3f1fb;
$color-red: #d9534f;
$color-yellow: #eda33b;
$color-yellow-hover: #d39235;
$color-yellow-bg: #fdfdda;
$color-green: #53ae53;
$color-grey-dark: #333333;
$color-grey-old: #7a7a7a;
$color-grey-text: #777777;
$color-grey-superlight: #f5f5f5;
$color-grey-background: #eeeeee;
$color-border: #e6e6e6;

// Border radius
$border-radius-sm: 3px;
$border-radius: 5px;
$border-radius-big: 10px;
$padding-btn-small: 6px 10px;
$padding-btn-small-sm: 3px 5px;
$padding-btn-big: 15px;

// New colors
$color-primary: #084c95;
$color-primary-hover: #2167b4;
$color-attention-surface: #fbf5ef;
$color-invalid: #f55c3d;
$color-valid: #acf256;
$color-dark: #242a3e;
$color-grey: #8c91a6;
$color-secondary: #e6eff9;
$color-surface: #f6f7f9;
$color-white: #ffffff;
$color-disabled: #c4cdd9;
$color-visited: #c40dd4;

// Typography
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: inherit;
  font-weight: 700;
  line-height: 1.2;
}
h1 {
  font-size: 1.83em;
  @media (max-width: 768px) {
    font-size: 1.5em;
  }
}
h2 {
  font-size: 1.45em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.3em;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
.small {
  font-size: 0.85em;
  line-height: 1;
}
.count {
  font-weight: 700;
  font-size: 0.85em;
  line-height: 1;
}
.adv {
  font-weight: 700;
  font-size: 0.85em;
  line-height: 1;
}

body {
  color: $color-dark;
  line-height: 1.3;
  background-color: $color-surface;
}

// change Botstarp styles
.col-sm-offset-2,
.col-sm-offset-3 {
  margin-left: 0;
}

/* Icons */
.icon-map-small {
  width: 12px;
  height: 14px;
  fill: currentColor;
}
.icon-caret-default {
  width: 10px;
  height: 6px;
  fill: currentColor;
}
.icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;

  &.primary {
    color: $color-primary;
  }
  &.invalid {
    color: $color-invalid;
  }
  &.valid {
    color: $color-valid;
  }
}
.icon-stroke {
  stroke: currentColor;
  fill: none;
}
.icon-info {
  width: 12px;
  height: 12px;
  fill: currentColor;
}
.icon-big {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.icon-breadcrumbs {
  width: 12px;
  height: 12px;
  fill: currentColor;
}
.center-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.icon-owner {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.icon-grey {
  color: $color-grey;
  transition-duration: 0.1s;
}
.active .icon-grey {
  color: $color-primary;
}
label:hover .icon-grey {
  color: $color-primary;
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  font-size: 14px;
}

.modal {
  .fa,
  .fas,
  .far,
  .fal,
  .fad,
  .fab {
    font-size: inherit;
  }
}

.well {
  background-color: $color-white;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-image: none;
  background-repeat: unset;
  border-radius: $border-radius;
  border: none;

  &.well-bg-grey {
    background-color: $color-surface;
  }
}

.well-sm {
  border-radius: $border-radius;
}
.well-xs {
  padding: 0 !important;
}

// Links
a {
  color: $color-primary;
  text-decoration: none;
  transition-duration: 0.1s;

  &:hover {
    color: $color-primary;
    text-decoration: underline;
  }
  &:focus {
    color: $color-primary;
    text-decoration: underline;
  }
  &:visited {
    color: $color-visited;
    text-decoration: underline;
  }
  &:visited.not-visited {
    color: $color-primary;
    text-decoration: none;
  }
}

.text-muted {
  color: $color-grey;
  margin-top: 5px;
}

// Buttons
.btn {
  display: flex;
  height: 44px;
  padding: 0 15px;
  align-items: center;
  gap: 10px;
  border-radius: $border-radius;
  border: 1px solid transparent;
  background-image: none;
  font-weight: 700;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 0;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
  transition-duration: 0.1s;

  &:focus,
  &.focus,
  &:active.focus,
  &.active.focus {
    outline: 2px solid $color-dark;
    z-index: 3;
  }

  &.width-fit-content {
    width: fit-content !important;
  }
}

.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
  display: flex;
  justify-content: center;
}

.btn-default {
  color: $color-dark;
  background-color: $color-white;
  border: 1px solid $color-secondary;

  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;

  @media (hover: hover) {
    &:hover {
      border: 1px solid $color-secondary;
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
  @media (hover: none) {
    &:active,
    &.active {
      border: 1px solid $color-secondary;
      background-color: $color-secondary;
      color: $color-primary;
    }
  }

  &:focus,
  &.focus {
    outline: 2px solid $color-dark;
    background-color: $color-white;
  }
  &:disabled {
    background-color: $color-surface;
    color: $color-disabled;
  }
  &:active,
  &.active {
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    color: $color-primary;

    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;

    @media (hover: hover) {
      &:hover {
        border: 1px solid $color-secondary;
        background-color: $color-secondary;
        color: $color-primary;
      }
    }
    @media (hover: none) {
      &:active,
      &.active {
        border: 1px solid $color-secondary;
        background-color: $color-secondary;
        color: $color-primary;
      }
    }

    &:focus,
    &.focus {
      outline: 2px solid $color-dark;
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
}

.btn-primary,
.btn-warning,
.btn-success,
.btn-info {
  color: $color-white;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  font-size: 14px;

  @media (hover: hover) {
    &:hover {
      background-color: $color-primary-hover;
      border: 1px solid $color-primary-hover;
    }
  }
  @media (hover: none) {
    &:active,
    &.active {
      background-color: $color-primary-hover;
      border: 1px solid $color-primary-hover;
    }
  }

  &:focus,
  &.focus {
    border: 1px solid $color-dark;
    background-color: $color-primary;

    @media (hover: hover) {
      &:hover {
        background-color: $color-primary-hover;
        border: 1px solid $color-primary-hover;
      }
    }

    @media (hover: none) {
      &:active,
      &.active {
        background-color: $color-primary-hover;
      }
    }

    &:active,
    &.active {
      background-color: $color-primary-hover;
      border: 1px solid $color-primary-hover;
      outline: 2px solid $color-dark;
    }
  }

  &:active,
  &.active {
    background-color: $color-primary-hover;
    border: 1px solid $color-primary-hover;
  }

  &:disabled,
  &.disabled {
    background-color: $color-surface;
    color: $color-disabled;
    border: 1px solid transparent;
  }
}

.btn-danger {
  color: $color-white;
  background-color: $color-invalid;
  border: 1px solid $color-invalid;

  @media (hover: hover) {
    &:hover {
      background-color: $color-invalid;
      // border: 1px solid $color-invalid;
    }
  }

  @media (hover: none) {
    &:active,
    &.active {
      background-color: $color-invalid;
      // border: 1px solid $color-invalid;
    }
  }

  &:focus,
  &.focus {
    border: 1px solid $color-dark;
    background-color: $color-invalid;
  }
}

// Badge
.badge {
  background-color: $color-primary;
  color: $color-white;
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 1px 2px;
  font-weight: 700;
  border-radius: 3px;
  font-size: 12px;

  &:focus,
  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
header .dropdown.nav .dropdown-menu.sub-menu .badge {
  top: 15px;
  right: 15px;
}

// Inputs
.form-control:not(.bootstrap-select) {
  display: flex;
  gap: 10px;
  height: 44px;
  padding: 0 10px 0 15px;
  border-radius: $border-radius;
  border: 1px solid $color-secondary;
  background: $color-white;
  color: $color-dark;
  // font-size: 16px;
  font-weight: 400;

  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;

  &::placeholder {
    color: $color-grey;
  }

  &:hover {
    border: 1px solid $color-primary;
    z-index: 3;
  }
  &:focus {
    border: 2px solid $color-primary;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    z-index: 3;
  }
  // &:focus-within {
  //   border: 1px solid $color-secondary;
  //   box-shadow: none;
  //   -webkit-box-shadow: none;
  //   text-shadow: none;
  //   z-index: 3;
  // }
  &:disabled {
    background-color: $color-surface;
    color: $color-disabled;
  }
  &:active {
    border: 2px solid $color-primary;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    z-index: 3;
  }

  &.invalid {
    border: 1px solid $color-invalid;

    &:hover {
      border: 2px solid $color-invalid;
    }
    &:focus {
      border: 2px solid $color-primary;
    }
    // &:focus-within {
    //   border: 1px solid $color-secondary;
    // }
    &:active {
      border: 2px solid $color-primary;
    }
  }

  &.valid {
    border: 1px solid $color-valid;

    &:hover {
      border: 2px solid $color-valid;
    }
    &:focus {
      border: 2px solid $color-primary;
    }
    // &:focus-within {
    //   border: 1px solid $color-secondary;
    // }
    &:active {
      border: 2px solid $color-primary;
    }
  }
}

.has-error {
  .form-control:not(.bootstrap-select),
  .bootstrap-select .dropdown-toggle {
    border: 1px solid $color-invalid;

    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;

    &:hover {
      border: 2px solid $color-invalid;
    }
    &:focus {
      border: 2px solid $color-primary;
      box-shadow: none;
      -webkit-box-shadow: none;
      text-shadow: none;
    }
    // &:focus-within {
    //   border: 1px solid $color-secondary;
    // }
    &:active {
      border: 2px solid $color-primary;
      box-shadow: none;
      -webkit-box-shadow: none;
      text-shadow: none;
    }
  }

  .help-block {
    color: $color-invalid;
  }
}

.has-success {
  .form-control:not(.bootstrap-select),
  .bootstrap-select .dropdown-toggle {
    border: 1px solid $color-valid;

    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;

    &:hover {
      border: 2px solid $color-valid;
    }
    &:focus {
      border: 2px solid $color-primary;
      box-shadow: none;
      -webkit-box-shadow: none;
      text-shadow: none;
    }
    // &:focus-within {
    //   border: 1px solid $color-secondary;
    // }
    &:active {
      border: 2px solid $color-primary;
      box-shadow: none;
      -webkit-box-shadow: none;
      text-shadow: none;
    }
  }

  .help-block {
    color: $color-valid;
  }
}

textarea.form-control {
  padding: 13px 15px !important;
}

.btn-phone-floating {
  .icon-default {
    width: 14px;
    height: 14px;
    fill: currentColor;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    background-repeat: unset;
    filter: none;
  }

  .btn-info {
    background-color: $color-blue;
    border-radius: $border-radius;
    color: $color-white;
    background-image: none;
    border: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn-info:hover {
    background-color: $color-blue-hover;
    color: $color-white;
  }
  .btn-info:focus {
    background-color: $color-blue-hover;
  }
  .btn-info:active {
    background-color: $color-blue-hover;
  }
  .btn-info:active:hover {
    background-color: $color-blue-hover;
  }
}

// Margin
.mt-3 {
  margin-top: 1rem !important; // 16px
}

.mb-3 {
  margin-bottom: 1rem !important; // 16px
}

// Dropdown
.dropdown-toggle,
.dropdown-multiselect-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  background-image: none;
  filter: none;
  line-height: 1.5;
  text-decoration: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;

  span {
    font-size: 14px;
    &.bold {
      font-weight: 700;
    }
  }
}

a.dropdown-toggle:visited {
  color: currentColor;
}

.open > .btn-default.dropdown-toggle,
.open > .btn-default.dropdown-multiselect-toggle {
  color: $color-primary;
  background-color: $color-secondary;
  border: 1px solid $color-secondary;

  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;

  @media (hover: hover) {
    &:hover {
      color: $color-primary;
      background-color: $color-secondary;
      border-color: $color-secondary;
    }
  }
  @media (hover: none) {
    &:active {
      color: $color-primary;
      background-color: $color-secondary;
      border-color: $color-secondary;
    }
  }

  &:focus {
    color: $color-primary;
    background-color: $color-secondary;
    border-color: $color-secondary;

    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
  }

  &:active {
    color: $color-primary;
    background-color: $color-secondary;
    border-color: $color-secondary;

    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;

    &:focus {
      color: $color-primary;
      background-color: $color-secondary;
      border-color: $color-secondary;

      box-shadow: none;
      -webkit-box-shadow: none;
      text-shadow: none;
    }
  }
}

.selectize-dropdown,
.dropdown-menu,
.dropdown-multiselect-menu {
  width: inherit;
  padding: 3px;
  border-radius: 8px;
  border: 1px solid $color-secondary;
  margin: 0;
  margin-top: 3px;
  position: absolute;
  z-index: 1000;
  background-color: $color-white;
  display: none;

  background-image: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;

  li {
    list-style: none;
    width: 100%;
  }

  .selectize-dropdown-content .option,
  li a,
  &.open li a,
  &.sub-menu li a,
  &.sub-menu li a,
  li label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $color-dark;
    border-radius: $border-radius;
    height: 44px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1px;

    &:visited {
      color: $color-dark;
    }

    &:disabled {
      color: $color-disabled;
      background-color: $color-surface;
    }
    &:focus {
      color: $color-primary;
      background-color: $color-secondary;
      background-image: none;
      outline: 2px solid $color-dark;
    }
    @media (hover: hover) {
      &:hover {
        color: $color-primary;
        background-color: $color-secondary;
        background-image: none;
      }
    }
    @media (hover: none) {
      &:active {
        color: $color-primary;
        background-color: $color-secondary;
      }
    }
  }
  & > .active > a {
    color: $color-primary;
    background-color: $color-secondary;
    background-image: none;
    margin: 0;

    &:hover {
      color: $color-primary;
      background-color: $color-secondary;
      background-image: none;
    }

    &:focus {
      color: $color-primary;
      background-color: $color-secondary;
      background-image: none;
    }
  }
}

.open > .dropdown-multiselect-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .dropdown-multiselect-menu-item {
    border: 1px solid transparent !important;
    width: 100%;
    justify-content: flex-start;

    input {
      opacity: 0;
      width: 0;
      pointer-events: all;
    }
    input[type="checkbox"] {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .dropdown {
    &:hover .dropdown-menu {
      display: block;
    }
    &:hover .dropdown-menu:hover {
      display: block;
    }
    .dropdown-menu::before {
      content: "";
      width: 100%;
      height: 8px;
      position: absolute;
      display: block;
      z-index: 100000;
      top: -7px;
    }
  }
}

.modal-footer {
  display: flex;
}

.form-fast-search-locations-modal {
  .selectize-input {
    display: flex !important;
    align-items: center !important;
    padding-bottom: 0 !important;
  }

  .selectize-control.multi .selectize-input > div {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: 768px) {
    .selectize-control.multi .selectize-input > div {
      margin: 0 3px 3px 0;
      padding-right: 27px;
    }
  }
}

.search_nav_bar {
  gap: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;

  .search_nav_bar_item {
    border-radius: $border-radius;
    border: 1px solid $color-border;
  }

  .search_nav_bar_item:first-child::after {
    display: none;
  }
}

.header_adv_long {
  display: block;
}

.container.full-size {
  height: unset;
}

.container.container-height-full {
  min-height: calc(100vh - 346px);

  @media (max-width: 991px) {
    min-height: unset;
  }

  @media (max-width: 767px) {
    min-height: unset;
  }
}
// Breadcrumbs
.breadcrumb {
  font-weight: 700;
  background-color: transparent;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 3px;
  padding: 5px 0;
  margin-bottom: 0;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & > li + li::before {
    content: "/\00a0";
    padding: 0 0px;
    color: $color-disabled;
    margin-right: 0;
  }

  .small {
    font-size: 14px;
  }

  li {
    padding: 0;
    white-space: nowrap;

    a {
      height: 24px;
      line-height: 1;
      color: $color-grey;
      padding: $padding-btn-small-sm;
      border-radius: $border-radius-sm;
      text-decoration: none;
      transition-duration: 0.1s;
      white-space: nowrap;

      &:hover {
        color: $color-primary;
        background-color: $color-secondary;
      }
      &:focus {
        color: $color-grey;
        outline: 2px solid $color-grey;

        &:hover {
          color: $color-primary;
          background-color: $color-secondary;
        }
      }
    }
  }
}

.breadcrumb-filter {
  margin-bottom: 0;

  .breadcrumb-filter__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 8px;
  }
  .breadcrumb-filter__item,
  .breadcrumb-filter__item_small {
    height: 24px;
    line-height: 1;
    background-image: none;
    filter: none;
    background-color: $color-white;
    border-radius: $border-radius-sm;
    padding: $padding-btn-small-sm;
    color: $color-grey;
    border: 1px solid $color-secondary;
    font-weight: 700;
    transition-duration: 0.1s;
    margin: 0;

    @media (max-width: 991px) {
      margin: 0;
    }

    &:hover {
      background-image: none;
      filter: none;
      text-decoration: none;
      background-color: $color-secondary;
      color: $color-primary;
    }
    &:active {
      background-image: none;
      filter: none;
      text-decoration: none;
      background-color: $color-secondary;
    }
    &:focus {
      background-image: none;
      filter: none;
      text-decoration: none;
      background-color: $color-white;
      outline: 2px solid $color-grey;
    }
  }
}

// Selectize
.selectize-control,
.selectize-control.multi {
  &.plugin-remove_button [data-value] .remove {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    &:hover {
      background-color: $color-surface;
    }
  }
  .selectize-input {
    padding: 13px 15px;
    font-size: 14px;
    border-radius: $border-radius;
    border: 1px solid $color-secondary;
    color: $color-dark;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > div,
    div.item {
      color: $color-dark;
      background-color: $color-surface;
      border-radius: 3px;
      padding: 5px;
      font-size: 14px;
      font-weight: 700;
    }

    &::placeholder,
    input::placeholder {
      color: $color-grey;
    }

    &:hover {
      border: 1px solid $color-primary;
    }
    &:focus,
    input:focus {
      border: 1px solid $color-primary;
      outline: 1px solid $color-primary;
      box-shadow: none;
      -webkit-box-shadow: none;
      text-shadow: none;
    }
  }
  .selectize-dropdown {
    top: 48px;
    .selectize-dropdown-content {
      padding: 0;
    }
  }
}

// Form search locations modal
#form_search_locations_modal {
  .modal-dialog {
    .btn {
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .modal-header {
      border-bottom: none;
      .breadcrumb {
        .active {
          color: $color-grey;
          &.buttons {
            .btn {
              font-size: 14px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              gap: 5px;
              text-shadow: none;
              -webkit-box-shadow: none;
              box-shadow: none;
              height: 24px;
              padding: 3px 5px;

              // Единственный элемент
              &:only-child {
                border-radius: $border-radius !important;
              }
              // Первый элемент
              &:first-child:not(:only-child) {
                border-radius: $border-radius 0 0 $border-radius !important;
              }
              // Второй элемент
              &:nth-child(2):not(:first-child):not(:last-child) {
                border-radius: $border-radius 0 0 $border-radius !important;
              }
              // Последний элемент
              &:last-child:not(:only-child) {
                border-radius: 0 $border-radius $border-radius 0 !important;
                margin-left: -5px !important;
              }
              // Элемент не первый, не последний и не предпоследний
              &:not(:first-child):not(:last-child):not(:nth-child(2)) {
                border-radius: 0 !important;
                margin-left: -5px !important;
              }
            }
          }
        }
      }
    }
  }
}

.modal {
  .modal-content {
    border-radius: 12px;
    border: none;
  }
  .modal-header {
    border-bottom: none;

    h4.modal-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
    }

    button.close {
      color: $color-dark;
      height: 44px;
      width: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius;
      border: 1px solid $color-secondary;
      opacity: 1;

      &:hover {
        background-color: $color-secondary;
      }
    }
  }
  .modal-footer {
    border-top: 1px solid $color-secondary;
    gap: 3px;
  }
}

// Checkbox
.animated-radios-and-checkboxes {
  .checkbox,
  .radio {
    border-radius: $border-radius-big;

    label,
    label.huge,
    label.big,
    label.bigger {
      height: 44px;
      padding: 16px 16px;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      line-height: unset;
      border-radius: $border-radius-big;

      &:focus-within,
      &:focus,
      &:focus-visible {
        color: $color-primary;
        .cr {
          outline: 1px solid $color-dark;
          border-color: $color-dark;
          border-width: 2px;
        }
      }

      &:hover {
        color: $color-primary;
        .cr {
          border-color: $color-dark;
        }
      }

      input[type="radio"],
      input[type="checkbox"] {
        opacity: 0;
        display: block;
        position: absolute;
        &:checked {
          + .cr > .cr-icon {
            opacity: 1;
            color: $color-white;
            font-size: 10px;
          }
          + .cr {
            background-color: $color-primary;
          }
        }
      }
    }

    .cr {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid $color-grey;

      &:focus {
        border-color: $color-dark;
        border-width: 2px;
      }

      .cr-icon {
        top: 12%;
        left: 12%;
      }
    }
  }
}

.modal-body {
  padding-top: 0;
  &:first-child {
    padding-top: 15px;
  }
}

.phone_modal_action {
  .modal-header {
    .modal-title {
      width: 90%;
    }
  }
  .modal-body {
    .social_btn_actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      noindex {
        display: flex;
        align-items: center;
        gap: 3px;
      }
      .btn-social-icon {
        width: 44px;

        & > :first-child {
          position: relative;
        }
      }
    }
  }
}
#abuse_form_action {
  .modal-footer {
    display: flex;
    justify-content: end;
  }
}
.notepad_modal_action {
  .modal-footer {
    display: flex;
    flex-direction: column;
  }
}
.modal-application-list {
  background-color: $color-white !important;
}
.modal-application__text {
  color: $color-grey;
  p {
    font-size: 10px;
    font-weight: 500;
  }
}

// alert
.alert {
  margin-top: 0;
}

// User-edit
.edit_user {
  .col-sm-offset-2 {
    margin-left: 0;
  }
  .role-selector-validation label:not(:last-child) {
    margin-bottom: 8px;
  }
}

// Tariff2
.tariff2-main {
  .tariff2-main__balance-btn {
    max-width: unset;
    width: unset;

    &.btn-styled-new2 {
      height: 44px;
    }
  }
}

// Payment
.payment_form {
  .cc-selector-2 {
    display: flex;
  }
}

// About
.about-styled .about-hero__inner {
  width: 100%;
}

// New User
#new_user {
  max-width: 500px;
  margin: 0 auto;
}
.signup-box {
  max-width: 500px;
  margin: 0 auto;
  border: none;
  background: transparent;

  .signup-box__item_border {
    border: none;
    padding: 0px 30px 20px;
  }

  .signup-box__row .signup-box__label {
    padding-top: 12px;
  }
}

// Edit user
#edit_user {
  max-width: 500px;
  margin: 0 auto;

  .fields .input-group {
    display: flex;
  }
  .input-group-addon,
  .input-group-btn {
    display: flex;
    width: unset;
  }

  .form-control-static {
    width: 100%;
    justify-content: space-between;

    label {
      margin: 0;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 3px;
    margin-bottom: 0;
  }

  .checkbox .col-sm-4.col-sm-offset-2 {
    width: 100%;
  }
}

// Support
#new_contact {
  max-width: 500px;
  margin: 0 auto;

  .input-group-addon,
  .input-group-btn {
    display: flex;
    width: unset;
  }
}

.contacts-styled {
  .control-label {
    white-space: nowrap;
  }

  .input-group,
  .btn-group {
    min-height: 44px;
    display: flex;
  }

  .contacts-dynamic-block {
    .subject-selector {
      height: 44px;
    }
  }

  .contact-note {
    margin-top: 16px;
  }

  .form-control-feedback.fv-icon-no-label {
    display: none;
  }
}

// favorite
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:visited {
  background-color: $color-primary;
  color: $color-white;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.nav-pills > li > a,
.nav-pills > li > a:visited {
  color: $color-primary;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

// tables
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  // vertical-align: middle;
}

// Form Adv
.adv-form {
  .col-lg-offset-2 {
    margin-left: 0;
  }
  .save-button-advertisement {
    .help-block {
      margin-top: 16px;
    }
  }
}
