$color-blue: #084c95;
$color-blue-hover: #07386c;
$color-blue-light: #23527c;
$color-blue-superlight: #337ab7;
$color-cyan: #4db9db;
$color-red: #d9534f;
$color-yellow: #eda33b;
$color-yellow-hover: #d39235;
$color-yellow-bg: #fdfdda;
$color-green: #53ae53;
$color-grey-dark: #333333;
$color-grey: #7a7a7a;
$color-grey-text: #777777;
$color-grey-superlight: #f5f5f5;
$color-border: #e6e6e6;
$color-white: #ffffff;
$border-radius: 5px;
$border-radius-big: 10px;
$padding-btn-small: 6px 10px;

/* Icons */
.icon-map-small {
  width: 12px;
  height: 14px;
  fill: currentColor;
}
.icon-caret-default {
  width: 10px;
  height: 6px;
  fill: currentColor;
}
.icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
.icon-stroke {
  stroke: currentColor;
  fill: none;
}
.icon-info {
  width: 12px;
  height: 12px;
  fill: currentColor;
}
.icon-big {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.icon-breadcrumbs {
  width: 12px;
  height: 12px;
  fill: currentColor;
}
.center-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-phone-floating {
  .icon-default {
    width: 14px;
    height: 14px;
    fill: currentColor;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .btn-info {
    background-color: $color-blue;
    border-radius: $border-radius;
    color: $color-white;
    background-image: none;
    border: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn-info:hover {
    background-color: $color-blue-hover;
    color: $color-white;
  }
  .btn-info:focus {
    background-color: $color-blue-hover;
  }
  .btn-info:active {
    background-color: $color-blue-hover;
  }
  .btn-info:active:hover {
    background-color: $color-blue-hover;
  }
}
