$color-blue: #084c95;
$color-blue-hover: #07386c;
$color-blue-light: #23527c;
$color-blue-superlight: #337ab7;
$color-cyan: #4db9db;
$color-red: #d9534f;
$color-yellow: #eda33b;
$color-yellow-hover: #d39235;
$color-yellow-bg: #fdfdda;
$color-green: #53ae53;
$color-grey-dark: #333333;
$color-grey: #7a7a7a;
$color-grey-text: #777777;
$color-grey-superlight: #f5f5f5;
$color-border: #e6e6e6;
$color-white: #ffffff;
$border-radius: 5px;
$border-radius-big: 10px;
$padding-btn-small: 6px 10px;
