h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: inherit;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 1.83em;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
}

h2 {
  font-size: 1.45em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.small {
  font-size: 0.85em;
  line-height: 1;
}

.count {
  font-weight: 700;
  font-size: 0.85em;
  line-height: 1;
}

.adv {
  font-weight: 700;
  font-size: 0.85em;
  line-height: 1;
}

body {
  color: #242a3e;
  line-height: 1.5;
  background-color: #f6f7f9;
}

/* Icons */
.icon-map-small {
  width: 12px;
  height: 14px;
  fill: currentColor;
}

.icon-caret-default {
  width: 10px;
  height: 6px;
  fill: currentColor;
}

.icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.icon-stroke {
  stroke: currentColor;
  fill: none;
}

.icon-info {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.icon-big {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.icon-breadcrumbs {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.center-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.well {
  background-color: #eeeeee;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-image: none;
  background-repeat: unset;
  border-radius: 5px;
  border: none;
}

.well-sm {
  border-radius: 5px;
}

.btn {
  display: flex;
  height: 44px;
  padding: 0 15px;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: white;
  background-image: none;
  font-weight: 700;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 0;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}
.btn:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 2px solid #242a3e;
  z-index: 3;
}

.btn-default {
  color: #242a3e;
  background-color: #ffffff;
  border: 1px solid #e6eff9;
}
@media (hover: hover) {
  .btn-default:hover {
    border: 1px solid #e6eff9;
    background-color: #e6eff9;
    color: #084c95;
  }
}
@media (hover: none) {
  .btn-default:active, .btn-default.active {
    border: 1px solid #e6eff9;
    background-color: #e6eff9;
    color: #084c95;
  }
}
.btn-default:focus, .btn-default.focus {
  outline: 2px solid #242a3e;
  background-color: #ffffff;
}
.btn-default:disabled {
  background-color: #f6f7f9;
  color: #c4cdd9;
}
.btn-default:active, .btn-default.active {
  border: 1px solid #e6eff9;
  background-color: #e6eff9;
  color: #084c95;
}
@media (hover: hover) {
  .btn-default:active:hover, .btn-default.active:hover {
    border: 1px solid #e6eff9;
    background-color: #e6eff9;
    color: #084c95;
  }
}
@media (hover: none) {
  .btn-default:active:active, .btn-default:active.active, .btn-default.active:active, .btn-default.active.active {
    border: 1px solid #e6eff9;
    background-color: #e6eff9;
    color: #084c95;
  }
}
.btn-default:active:focus, .btn-default:active.focus, .btn-default.active:focus, .btn-default.active.focus {
  outline: 2px solid #242a3e;
  background-color: #e6eff9;
  color: #084c95;
}

.btn-primary,
.btn-warning,
.btn-success,
.btn-info {
  color: #ffffff;
  background-color: #084c95;
  border: 1px solid #084c95;
}
@media (hover: hover) {
  .btn-primary:hover,
  .btn-warning:hover,
  .btn-success:hover,
  .btn-info:hover {
    background-color: #2167b4;
    border: 1px solid #2167b4;
  }
}
@media (hover: none) {
  .btn-primary:active, .btn-primary.active,
  .btn-warning:active,
  .btn-warning.active,
  .btn-success:active,
  .btn-success.active,
  .btn-info:active,
  .btn-info.active {
    background-color: #2167b4;
    border: 1px solid #2167b4;
  }
}
.btn-primary:focus, .btn-primary.focus,
.btn-warning:focus,
.btn-warning.focus,
.btn-success:focus,
.btn-success.focus,
.btn-info:focus,
.btn-info.focus {
  border: 1px solid #242a3e;
  background-color: #084c95;
}
@media (hover: hover) {
  .btn-primary:focus:hover, .btn-primary.focus:hover,
  .btn-warning:focus:hover,
  .btn-warning.focus:hover,
  .btn-success:focus:hover,
  .btn-success.focus:hover,
  .btn-info:focus:hover,
  .btn-info.focus:hover {
    background-color: #2167b4;
    border: 1px solid #2167b4;
  }
}
@media (hover: none) {
  .btn-primary:focus:active, .btn-primary:focus.active, .btn-primary.focus:active, .btn-primary.focus.active,
  .btn-warning:focus:active,
  .btn-warning:focus.active,
  .btn-warning.focus:active,
  .btn-warning.focus.active,
  .btn-success:focus:active,
  .btn-success:focus.active,
  .btn-success.focus:active,
  .btn-success.focus.active,
  .btn-info:focus:active,
  .btn-info:focus.active,
  .btn-info.focus:active,
  .btn-info.focus.active {
    background-color: #2167b4;
  }
}
.btn-primary:focus:active, .btn-primary:focus.active, .btn-primary.focus:active, .btn-primary.focus.active,
.btn-warning:focus:active,
.btn-warning:focus.active,
.btn-warning.focus:active,
.btn-warning.focus.active,
.btn-success:focus:active,
.btn-success:focus.active,
.btn-success.focus:active,
.btn-success.focus.active,
.btn-info:focus:active,
.btn-info:focus.active,
.btn-info.focus:active,
.btn-info.focus.active {
  background-color: #2167b4;
  border: 1px solid #2167b4;
  outline: 2px solid #242a3e;
}
.btn-primary:active, .btn-primary.active,
.btn-warning:active,
.btn-warning.active,
.btn-success:active,
.btn-success.active,
.btn-info:active,
.btn-info.active {
  background-color: #2167b4;
  border: 1px solid #2167b4;
}
.btn-primary:disabled,
.btn-warning:disabled,
.btn-success:disabled,
.btn-info:disabled {
  background-color: #f6f7f9;
  color: #c4cdd9;
}

.form-control {
  display: flex;
  gap: 10px;
  height: 44px;
  padding: 0 10px 0 15px;
  border-radius: 5px;
  border: 1px solid #e6eff9;
  background: #ffffff;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}
.form-control:hover {
  border: 1px solid #084c95;
  z-index: 3;
}
.form-control:focus {
  border: 2px solid #084c95;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
  z-index: 3;
}
.form-control:disabled {
  background-color: #f6f7f9;
  color: #c4cdd9;
}
.form-control:active {
  border: 2px solid #084c95;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
  z-index: 3;
}
.form-control.invalid {
  border: 1px solid #f55c3d;
}
.form-control.invalid:hover {
  border: 2px solid #f55c3d;
}
.form-control.invalid:focus {
  border: 2px solid #084c95;
}
.form-control.invalid:active {
  border: 2px solid #084c95;
}
.form-control.valid {
  border: 1px solid #acf256;
}
.form-control.valid:hover {
  border: 2px solid #acf256;
}
.form-control.valid:focus {
  border: 2px solid #084c95;
}
.form-control.valid:active {
  border: 2px solid #084c95;
}

.btn-phone-floating .icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
.btn-phone-floating .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  background-repeat: unset;
  filter: none;
}
.btn-phone-floating .btn-info {
  background-color: #084c95;
  border-radius: 5px;
  color: #ffffff;
  background-image: none;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-phone-floating .btn-info:hover {
  background-color: #07386c;
  color: #ffffff;
}
.btn-phone-floating .btn-info:focus {
  background-color: #07386c;
}
.btn-phone-floating .btn-info:active {
  background-color: #07386c;
}
.btn-phone-floating .btn-info:active:hover {
  background-color: #07386c;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  background-image: none;
  filter: none;
  line-height: 1.5;
  text-decoration: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}

.dropdown .dropdown-menu.sub-menu li a,
.dropdown.open .dropdown-menu.sub-menu li a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #242a3e;
  border-radius: 5px;
  height: 44px;
  font-weight: 700;
}
.dropdown .dropdown-menu.sub-menu li a:disabled,
.dropdown.open .dropdown-menu.sub-menu li a:disabled {
  color: #c4cdd9;
  background-color: #f6f7f9;
}
.dropdown .dropdown-menu.sub-menu li a:focus,
.dropdown.open .dropdown-menu.sub-menu li a:focus {
  color: #084c95;
  background-color: #e6eff9;
  background-image: none;
  outline: 2px solid #242a3e;
}
@media (hover: hover) {
  .dropdown .dropdown-menu.sub-menu li a:hover,
  .dropdown.open .dropdown-menu.sub-menu li a:hover {
    color: #084c95;
    background-color: #e6eff9;
    background-image: none;
  }
}
@media (hover: none) {
  .dropdown .dropdown-menu.sub-menu li a:active,
  .dropdown.open .dropdown-menu.sub-menu li a:active {
    color: #084c95;
    background-color: #e6eff9;
  }
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown:hover .dropdown-menu:hover {
    display: block;
  }
  .dropdown .dropdown-menu::before {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    display: block;
    z-index: 100000;
    top: -7px;
  }
}
#blockModal .modal-footer {
  display: flex;
}

.form-fast-search-locations-modal .selectize-input {
  display: flex !important;
  align-items: center !important;
  padding-bottom: 0 !important;
}
.form-fast-search-locations-modal .selectize-control.multi .selectize-input > div {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .form-fast-search-locations-modal .selectize-control.multi .selectize-input > div {
    margin: 0 3px 3px 0;
    padding-right: 27px;
  }
}

.search_nav_bar {
  gap: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
.search_nav_bar .search_nav_bar_item {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}
.search_nav_bar .search_nav_bar_item:first-child::after {
  display: none;
}

.header_adv_long {
  display: block;
}

.container.full-size {
  height: unset;
}

.container.container-height-full {
  min-height: calc(100vh - 346px);
}
@media (max-width: 991px) {
  .container.container-height-full {
    min-height: unset;
  }
}
@media (max-width: 767px) {
  .container.container-height-full {
    min-height: unset;
  }
}

.header-top {
  position: relative;
}

.header-top .container {
  background: transparent;
}
.header-top header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header-top .navbar {
  margin-bottom: 0;
}

.header-top-nav .container {
  background: transparent;
  padding: 0;
}
.header-top-nav .navbar-right {
  float: right;
}
.header-top-nav .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: none;
  font-weight: 700;
}

.header-top-nav .dropdown:hover .dropdown-menu {
  display: none;
}

.header-top-nav .dropdown.open > .dropdown-menu {
  display: block;
}

.header-top-nav .navbar-left {
  float: left;
}

.header-city-btn {
  padding: 10px 15px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.65);
}

.header-city-btn .caret {
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  border-bottom: none;
  border-left: none;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.navbar-brand {
  height: 60px;
  padding: 10px 10px 10px 20px;
}

.navbar-brand__logo {
  width: 109px;
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-btn {
  margin-top: 13px;
  margin-bottom: 13px;
}

.sidenav__hide-desktop {
  display: none !important;
}

.sidenav_open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

@media only screen and (max-width: 767px) {
  .navbar-nav .navbar-nav__hide-mobile {
    display: none;
  }
  .navbar-brand__logo {
    width: 90px;
  }
  .navbar-brand {
    padding: 15px 10px;
  }
  .navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
  }
  .sidenav {
    width: 310px;
    right: -310px;
  }
  .sidenav .navbar-toggle {
    width: 44px;
    margin: 0;
    position: relative;
  }
  .sidenav .navbar-toggle span {
    width: 22px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: -1px;
    background: #707070;
  }
  .sidenav .navbar-toggle span:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .sidenav .navbar-toggle span:last-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .sidenav__inner {
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }
  .sidenav__hide-desktop {
    display: block !important;
  }
  .sidenav .header-city-btn {
    color: #8c91a6;
    padding-left: 20px;
  }
  .sidenav .header-city-btn .fa-map-marker-alt {
    color: #8c91a6;
  }
  .sidenav .navbar-nav > li {
    border-bottom: 1px solid rgba(119, 119, 119, 0.2);
  }
  .sidenav .navbar-nav > li > a {
    padding: 11px 20px;
  }
  .sidenav .navbar-btn {
    margin: 30px 20px;
  }
  .sidenav_open {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
  .sidenav_open .dropdown-menu {
    display: none;
  }
  .sidenav_open .dropdown-toggle {
    pointer-events: all;
  }
  .sidenav_open .dropdown.open .dropdown-menu {
    display: block;
  }
}
/*Header */
.header-top-nav {
  background-color: #f6f7f9;
  font-weight: 500;
}
.header-top-nav a {
  color: #8c91a6;
}

.header-city-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #8c91a6;
  font-weight: 700;
}
.header-city-btn span {
  max-width: calc(100vw - 230px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 767px) {
  .header-city-btn span {
    max-width: calc(100vw - 580px);
  }
}
.header-top-nav .nav > li > a:focus {
  color: #242a3e;
}

.navbar-btn a:focus {
  text-decoration: none !important;
}

.header-city-btn:focus .nav > li:focus,
.header-city-btn:focus .nav > li > a:focus,
.header-top-nav .nav > li:focus,
.header-top-nav .nav > li > a:focus {
  color: #242a3e !important;
}

@media (hover: hover) {
  .header-top-nav .nav > li > a:hover {
    color: #242a3e;
  }
  .navbar-btn a:hover {
    text-decoration: none !important;
  }
  .header-city-btn:hover,
  .header-top-nav .nav > li:hover,
  .header-top-nav .nav > li > a:hover {
    color: #242a3e !important;
  }
}
@media (hover: none) {
  .header-top-nav .nav > li > a:focus {
    color: #333333;
  }
  .navbar-btn a:focus {
    text-decoration: none !important;
  }
  .header-city-btn:focus,
  .header-top-nav .nav > li:focus,
  .header-top-nav .nav > li > a:focus {
    color: #333333 !important;
  }
}
header .header-top-nav .container.full-size {
  flex-direction: row;
  justify-content: space-between;
}
header .header-top-nav .container.full-size::before, header .header-top-nav .container.full-size::after {
  content: "";
  display: none;
}
header .container.full-size .navbar {
  margin: 12px 15px;
}
header a:hover {
  text-decoration: none !important;
}
header .header-city-btn:hover {
  color: #333333;
}
header .dropdown.nav.notepads_block_action a .badge {
  background-color: transparent;
  color: currentColor;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px;
  font-weight: 700;
}
header .dropdown.nav.notepads_block_action a:focus .badge, header .dropdown.nav.notepads_block_action a:hover .badge {
  background-color: transparent;
}
header .container {
  border-radius: 10px 10px 0 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
header .navbar.navbar-default {
  background-color: #ffffff;
  background-image: none;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  min-height: 30px;
}
header .pull-left,
header .pull-left .navbar-brand,
header .pull-left .navbar-brand .navbar-brand__logo {
  height: 32px;
}
header .pull-left .navbar-brand {
  padding: 0 0 0 20px;
}
header .navbar-default .navbar-nav > li > a {
  background-image: none;
  filter: none;
  height: 44px !important;
  background-color: #ffffff;
  border-radius: 5px;
  color: #242a3e;
  border: 1px solid #e6eff9;
  padding: 15px;
  font-weight: 700;
}
header .navbar-default .navbar-nav > li > a:focus {
  color: #242a3e;
  outline: 2px solid #242a3e;
}
@media (hover: hover) {
  header .navbar-default .navbar-nav > li > a:hover {
    color: #084c95;
    background-color: #e6eff9;
  }
}
@media (hover: none) {
  header .navbar-default .navbar-nav > li > a:active {
    color: #084c95;
    background-color: #e6eff9;
  }
}
header .navbar-default .navbar-btn {
  margin: 0;
}
header .container-fluid {
  padding: 0;
}
header .sidenav__inner ul li {
  margin-left: 10px;
}
header .sidenav__inner .dropdown-menu.sub-menu {
  margin-top: 5px;
  border-radius: 5px;
  padding: 3px;
  border-color: transparent;
}
header .sidenav__inner .dropdown-menu.sub-menu li {
  margin-left: 0px;
}
header .dropdown.nav .dropdown-menu.sub-menu li a,
header .dropdown.nav.open .dropdown-menu.sub-menu li a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #242a3e;
  border-radius: 5px;
  height: 44px;
  font-weight: 700;
}
header .dropdown.nav .dropdown-menu.sub-menu li a:disabled,
header .dropdown.nav.open .dropdown-menu.sub-menu li a:disabled {
  color: #c4cdd9;
  background-color: #f6f7f9;
}
header .dropdown.nav .dropdown-menu.sub-menu li a:focus,
header .dropdown.nav.open .dropdown-menu.sub-menu li a:focus {
  color: #084c95;
  background-color: #e6eff9;
  background-image: none;
  outline: 2px solid #242a3e;
}
@media (hover: hover) {
  header .dropdown.nav .dropdown-menu.sub-menu li a:hover,
  header .dropdown.nav.open .dropdown-menu.sub-menu li a:hover {
    color: #084c95;
    background-color: #e6eff9;
    background-image: none;
  }
}
@media (hover: none) {
  header .dropdown.nav .dropdown-menu.sub-menu li a:active,
  header .dropdown.nav.open .dropdown-menu.sub-menu li a:active {
    color: #084c95;
    background-color: #e6eff9;
  }
}
header .sidenav__close {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  color: #777777;
}
header .nav > li > a {
  display: flex;
  align-items: center;
  gap: 5px;
}
header button.navbar-toggle.sidenav-button {
  padding: 6px 9px;
  color: #777777;
}
header .navbar-default .navbar-link {
  font-weight: 700 !important;
  color: inherit;
  line-height: 1.4;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (hover: hover) {
  header .navbar-default .navbar-link:hover {
    color: inherit;
  }
}
@media (hover: none) {
  header .navbar-default .navbar-link:focus {
    color: inherit;
  }
}
header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .active > a {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  border: 1px solid #e6eff9;
  color: #084c95;
  background-color: #e6eff9;
}
header .navbar-default .navbar-nav > .open > a:focus,
header .navbar-default .navbar-nav > .active > a:focus {
  color: #084c95;
  outline: 2px solid #242a3e;
  color: #084c95;
  background-color: #e6eff9;
}
@media (hover: hover) {
  header .navbar-default .navbar-nav > .open > a:hover,
  header .navbar-default .navbar-nav > .active > a:hover {
    color: #084c95;
    background-color: #e6eff9;
  }
}
@media (min-width: 768px) {
  header .dropdown:hover .dropdown-menu {
    display: block;
  }
  header .dropdown:hover .dropdown-menu:hover {
    display: block;
  }
  header .dropdown .dropdown-menu::before {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    display: block;
    z-index: 100000;
    top: -7px;
  }
}
@media (max-width: 767px) {
  header .pull-left .navbar-brand {
    margin-top: 0;
  }
  header .sidenav_open .header-city-btn {
    display: none;
  }
  header .sidenav.loaded.sidenav_open .sidenav__hide-desktop:first-child {
    border: none;
  }
  header .sidenav__inner {
    padding-top: 70px;
  }
  header .sidenav__inner ul .nav.navbar-nav {
    padding: 0;
    margin-left: 0;
  }
  header .sidenav__inner ul .nav.navbar-nav a {
    border: none;
  }
  header .sidenav__inner ul .nav.navbar-nav a:focus {
    border: none;
    border-radius: 0;
    outline: none;
  }
  header .sidenav__inner ul .nav.navbar-nav a:focus .navbar-link {
    border: none;
    border-radius: 0;
    outline: none;
    color: #242a3e;
  }
  header .sidenav.loaded.sidenav_open .sidenav__hide-desktop {
    padding: 0;
  }
  header .sidenav.loaded.sidenav_open .sidenav__hide-desktop a {
    border: none;
  }
  header .sidenav.loaded.sidenav_open .sidenav__hide-desktop a:focus {
    border: none;
    border-radius: 0;
    outline: none;
  }
  header .sidenav__inner ul li {
    padding: 0;
    margin-left: 0;
  }
  header .navbar-default .navbar-nav > li > a {
    height: unset !important;
    padding: 12px 20px;
    border: none;
    border-radius: 0;
  }
  header .navbar-default .navbar-btn {
    margin: 30px 20px;
  }
  header .dropdown.nav.open a.dropdown-toggle {
    color: #242a3e;
  }
  header .dropdown.nav.open .dropdown-menu.sub-menu li a {
    border: none !important;
    border-radius: 0 !important;
    padding: 8px 20px;
    color: #242a3e;
  }
  header .dropdown.nav.open .dropdown-menu.sub-menu {
    border: none !important;
    border-radius: 0 !important;
  }
  header .sidenav .navbar-toggle {
    width: 34px;
    margin: 0;
    position: relative;
  }
  header .navbar-btn .btn-warning {
    width: fit-content;
  }
  header button.navbar-toggle.sidenav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
  }
}
header strong,
header .balance-currency {
  color: #333333;
  font-weight: 700;
}

.tariff2-main::before {
  display: none;
}

.tariff2-main__balance {
  margin-top: 0;
  margin-bottom: 12px;
}

.about-styled .about-hero::before {
  top: 20px !important;
  height: calc(100% - 10px) !important;
}

.about-styled .about-hero {
  position: relative;
  margin-top: -15px !important;
}

.tariff-main::before {
  top: 10px !important;
  height: calc(100% - 10px + 92px) !important;
}

.mortgage-main::before {
  top: 10px !important;
  height: calc(100% + 10px + 100px) !important;
}

.xml-main {
  margin-top: 0 !important;
}

.xml-main::before {
  top: 0 !important;
  height: calc(100% + 92px) !important;
}

@media only screen and (max-width: 991px) {
  .xml-main__content {
    padding-top: 10px !important;
  }
}

/*# sourceMappingURL=header.css.map */
