/* Icons */
.icon-map-small {
  width: 12px;
  height: 14px;
  fill: currentColor;
}

.icon-caret-default {
  width: 10px;
  height: 6px;
  fill: currentColor;
}

.icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.icon-stroke {
  stroke: currentColor;
  fill: none;
}

.icon-info {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.icon-big {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.icon-breadcrumbs {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.center-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-phone-floating .icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
.btn-phone-floating .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.btn-phone-floating .btn-info {
  background-color: #084c95;
  border-radius: 5px;
  color: #ffffff;
  background-image: none;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-phone-floating .btn-info:hover {
  background-color: #07386c;
  color: #ffffff;
}
.btn-phone-floating .btn-info:focus {
  background-color: #07386c;
}
.btn-phone-floating .btn-info:active {
  background-color: #07386c;
}
.btn-phone-floating .btn-info:active:hover {
  background-color: #07386c;
}

/*Header */
.header-top-nav {
  background-color: #eeeeee;
  font-weight: 500;
}

.header-city-btn,
.header-top-nav a {
  color: #777777;
}

.header-city-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-top-nav .nav > li > a:focus {
  color: #333333;
}

.navbar-btn a:focus {
  text-decoration: none !important;
}

.header-city-btn:focus,
.header-top-nav .nav > li:focus,
.header-top-nav .nav > li > a:focus {
  color: #333333 !important;
}

@media (hover: hover) {
  .header-top-nav .nav > li > a:hover {
    color: #333333;
  }
  .navbar-btn a:hover {
    text-decoration: none !important;
  }
  .header-city-btn:hover,
  .header-top-nav .nav > li:hover,
  .header-top-nav .nav > li > a:hover {
    color: #333333 !important;
  }
}
@media (hover: none) {
  .header-top-nav .nav > li > a:focus {
    color: #333333;
  }
  .navbar-btn a:focus {
    text-decoration: none !important;
  }
  .header-city-btn:focus,
  .header-top-nav .nav > li:focus,
  .header-top-nav .nav > li > a:focus {
    color: #333333 !important;
  }
}
header .btn-warning:active,
header .btn-warning.active {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
header .btn-warning {
  background-color: #eda33b;
  border-radius: 5px;
  background-image: none;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
header a:hover {
  text-decoration: none !important;
}
header .header-city-btn:hover {
  color: #333333;
}
@media (hover: hover) {
  header .btn-warning:hover {
    background-color: #d39235;
    text-decoration: none !important;
  }
}
@media (hover: none) {
  header .btn-warning:focus {
    background-color: #d39235;
    text-decoration: none !important;
  }
}
header .dropdown.nav.notepads_block_action a:focus .badge,
header .dropdown.nav.notepads_block_action a:hover .badge {
  background-color: #333333;
}
header .container {
  border-radius: 10px 10px 0 0;
  padding-top: 15px;
}
header .navbar.navbar-default {
  background-color: #ffffff;
  background-image: none;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  min-height: 30px;
}
header h1 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
header .pull-left,
header .pull-left .navbar-brand,
header .pull-left .navbar-brand .navbar-brand__logo {
  height: 32px;
}
header .pull-left .navbar-brand {
  padding: 0 0 0 20px;
}
header .navbar-default .navbar-nav > li > a {
  background-image: none;
  filter: none;
  height: 32px !important;
  background-color: #ffffff;
  border-radius: 5px;
  color: #777777;
  border: 1px solid #e6e6e6;
  padding: 6px 10px;
  font-weight: 500;
}
header .navbar-default .navbar-nav > li > a {
  background-image: none;
  filter: none;
  height: 32px !important;
  background-color: #ffffff;
  border-radius: 5px;
  color: #777777;
  border: 1px solid #e6e6e6;
  padding: 6px 10px;
  font-weight: 500;
}
@media (hover: hover) {
  header .navbar-default .navbar-nav > li > a:hover {
    color: #333333;
  }
}
@media (hover: none) {
  header .navbar-default .navbar-nav > li > a:focus {
    color: #333333;
  }
}
header .navbar-default .navbar-btn {
  margin: 0;
}
header .container-fluid {
  padding: 0;
}
header .sidenav__inner ul li {
  margin-left: 10px;
}
header .sidenav__inner .dropdown-menu.sub-menu {
  margin-top: 5px;
  border-radius: 5px;
}
header .sidenav__inner .dropdown-menu.sub-menu li {
  margin-left: 0px;
}
header .dropdown.nav.open .dropdown-menu.sub-menu li a {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .dropdown.nav .dropdown-menu.sub-menu li a {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .dropdown.nav .dropdown-menu.sub-menu li a:focus,
header .dropdown.nav .dropdown-menu.sub-menu li a:hover {
  color: #333333;
  background-color: #e6e6e6;
  background-image: none;
}
header .navbar-link {
  font-weight: 500 !important;
  line-height: 1.4;
  display: flex;
  align-items: center;
  gap: 5px;
}
header .sidenav__close {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  color: #777777;
}
header .nav > li > a {
  display: flex;
  align-items: center;
  gap: 5px;
}
header button.navbar-toggle.sidenav-button {
  padding: 6px 9px;
  color: #777777;
}
header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .active > a {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  border: 1px solid #e6e6e6;
  color: #333333;
  background-color: #e6e6e6;
}
@media (min-width: 768px) {
  header .dropdown:hover .dropdown-menu {
    display: block;
  }
  header .dropdown:hover .dropdown-menu:hover {
    display: block;
  }
  header .dropdown .dropdown-menu::before {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    display: block;
    z-index: 100000;
    top: -7px;
  }
}
@media (max-width: 767px) {
  header .pull-left .navbar-brand {
    margin-top: 14px;
  }
  header .sidenav_open .header-city-btn {
    display: none;
  }
  header .sidenav.loaded.sidenav_open .sidenav__hide-desktop:first-child {
    border: none;
  }
  header .sidenav__inner {
    padding-top: 70px;
  }
  header .sidenav__inner ul .nav.navbar-nav {
    padding: 0;
    margin-left: 0;
  }
  header .sidenav__inner ul .nav.navbar-nav a {
    border: none;
  }
  header .sidenav__inner ul .nav.navbar-nav a:focus {
    border: none;
    border-radius: 0;
    outline: none;
  }
  header .sidenav__inner ul .nav.navbar-nav a:focus .navbar-link {
    border: none;
    border-radius: 0;
    outline: none;
    color: #333333;
  }
  header .sidenav.loaded.sidenav_open .sidenav__hide-desktop {
    padding: 0;
  }
  header .sidenav.loaded.sidenav_open .sidenav__hide-desktop a {
    border: none;
  }
  header .sidenav.loaded.sidenav_open .sidenav__hide-desktop a:focus {
    border: none;
    border-radius: 0;
    outline: none;
  }
  header .sidenav__inner ul li {
    padding: 0;
    margin-left: 0;
  }
  header .navbar-default .navbar-nav > li > a {
    height: unset !important;
    padding: 12px 20px;
    border: none;
    border-radius: 0;
  }
  header .navbar-default .navbar-btn {
    margin: 30px 20px;
  }
  header .dropdown.nav.open a.dropdown-toggle {
    color: #333333;
  }
  header .dropdown.nav.open .dropdown-menu.sub-menu li a {
    border: none !important;
    border-radius: 0 !important;
    padding: 8px 20px;
    color: #777777;
  }
  header .dropdown.nav.open .dropdown-menu.sub-menu {
    border: none !important;
    border-radius: 0 !important;
  }
  header .sidenav .navbar-toggle {
    width: 34px;
    margin: 0;
    position: relative;
  }
  header .navbar-btn .btn-warning {
    width: fit-content;
  }
  header button.navbar-toggle.sidenav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
  }
}
header strong,
header .balance-currency {
  color: #333333;
  font-weight: 700;
}

/*# sourceMappingURL=header.css.map */
