* {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  text-shadow: none !important;
}

.btn {
  background-image: none !important;
}

.well,
.alert .alert-danger,
.alert,
.alert-danger {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-image: none !important;
  background-repeat: unset !important;
  border: none !important;
}

.btn-vk {
  color: #fff;
  background-color: #587ea3;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-odnoklassniki {
  color: #fff;
  background-color: #f4731c;
  border-color: rgba(0, 0, 0, 0.2);
}

.modal .modal-dialog .modal-content .modal-body .text-right {
  display: flex;
  justify-content: right;
  gap: 10px;
}
