@import "./global.scss";

.publications__announcing {
  .object {
    background-color: $color-grey-superlight;
    border-radius: 10px;
    padding: 5px 0;
    margin-top: 5px;
  }

  .object.object_marked {
    background-color: $color-yellow-bg;
    box-shadow: none;
  }
  .object.object_rise {
    background-color: $color-cyan-bg;
    box-shadow: none;
  }

  .object {
    a {
      color: $color-blue;
    }
    a:hover {
      color: $color-blue-hover;
    }
    a:visited {
      color: $color-blue-hover;
    }
    // Buttons
    .btn {
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      vertical-align: bottom;
      border-radius: $border-radius;
      padding: $padding-btn-small;
      font-weight: 500;
      line-height: 1.314;
      display: flex;
      align-items: center;
      gap: 5px;
      height: 32px !important;
    }

    .btn-info {
      background-color: $color-white;
      border-radius: $border-radius;
      border-color: $color-border;
      background-image: none;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .btn-info:hover {
      background-color: $color-white;
      border: 1px solid $color-border;
    }
    .btn-info:focus {
      background-color: $color-white;
      border: 1px solid $color-border;
    }
    .btn-info:active {
      background-color: $color-white;
      border: 1px solid $color-border;
    }
    .btn-info:active:hover {
      background-color: $color-white;
      border: 1px solid $color-border;
    }

    .btn-xs {
      padding: $padding-btn-small;
      font-size: 14px;
      height: 32px !important;
      line-height: 1.42857143;
    }

    .object__show-phone {
      color: $color-grey-text !important;
      display: flex !important;
      align-items: center;
      justify-content: center;
      height: 34px !important;
      width: fit-content;
    }
    .object__show-phone:visited {
      color: $color-grey-text !important;
    }

    .object__gallery,
    .object__gallery-item {
      border-radius: 5px;
    }

    .object__data {
      padding: 10px 0;
    }

    .object__meta {
      padding: 10px 0;
    }

    .object__actions {
      margin-top: 10px;
      position: absolute;
      right: -10px;
      bottom: 18px;
      width: auto;
    }

    .header_adv_short {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
      color: $color-grey-dark;
    }

    .header_adv_short:hover {
      color: $color-grey-dark;
    }

    .header_adv_short:visited {
      color: $color-grey-dark;
    }

    .object__lead {
      font-size: 28px;
      font-weight: 700;
      color: $color-grey-dark;
      margin-bottom: 5px;
    }

    .text-location {
      font-weight: 500;
      margin-bottom: 5px;
    }

    .text-location svg {
      position: relative;
      top: 2px;
    }

    .text-muted.object__text-trim.object__text-comment.tooltip_comment_action.tooltip_comment_loaded {
      font-size: 14px;
      color: $color-grey-text;
      font-weight: 400;
    }

    .object__status {
      display: flex;
      align-items: center;
      color: $color-grey-text;
      gap: 10px;
      margin: 0;
    }

    .object__status {
      .label {
        font-size: 14px;
        color: $color-white;
        padding: 6px 10px;
        border-radius: 5px;
        font-weight: 500;
        width: auto;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
      .label.label-danger {
        background-color: $color-red;
      }
      .label.label-default {
        background-color: $color-grey;
      }
      .label.label-info {
        background-color: $color-blue;
      }
    }

    .object__owner-name {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
      position: relative;
      min-height: 1px;
      padding-left: 5px;
      padding-right: 5px;
    }
    @media (max-width: 1200px) {
      .col-xs-1,
      .col-sm-1,
      .col-md-1,
      .col-lg-1,
      .col-xs-2,
      .col-sm-2,
      .col-md-2,
      .col-lg-2,
      .col-xs-3,
      .col-sm-3,
      .col-md-3,
      .col-lg-3,
      .col-xs-4,
      .col-sm-4,
      .col-md-4,
      .col-lg-4,
      .col-xs-5,
      .col-sm-5,
      .col-md-5,
      .col-lg-5,
      .col-xs-6,
      .col-sm-6,
      .col-md-6,
      .col-lg-6,
      .col-xs-7,
      .col-sm-7,
      .col-md-7,
      .col-lg-7,
      .col-xs-8,
      .col-sm-8,
      .col-md-8,
      .col-lg-8,
      .col-xs-9,
      .col-sm-9,
      .col-md-9,
      .col-lg-9,
      .col-xs-10,
      .col-sm-10,
      .col-md-10,
      .col-lg-10,
      .col-xs-11,
      .col-sm-11,
      .col-md-11,
      .col-lg-11,
      .col-xs-12,
      .col-sm-12,
      .col-md-12,
      .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .notepad_action .object__actions-item svg {
      stroke: currentColor;
      fill: none;
    }

    .object__actions-item.active svg {
      fill: currentColor;
    }

    .object__actions-item {
      color: $color-grey-text;
    }
    .object__actions-item svg {
      width: 17px;
      height: 17px;
    }
    .object__actions-item:hover svg {
      color: $color-grey-dark;
    }

    .object__owner {
      margin-bottom: 0 !important;
    }

    @media (max-width: 1024px) {
      .object__actions {
        position: absolute;
        top: 5px;
        right: 5px;
        margin: 0;
        padding: 0;
        width: unset;
      }
    }
    @media (max-width: 992px) {
      .object__data {
        width: 65%;
      }
      .object__actions {
        margin: 0;
        padding: 0;
        width: unset;
      }
    }
    @media (max-width: 768px) {
      .object__actions {
        top: unset;
        bottom: 15px;
      }
      .object__data {
        width: unset;
      }
      .object__show-phone {
        height: 36px !important;
      }
      .object__owner {
        margin: 0;
      }
    }
    @media (min-width: 1024px) {
      .object__actions {
        right: -15px !important;
        padding-top: 5px;
      }
    }
    @media (min-width: 768px) {
      .header_adv_short {
        margin-top: 5px;
      }
      .object__owner-name {
        margin-top: 5px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container:not(.full-size) .object .object__gallery,
  .modal .object .object__gallery {
    height: 275px;
    width: 375px;
  }
}

@media (max-width: 1200px) {
  .container:not(.full-size) .object .object__gallery,
  .modal .object .object__gallery {
    margin-bottom: 10px;
  }
}
