/* NEW STYLES */
:root {
  --color-blue: #084c95;
  --color-blue-hover: #07386c;
  --color-blue-light: #23527c;
  --color-blue-superlight: #337ab7;
  --color-cyan: #4db9db;
  --color-red: #d9534f;
  --color-yellow: #eda33b;
  --color-yellow-hover: #d39235;
  --color-yellow-bg: #fdfdda;
  --color-green: #53ae53;
  --color-grey-dark: #333333;
  --color-grey: #7a7a7a;
  --color-grey-text: #777777;
  --color-grey-superlight: #f5f5f5;
  --color-border: #e6e6e6;
  --color-white: #ffffff;
  --border-radius: 5px;
  --border-radius-big: 10px;
  --padding-btn-small: 6px 10px;
}

body {
  background-color: var(--color-grey-superlight);
}

a {
  color: var(--color-blue);
}
a:hover {
  color: var(--color-blue-hover);
}
a:visited {
  color: var(--color-blue-hover);
}

/* Icons */
.icon-map-small {
  width: 12px;
  height: 14px;
  fill: currentColor;
}
.icon-caret-default {
  width: 10px;
  height: 6px;
  fill: currentColor;
}
.icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
.icon-info {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

/* Buttons */
.btn {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: bottom;
  border-radius: var(--border-radius);
  padding: var(--padding-btn-small);
}

.btn-default:active,
.btn-default.active,
.btn-primary:active,
.btn-primary.active,
.btn-success:active,
.btn-success.active,
.btn-info:active,
.btn-info.active,
.btn-warning:active,
.btn-warning.active,
.btn-danger:active,
.btn-danger.active {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-xs {
  padding: var(--padding-btn-small);
  font-size: 14px;
}

.btn-default {
  background-image: none;
  filter: none;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  color: var(--color-grey-text);
  border: 1px solid var(--color-border);
  font-weight: 400;
}
.btn-default:hover {
  background-color: var(--color-grey-superlight);
  border: 1px solid var(--color-border);
  color: var(--color-grey-dark);
}
.btn-default.active {
  background-color: var(--color-border);
  border: 1px solid var(--color-border);
  color: var(--color-grey-dark);
}
.btn-default.active:hover {
  border: 1px solid var(--color-border);
  color: var(--color-grey-dark);
}
.btn-default:focus {
  box-shadow: none;
  border: 1px solid var(--color-grey-dark);
}

.dropdown-toggle {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 500 !important;
}

.dropdown-menu {
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  padding: 0 !important;
  border: 1px solid var(--color-border) !important;
  box-shadow: none !important;
}
.dropdown-menu li a {
  font-size: 14px;
  font-weight: 500 !important;
  color: var(--color-grey-text) !important;
  margin: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid var(--color-border) !important;
}
.dropdown-menu li a:hover {
  background-color: var(--color-grey-superlight);
  background-image: none !important;
}
.dropdown-menu li:first-child a {
  border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}
.dropdown-menu li:last-child a {
  border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
  border: none !important;
}
.dropdown-menu li.active a {
  background-color: var(--color-border) !important;
  color: var(--color-grey-dark) !important;
  background-image: none !important;
}

.btn-primary {
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  background-image: none;
  border: none;
}
.btn-primary:hover {
  background-color: var(--color-blue-hover);
}
.btn-primary:focus {
  background-color: var(--color-blue-hover);
  border: 1px solid var(--color-grey-dark);
}

.btn-info {
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  background-image: none;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-info:hover {
  background-color: var(--color-blue-hover);
}
.btn-info:focus {
  background-color: var(--color-blue-hover);
}
.btn-info:active {
  background-color: var(--color-blue-hover);
}
.btn-info:active:hover {
  background-color: var(--color-blue-hover);
}

.btn-warning {
  background-color: var(--color-yellow);
  border-radius: var(--border-radius);
  background-image: none;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
}
.btn-warning:hover {
  background-color: var(--color-yellow-hover);
  text-decoration: none;
}

/* Inputs */
input.form-control {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px !important;
}
input.form-control:focus {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--color-blue);
}
input.form-control:active {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--color-blue);
}
/* Единственный элемент */
input.form-control:only-child {
  border-radius: var(--border-radius) !important;
}

/* Первый элемент */
input.form-control:first-child:not(:only-child) {
  border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}

/* Последний элемент */
input.form-control:last-child:not(:only-child) {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

/* Предпоследний элемент (не первый и не последний) */
input.form-control:nth-last-child(2):not(:first-child):not(:last-child) {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

/* Элемент не первый, не последний и не предпоследний */
input.form-control:not(:first-child):not(:last-child):not(:nth-last-child(2)) {
  border-radius: 0 !important;
}
.input-group-addon {
  border-radius: 0;
  border: none;
  background: none;
  padding: 5px;
  color: var(--color-grey-text);
}
.input-group-addon.input-sm {
  color: var(--color-grey-text);
  padding: 5px;
}
.input-group-sm input.form-control {
  height: auto !important;
  font-size: 14px !important;
  width: 38px !important;
  padding: var(--padding-btn-small) !important;
}

/* Checkbox */
.radio,
.checkbox {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}
.radio:hover,
.checkbox:hover {
  background-color: var(--color-superlight);
}
.checkbox label {
  padding: 6px 8px;
  display: flex;
  align-items: center;
}
.animated-radios-and-checkboxes .checkbox .cr,
.animated-radios-and-checkboxes .radio .cr {
  border: 1px solid var(--color-border);
}
.animated-radios-and-checkboxes .checkbox label {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: unset !important;
}
.animated-radios-and-checkboxes
  .checkbox
  label
  input[type="checkbox"]:checked
  + .cr
  > .cr-icon,
.animated-radios-and-checkboxes
  .radio
  label
  input[type="radio"]:checked
  + .cr
  > .cr-icon {
  opacity: 1;
  color: var(--color-white);
  font-size: 10px;
}
.animated-radios-and-checkboxes
  .checkbox
  label
  input[type="checkbox"]:checked
  + .animated-radios-and-checkboxes
  .checkbox
  .cr,
.animated-radios-and-checkboxes
  .radio
  label
  input[type="radio"]:checked
  + .animated-radios-and-checkboxes
  .radio
  .cr {
  background-color: var(--color-blue);
}
.animated-radios-and-checkboxes
  .checkbox
  label
  input[type="checkbox"]:checked
  + .animated-radios-and-checkboxes
  .checkbox
  label.huge {
  color: var(--color-blue);
  line-height: unset;
}
.animated-radios-and-checkboxes
  .checkbox:has(input[type="checkbox"]:checked)
  label.huge {
  color: var(--color-blue);
  line-height: unset;
}
.animated-radios-and-checkboxes
  .checkbox
  label
  input[type="checkbox"]:checked
  + .cr,
.animated-radios-and-checkboxes .radio label input[type="radio"]:checked + .cr {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}
.animated-radios-and-checkboxes
  .checkbox:has(input[type="checkbox"]:checked).checkbox {
  border: 1px solid var(--color-white);
}
.animated-radios-and-checkboxes
  .checkbox:has(input[type="checkbox"]:checked).checkbox:hover {
  border: 1px solid var(--color-border);
}
@media screen and (max-width: 900px) {
  #searchFormModal .modal-body .form-group + .btn-group label {
    font-size: 14px;
    padding: var(--padding-btn-small) !important;
  }
}
@media screen and (max-width: 768px) {
  #searchFormModal .modal-body .form-group + .btn-group label {
    font-size: 14px;
    padding: var(--padding-btn-small) !important;
    width: 100%;
  }
}

/*Header */
.header-top-nav {
  background-color: var(--color-superlight);
  font-weight: 500;
}
.header-city-btn,
.header-top-nav a {
  color: var(--color-grey-text);
}
.header-city-btn .fas,
.header-top-nav a .fa,
.header-top-nav a .fas {
  color: currentColor;
}
.header-top-nav .nav > li > a:hover,
.header-top-nav .nav > li > a:focus,
.header-top-nav .nav > li > a:focus,
.header-top-nav .nav > li > a:hover {
  color: var(--color-grey-dark);
}
.navbar-btn a:hover {
  text-decoration: none !important;
}
.header-city-btn:hover,
.header-top-nav .nav > li:hover,
.header-top-nav .nav > li > a:hover {
  color: var(--color-grey-dark) !important;
}
header .container {
  border-radius: var(--border-radius-big) var(--border-radius-big) 0 0;
  padding-top: 15px;
}
header .navbar.navbar-default {
  background-color: var(--color-white);
  background-image: none;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  min-height: 30px;
}
header h1 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
header .pull-left,
header .pull-left .navbar-brand,
header .pull-left .navbar-brand .navbar-brand__logo {
  height: 30px;
}
header .pull-left .navbar-brand {
  padding: 0 0 0 20px;
}

header .navbar-default .navbar-nav > li > a {
  background-image: none;
  filter: none;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  color: var(--color-grey-text);
  border: 1px solid var(--color-border);
  padding: var(--padding-btn-small);
}

header .navbar-default .navbar-btn {
  margin: 0;
}
header .container-fluid {
  padding: 0;
}
header .navbar-default .navbar-right .navbar-nav {
  margin-left: 10px;
}

.sidenav__close {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: var(--color-grey-text);
}

@media (max-width: 768px) {
  header .sidenav__inner {
    padding-top: 70px;
  }
  header .sidenav__inner ul .nav.navbar-nav {
    margin: 5px 15px;
    border: none;
  }
  header .sidenav.loaded.swipeLoaded.sidenav_open .sidenav__hide-desktop {
    margin: 5px 15px;
    border: none;
    padding-left: 0;
  }
  header .sidenav.loaded.swipeLoaded.sidenav_open .sidenav__hide-desktop a {
    border: none;
    padding-left: 0;
  }
  header .nav.navbar-nav.navbar-right .sidenav__hide-desktop:nth-child(4) {
    margin-top: 30px;
  }
}

/* Form */
.well {
  background-color: var(--color-grey-superlight);
  border: none;
  border-radius: var(--border-radius-big);
  box-shadow: none;
  background-image: none;
}

@media (max-width: 768px) {
  .searchFormPage.well {
    background-color: var(--color-blue);
  }
  .shortSearchForm.text-center.link {
    color: var(--color-white);
    text-align: start;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .shortSearchForm.text-center.link::after {
    content: "\f0d7";
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: auto;
    margin-right: 5px;
  }
  .shortSearchForm.text-center.link .badge {
    display: none;
  }

  .modal-dialog .modal-content {
    background-color: var(--color-grey-superlight);
  }
  #form_search_locations_modal .modal-dialog .modal-content {
    background-color: var(--color-white);
  }
  #searchFormModal .modal-dialog .modal-content .get-search-locations-action {
    display: flex;
    align-items: center;
  }
  #searchFormModal
    .modal-dialog
    .modal-content
    .title-search-locations-action::before {
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
  }
  .btn .caret {
    margin-left: auto;
  }
}
.searchFormPage.well .search_form_action .btn-group .dropdown-toggle {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: var(--color-grey);
  border: 1px solid var(--color-grey);
  color: var(--color-white);
}
.search_form_action .btn-group .dropdown-toggle:hover {
  background-color: var(--color-grey-dark);
  border: 1px solid var(--color-grey-dark);
  color: var(--color-white);
}

.search_form_action .btn-group.open .dropdown-toggle {
  background-color: var(--color-grey-dark);
  border: 1px solid var(--color-grey-dark);
  color: var(--color-white);
}
.search_form_action .btn-group.open .dropdown-toggle:hover {
  background-color: var(--color-grey-dark);
  border: 1px solid var(--color-grey-dark);
  color: var(--color-white);
}

/* Search preview */
.search-result-preview {
  font-size: 14px;
  font-weight: 400;
  background-color: var(--color-grey-superlight);
  border-radius: var(--border-radius-big);
  padding: 5px 0;
  padding: 8px 15px;
  margin-bottom: 20px;
}
.search-result-preview .breadcrumb {
  margin: 0;
  padding: 0;
}
.search-result-preview .small {
  font-size: 14px;
}
.search-result-preview .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-result-preview .col-xs-5 .pull-right .btn-group.small {
  margin: 0;
}
.row.media.clearfix.object.object_even.media_after_travel {
  background-color: var(--color-white);
  padding: 5px 15px;
}

/* Cards */
.object {
  background-color: var(--color-grey-superlight);
  border-radius: var(--border-radius-big);
  padding: 5px 0;
  margin-top: 5px;
}
.object.hot {
  background-color: var(--color-yellow-bg);
}

.object .object__gallery,
.object .object__gallery-item {
  border-radius: var(--border-radius);
}

.object__data {
  padding: 10px 0;
}

.object__meta {
  padding: 10px 0;
}

.object .object__actions {
  margin-top: 10px;
  position: absolute;
  right: -10px;
  bottom: 18px;
  width: auto;
}

.object .col-xs-1,
.object .col-sm-1,
.object .col-md-1,
.object .col-lg-1,
.object .col-xs-2,
.object .col-sm-2,
.object .col-md-2,
.object .col-lg-2,
.object .col-xs-3,
.object .col-sm-3,
.object .col-md-3,
.object .col-lg-3,
.object .col-xs-4,
.object .col-sm-4,
.object .col-md-4,
.object .col-lg-4,
.object .col-xs-5,
.object .col-sm-5,
.object .col-md-5,
.object .col-lg-5,
.object .col-xs-6,
.object .col-sm-6,
.object .col-md-6,
.object .col-lg-6,
.object .col-xs-7,
.object .col-sm-7,
.object .col-md-7,
.object .col-lg-7,
.object .col-xs-8,
.object .col-sm-8,
.object .col-md-8,
.object .col-lg-8,
.object .col-xs-9,
.object .col-sm-9,
.object .col-md-9,
.object .col-lg-9,
.object .col-xs-10,
.object .col-sm-10,
.object .col-md-10,
.object .col-lg-10,
.object .col-xs-11,
.object .col-sm-11,
.object .col-md-11,
.object .col-lg-11,
.object .col-xs-12,
.object .col-sm-12,
.object .col-md-12,
.object .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 1024px) {
  .object .col-xs-1,
  .object .col-sm-1,
  .object .col-md-1,
  .object .col-lg-1,
  .object .col-xs-2,
  .object .col-sm-2,
  .object .col-md-2,
  .object .col-lg-2,
  .object .col-xs-3,
  .object .col-sm-3,
  .object .col-md-3,
  .object .col-lg-3,
  .object .col-xs-4,
  .object .col-sm-4,
  .object .col-md-4,
  .object .col-lg-4,
  .object .col-xs-5,
  .object .col-sm-5,
  .object .col-md-5,
  .object .col-lg-5,
  .object .col-xs-6,
  .object .col-sm-6,
  .object .col-md-6,
  .object .col-lg-6,
  .object .col-xs-7,
  .object .col-sm-7,
  .object .col-md-7,
  .object .col-lg-7,
  .object .col-xs-8,
  .object .col-sm-8,
  .object .col-md-8,
  .object .col-lg-8,
  .object .col-xs-9,
  .object .col-sm-9,
  .object .col-md-9,
  .object .col-lg-9,
  .object .col-xs-10,
  .object .col-sm-10,
  .object .col-md-10,
  .object .col-lg-10,
  .object .col-xs-11,
  .object .col-sm-11,
  .object .col-md-11,
  .object .col-lg-11,
  .object .col-xs-12,
  .object .col-sm-12,
  .object .col-md-12,
  .object .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1024px) {
  .object__actions {
    right: -15px !important;
  }
}

.object .header_adv_short {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--color-grey-dark);
}
.object .header_adv_short:hover {
  color: var(--color-grey-dark);
}

.object .object__lead {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-grey-dark);
  margin-bottom: 5px;
}

.object .text-location {
  font-weight: 500;
  margin-bottom: 5px;
}

.object
  .text-muted.object__text-trim.object__text-comment.tooltip_comment_action.tooltip_comment_loaded {
  font-size: 14px;
  color: var(--color-grey-text);
  font-weight: 400;
}

.object__status {
  display: flex;
  align-items: center;
  color: var(--color-grey-text);
  gap: 10px;
}

.object__status-hot {
  font-size: 12px;
  color: var(--color-white);
  background-color: var(--color-red);
  padding: 5px 10px;
  border-radius: var(--border-radius);
  width: auto;
}

.pagination li span,
.pagination li a {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  padding: 5px 10px;
  margin: 0 2.5px;
  font-size: 14px;
  background-color: var(--color-white);
  color: var(--color-grey-dark);
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  vertical-align: middle;
  background-image: none;
}
.pagination li span:hover,
.pagination li a:hover {
  background-color: var(--color-grey-superlight);
  color: var(--color-grey-dark);
}
.pagination li.active span,
.pagination li.active a {
  background-color: var(--color-border);
  color: var(--color-grey-dark);
  border: 1px solid var(--color-border);
}
.pagination li.active span:hover,
.pagination li.active a:hover {
  background-color: var(--color-border);
  color: var(--color-grey-dark);
  border: 1px solid var(--color-border);
}

.pagination li span,
.pagination li a {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  padding: 5px 10px;
  margin: 0 2.5px;
  font-size: 14px;
  background-color: var(--color-white);
  color: var(--color-grey-dark);
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  vertical-align: middle;
  background-image: none;
}
.pagination li span:hover,
.pagination li a:hover {
  background-color: var(--color-grey-superlight);
  color: var(--color-grey-dark);
}
.pagination li.active span,
.pagination li.active a {
  background-color: var(--color-border);
  color: var(--color-grey-dark);
  border: 1px solid var(--color-border);
}
.pagination li.active span:hover,
.pagination li.active a:hover {
  background-color: var(--color-border);
  color: var(--color-grey-dark);
  border: 1px solid var(--color-border);
}

@media (max-width: 1024px) {
  .object .object__actions {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
    width: unset;
  }
}

@media (max-width: 992px) {
  .object .object__data {
    width: 65%;
  }
  .object .object__actions {
    margin: 0;
    padding: 0;
    width: unset;
  }
}

@media (max-width: 768px) {
  .object .object__actions {
    top: unset;
  }
  .object .object__data {
    width: unset;
  }
}

/* View more */
.icon-fa-fas-14 {
  font-size: 14px;
}
.breadcrumb {
  font-weight: 500;
}
.breadcrumb .small {
  font-size: 14px;
}
.breadcrumb-filter {
  margin-bottom: 20px;
}

.breadcrumb-filter .breadcrumb-filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.breadcrumb-filter .breadcrumb-filter__item {
  background-image: none;
  filter: none;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: var(--padding-btn-small);
  color: var(--color-grey-text);
  border: 1px solid var(--color-border);
  font-weight: 400;
}
.breadcrumb-filter .breadcrumb-filter__item:hover {
  background-image: none;
  filter: none;
  border-radius: var(--border-radius);
  padding: var(--padding-btn-small);
  font-weight: 400;
  text-decoration: none;
  background-color: var(--color-grey-superlight);
  border: 1px solid var(--color-border);
  color: var(--color-grey-dark);
}

/* Subscribe */
.row.subscribe-block {
  margin-top: 15px;
}
.row.subscribe-block .well {
  padding: 15px;
  background-color: var(--color-yellow-bg);
}
.row.subscribe-block h2 {
  font-size: 18px;
  font-weight: 500;
}
.row.subscribe-block .form-group.pull-right {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
}
.row.subscribe-block .form-group.pull-right .input-group {
  width: 100%;
}
.row.subscribe-block .form-group.pull-right .input-group .input-group-btn {
  width: 1%;
}
.row.subscribe-block .input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: 10px;
  padding: var(--padding-btn-small);
  border-radius: var(--border-radius);
}
.row.subscribe-block input.form-control:first-child:not(:only-child) {
  border-radius: var(--border-radius) !important;
}
.row.subscribe-block .help-block.muted.small.text-right {
  font-size: 14px;
  font-weight: 400;
  text-align: start;
}

.ds-tabs .ds-item {
  margin: 10px 0;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
}
.ds-tabs .ds-item h2 {
  font-size: 18px;
  font-weight: 400;
}

/* Review-box */
.review-box .well {
  background-color: var(--color-white);
  padding: 0;
  margin: 0 15px;
  margin-bottom: 20px;
}
.review-box .input-group {
  display: flex;
  gap: 10px;
  width: 100%;
}
.review-box .input-group .form-control {
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
}
.review-box .input-group input.form-control:first-child:not(:only-child) {
  border-radius: var(--border-radius) !important;
  border: 1px solid var(--color-border);
}
.review-box .input-group .input-group-btn {
  width: fit-content;
}
.review-box .input-group .btn {
  margin: 0;
  border-radius: var(--border-radius);
}

/* Footer */
/* Old styles for footer */
.footer__inner {
  display: flex;
}
.footer__left {
  max-width: 236px;
  width: 100%;
  margin-right: 50px;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.footer__nav-column:first-child {
  min-width: 250px;
}
.footer__nav-column {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__nav-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.footer__nav-item {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__copy {
  margin-bottom: 16px;
}
.footer__nav-item-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

/* New styles for footer */
.container {
  border-radius: 0 0 var(--border-radius-big) var(--border-radius-big);
}
.footer {
  background: var(--color-grey-superlight);
  color: var(--color-grey-text);
  padding: 25px 15px 35px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.footer__nav-item-title {
  color: var(--color-grey-dark);
}
.footer__nav-link {
  color: var(--color-grey-text);
}
.footer__nav-link:hover {
  color: var(--color-grey-dark);
}
.footer__nav-link:focus {
  color: var(--color-grey-dark);
}

/* Announce info */
.ds-annouce-info .small.text-muted {
  color: var(--color-grey-dark);
  font-size: 14px;
}

.panel-body-adv-block noindex {
  display: flex;
  gap: 3px;
}
.panel-body-adv-block a i {
  font-size: 14px;
}
.panel-body-adv-block .notepad_action {
  display: flex;
  gap: 3px;
}
.panel-body-adv-block {
  display: flex;
  gap: 3px;
}

.ds-social {
  display: flex;
  gap: 5px;
}
.ds-social .btn-social-icon > :first-child {
  font-size: 14px;
}
.btn-favorite-icon {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  width: 34px;
  padding: 0;
}

/* Slider big */
.fotorama__stage {
  border-radius: var(--border-radius);
}
.apartment-desc {
  background-color: var(--color-grey-superlight);
  border-radius: var(--border-radius);
}
.apartment-desc__owner {
  color: var(--color-grey-text);
}
.apartment-desc__item a {
  font-weight: 500;
}

/* Mortgage */
.mortgage-container {
  margin: 0 15px;
}
.mortgage-calc-blok {
  margin-top: 15px;
  background-color: var(--color-grey-superlight);
  border-radius: var(--border-radius-big) var(--border-radius-big) 0 0;
  border: 1px solid var(--color-blue);
}
.mortgage-calc-blok p {
  margin: 0;
}
.calc-mortgage {
  color: var(--color-grey-dark);
  background: none;
  padding: 15px 0;
  margin: 0;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.calc-mortgage__top {
  padding: 0;
}
.calc-mortgage__bottom {
  padding: 0;
}
.calc-mortgage__label {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-grey-dark);
}
.calc-mortgage__input.calc-mortgage__input_disabled input {
  color: var(--color-white);
  background: var(--color-blue);
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 40px 0 8px;
}
.calc-mortgage__input-c {
  right: -17px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-grey-text);
}
.calc-mortgage__input input {
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  font-size: 14px;
  font-weight: 500;
  color: var(--color-grey-text);
}
.calc-mortgage-price,
.calc-mortgage-summ {
  width: 94% !important;
}
.calc-mortgage-rate {
  width: 92% !important;
}

.calc-mortgage .rangeslider__fill {
  background: var(--color-blue);
  border-radius: 2px 0px 0px 2px;
  height: 4px;
}
.calc-mortgage .rangeslider__fill::after {
  content: "";
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--color-blue);
  border-radius: 50%;
  border: 2px solid var(--color-white);
}
.calc-mortgage .rangeslider--horizontal {
  height: 4px;
  background: var(--color-white);
  position: relative;
  margin: 16px 0;
}
.calc-mortgage__result::after,
.calc-mortgage__result::before {
  content: none;
}
/* .calc-mortgage__result {
  width: 100%;
  justify-content: center;
} */
.calc-mortgage__result .calc-mortgage__sum {
  font-size: 21px;
  color: var(--color-blue);
  margin-right: 10px;
  margin-left: 150px;
}
.calc-mortgage__result .calc-mortgage__note {
  font-size: 14px;
  color: var(--color-grey-text);
  max-width: unset;
}

.mortgage-table-blok {
  border: 1px solid var(--color-blue);
  border-top: none;
  border-radius: 0 0 var(--border-radius-big) var(--border-radius-big);
  margin-bottom: 15px;
}
.table-mortgage {
  font-size: 12px;
  color: var(--color-blue);
  margin-bottom: 15px;
}
.table-mortgage th {
  line-height: 18px;
}
.table-mortgage-header {
  color: var(--color-grey-text);
}
.table-mortgage tr {
  position: relative;
  border: none;
}

.table-mortgage tr:first-child::after {
  border-bottom: 1px solid var(--color-border);
}
.table-mortgage tr::after {
  content: "";
  position: absolute;
  width: calc(100% + 30px);
  left: -15px;
  bottom: 0;
  border-bottom: 1px solid var(--color-border);
}
.table-mortgage__name {
  font-size: 14px;
}
.table-mortgage td:nth-child(5),
.table-mortgage th:nth-child(5) {
  width: 45px;
}

.table-mortgage-btn {
  padding: var(--padding-btn-small);
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  height: 37px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.table-mortgage-btn:hover {
  background-color: var(--color-blue-hover);
}
.table-mortgage-show {
  padding: var(--padding-btn-small);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  color: var(--color-grey-text);
  height: 37px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
}
.table-mortgage-show:hover {
  background-color: var(--color-grey-superlight);
  border: 1px solid var(--color-border);
  color: var(--color-grey-dark);
}
.table-mortgage__btn-popover {
  padding: var(--padding-btn-small);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  color: var(--color-grey-text);
  margin-right: 5px;
  display: inline-block;
}
.table-mortgage__btn-popover svg {
  margin-top: 4px;
}
.table-mortgage__btn-popover:hover {
  background-color: var(--color-grey-superlight);
  border: 1px solid var(--color-border);
  color: var(--color-grey-dark);
}

/* Map */
.map {
  width: auto;
  height: 425px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.selectize-input.focus {
  border-color: var(--color-grey-dark);
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
