.ds-tabs {
  margin-bottom: 10px;
  .ds-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    svg {
      display: flex;
      transform: rotate(-180deg);
      margin-left: 10px;
      min-width: 16px;
      min-height: 16px;
    }
    h2 {
      margin: 0;
    }
  }
  .ds-answer {
    padding-left: 0;
    margin-top: 12px;
    display: none;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        &:not(:last-child) {
          padding-bottom: 5px;
        }
      }
    }
    table {
      tr {
        &:not(:last-child) {
          td {
            padding-bottom: 5px;
          }
        }
        td {
          &:not(:first-child) {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.ds-item {
  border-bottom: 1px solid $color-surface;
  background-color: $color-surface;
  padding-bottom: 20px;
  margin-bottom: 20px;
  &:hover {
    background-color: $color-secondary;
  }
  &.active {
    background-color: $color-secondary;
    .ds-question svg {
      transform: rotate(0);
    }
    .ds-answer {
      display: block;
    }
  }
}

.ds-tabs {
  .ds-item {
    margin: 5px 0;
    padding: 15px 20px;
    border-radius: $border-radius;
    border: 1px solid $color-surface;
    color: $color-dark;
  }
  .ds-item h2 {
    color: $color-dark;
    font-size: 16px;
    font-weight: 400;
  }
  .ds-question svg {
    display: flex;
    transform: rotate(0deg);
    margin-left: 10px;
  }
}
