$color-white: #ffffff;
$color-blue: #084c95;
$color-blue-hover: #07386c;
$color-grey-dark: #333333;
$color-grey: #7a7a7a;
$color-grey-superlight: #f5f5f5;
$color-border: #e6e6e6;
$border-radius: 5px;
$border-radius-big: 10px;
$color-new-building: #0085ff;
$color-default-building: #112832;
$color-market: #887cee;
$color-study: #ffbb33;
$color-medical: #08a664;
$color-sport: #92d9ea;
$color-entertainment: #e98beb;

/* Map */
.map {
  width: auto;
  height: 425px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.selectize-input.focus {
  border-color: $color-grey-dark;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Стили для кластера */
.cluster-marker {
  width: 28px;
  height: 28px;
  position: relative;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.cluster-marker:hover {
  transform: translate(-50%, -50%) scale(1.2);
  cursor: pointer;
}
.cluster-marker.active:hover {
  transform: translate(-50%, -50%);
}
.cluster-marker__inner {
  width: 100%;
  height: 100%;
  background-color: $color-blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Стили для одиночного маркера */
.single-marker {
  width: 28px;
  height: 28px;
  background-color: $color-blue;
  border-radius: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.single-marker:hover {
  transform: translate(-50%, -50%) scale(1.2);
  cursor: pointer;
}

.map-icon {
  width: 16px;
  height: 16px;
  pointer-events: none;
}
.filter-icon.default-building,
.single-marker.default-building,
.cluster-marker__inner.default-building {
  background-color: $color-default-building;
}
.filter-icon.new-building,
.single-marker.new-building,
.cluster-marker__inner.new-building {
  background-color: $color-new-building;
}
.filter-icon.market,
.single-marker.market,
.cluster-marker__inner.market {
  background-color: $color-market;
}
.filter-icon.study,
.single-marker.study,
.cluster-marker__inner.study {
  background-color: $color-study;
}
.filter-icon.medical,
.single-marker.medical,
.cluster-marker__inner.medical {
  background-color: $color-medical;
}
.filter-icon.sport,
.single-marker.sport,
.cluster-marker__inner.sport {
  background-color: $color-sport;
}
.filter-icon.entertainment,
.single-marker.entertainment,
.cluster-marker__inner.entertainment {
  background-color: $color-entertainment;
}

.single-marker.active svg {
  transform: rotate(-45deg);
}
.single-marker.active {
  z-index: 1000;
  border-radius: 50% 50% 0 50%;
  transform: translate(-50%, -100%) rotate(45deg) scale(1.2);
}

.single-marker.active::after {
  content: "";
  position: absolute;
  top: 105%;
  left: 105%;
  width: 6px;
  height: 6px;
  border: 1.7px solid $color-white;
  background-color: inherit;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Map list */
.ds-map__list .swiper {
  padding: 5px;
}
.ds-map__item-container {
  padding: 5px;
}
.ds-map__item-container .swiper-slide {
  width: 95%;
}
.ds-map__item {
  padding: 20px 24px 20px 24px;
  border-radius: $border-radius;
  margin-bottom: 5px;
}
.ds-map__item.active {
  background-color: $color-border;
}
.ds-map__item:not(:last-child) {
  border: none;
  position: relative;
}
.ds-map__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background-color: $color-border;
}
.ds-map__item:hover {
  background-color: $color-grey-superlight;
}
.ds-map__item.active:hover {
  background-color: #e0e0e0;
}

/* Стили для скроллбара */
.swiper-scrollbar {
  width: 4px !important;
  right: 2px !important;
  left: auto !important;
  background-color: $color-border !important;
}

.swiper-scrollbar-drag {
  background-color: $color-grey !important;
  width: 4px !important;
  cursor: grab;
}

.swiper-scrollbar-drag:active {
  cursor: grabbing;
}

.main-marker {
  z-index: 9999;
  width: 28px;
  height: 28px;
  background-color: $color-blue;
  border-radius: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50% 50% 0 50%;
  transform: translate(-50%, -100%) rotate(45deg) scale(1.5);
  background-color: $color-new-building;
}
.main-marker svg {
  transform: rotate(-45deg);
}

/* Стили для панели фильтров */
.ds-map-filters {
  position: relative;
  bottom: 50px;
  left: 35%;
  border-radius: 8px;
  display: flex;
  gap: 5px;
  z-index: 1000;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 32px;
  padding: 0 10px 0 3px;
  border: 1px solid $color-border;
  border-radius: 50px;
  background: $color-white;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s;
}

.filter-text-all {
  padding-left: 5px;
}

.filter-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-btn:hover {
  background: $color-grey-superlight;
}

.filter-btn.active {
  background: $color-default-building;
  color: $color-white;
  border-color: $color-default-building;
}

.filter-btn.active .map-icon {
  fill: white;
}

.filter-count {
  font-size: 12px;
}

@media (max-width: 767px) {
  .ds-map-filters {
    position: static;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .ds-map__list {
    display: none;
  }
  .ds-map__wrap {
    margin: 0 15px;
  }
}

.status-sticker {
  width: fit-content;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.status-sticker.default-building {
  background-color: $color-default-building;
  color: $color-white;
}
.status-sticker.new-building {
  background-color: $color-new-building;
  color: $color-white;
}

/* Стили для тултипа кластера */
.cluster-tooltip {
  position: absolute;
  background: $color-white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1001;
  left: calc(100% + 15px);
  top: 50%;
  transform: translateY(-50%);
}

.cluster-tooltip::after {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid $color-white;
}

.cluster-tooltip__item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid $color-border;
}

.cluster-tooltip__item:last-child {
  border-bottom: none;
}

.cluster-tooltip__item:hover {
  background-color: $color-grey-superlight;
}

.cluster-tooltip__heading {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 4px;
}

.cluster-tooltip__address {
  font-size: 10px;
  color: $color-grey;
}

/* Затемнение фона при открытом попапе */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Стили для тултипа слева от маркера */
.cluster-tooltip--left::after {
  left: auto;
  right: -8px;
  border-right: none;
  border-left: 8px solid $color-white;
}

/* Добавляем стили для активного кластера */
.cluster-marker.active {
  transform: translate(-50%, -50%);
  cursor: default;
}

.cluster-marker.active:hover {
  transform: translate(
    -50%,
    -50%
  ); /* Отменяем эффект hover для активного кластера */
}

.cluster-marker__inner.active {
  cursor: default;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}
