/* Map */
.map {
  width: auto;
  height: 425px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.selectize-input.focus {
  border-color: var(--color-grey-dark);
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Стили для кластера */
.cluster-marker {
  width: 32px;
  height: 32px;
  position: relative;
  transform: translate(-50%, -50%);
}
.cluster-marker:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.cluster-marker__inner {
  width: 100%;
  height: 100%;
  background-color: var(--color-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Стили для одиночного маркера */
.single-marker {
  width: 32px;
  height: 32px;
  background-color: var(--color-blue);
  border-radius: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-marker:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.map-icon {
  width: 20px;
  height: 20px;
}
.single-marker.default-building,
.cluster-marker__inner.default-building {
  background-color: #112832;
}
.single-marker.new-building,
.cluster-marker__inner.new-building {
  background-color: #0085ff;
}
.single-marker.market,
.cluster-marker__inner.market {
  background-color: #887cee;
}
.single-marker.study,
.cluster-marker__inner.study {
  background-color: #ffbb33;
}
.single-marker.medical,
.cluster-marker__inner.medical {
  background-color: #08a664;
}
.single-marker.sport,
.cluster-marker__inner.sport {
  background-color: #92d9ea;
}
.single-marker.entertainment,
.cluster-marker__inner.entertainment {
  background-color: #e98beb;
}
