$font-size-section-title: 20px;
$font-size-section-subtitle: 14px;

$blog-head-gradient: linear-gradient(
  90deg,
  #88a1bf 0%,
  #c6d4de 50%,
  #d4dade 100%
);

.blog {
  padding-bottom: 15px;

  // Шрифты для соответствия дизайну блога
  // Можно убрать, если глобально уже заданы
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .blog-tag {
    border: 1px solid $color-secondary;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    color: $color-dark;
    cursor: pointer;

    &:hover,
    &:active,
    &.active {
      background-color: $color-secondary;
      color: $color-primary;
    }
    &:focus {
      outline: 2px solid $color-dark;
      outline-offset: -2px;
    }
    &:disabled {
      background-color: $color-surface;
      color: $color-disabled;
      border-color: $color-surface;
      cursor: not-allowed;
    }
  }
  .blog-section {
    border: none;
    padding: 0;
    background: none;
    color: $color-dark;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    outline: none;

    .blog-section__image {
      width: 44px;
      height: 44px;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
      z-index: 2;
      background-color: $color-surface;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .blog-section__title {
      padding: 15px;
      padding-left: 20px;
      margin-left: -10px;
      background-color: #fff;
      outline: 1px solid $color-secondary;
      outline-offset: -1px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 700;
      line-height: 100%;
      color: $color-dark;
      position: relative;
      z-index: 1;
      overflow: hidden;
      text-wrap: nowrap;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: none;
      }
    }

    &:hover .blog-section__title,
    &:active .blog-section__title {
      background-color: $color-secondary;
      color: $color-primary;
      text-decoration: none;
    }

    &:focus .blog-section__title {
      outline: 2px solid $color-dark;
      outline-offset: -2px;
    }

    &:disabled {
      .blog-section__image {
        cursor: not-allowed;
        opacity: 0.5;
      }
      .blog-section__title {
        background-color: $color-surface;
        color: $color-disabled;
        outline-color: $color-surface;
        cursor: not-allowed;
      }
    }
  }
  .article-preview {
  }
  .article-preview__mini,
  .article-preview__without-img {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 10px;
    background-color: #fff;
    &:hover {
      text-decoration: none;

      .article-preview__title {
        color: $color-primary;
      }
    }
    &:focus {
      outline: none;
      text-decoration: none;

      .article-preview__title {
        color: $color-primary;
        text-decoration: underline;
      }
    }

    .article-preview__image {
      width: 70px;
      height: 70px;
      border-radius: 5px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .article-preview__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }

    .article-preview__title {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
      color: $color-dark;
    }
    .article-preview__other-info {
      display: flex;
      gap: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
      color: $color-grey;
    }
    .article-preview__views {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }
  .article-preview__without-img {
    grid-template-columns: 1fr;
  }

  .section__header-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .section__header-subtitle {
    font-size: $font-size-section-subtitle;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
    padding: 0;
  }
  .section__header-title {
    font-size: $font-size-section-title;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    padding: 0;
  }

  .blog__header {
    position: relative;
    display: grid;
    grid-template-columns: 44px 1fr 1fr;
    gap: 10px;
    padding: 15px;
    border-radius: 15px;
    background: $blog-head-gradient;
    z-index: 1041;

    .blog__header-title-container {
      display: flex;
      flex-direction: column;
    }
    .section__header-title {
      color: #ffffff;
    }
    .section__header-subtitle {
      font-weight: 700;
      color: #fff;
    }

    @media (max-width: 767px) {
      display: none;

      &.in {
        display: grid;
        grid-template-columns: 1fr;
      }

      .blog__header-title-container,
      .section__header-icon {
        display: none;
      }
    }

    .form-group.search-input {
      position: relative;
      display: flex;
      gap: 3px;
      transition: all 0.3s ease;
      margin: 0;

      svg.icon-default {
        position: absolute;

        &.search-icon {
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
          width: 14px;
          height: 14px;
          color: $color-grey;
          z-index: 5;
        }

        &.chevron-icon {
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          width: 14px;
          height: 14px;

          @media (min-width: 992px) {
            display: none;
          }
        }
      }

      input.form-control {
        padding-left: 34px !important;

        // Это пофиксит автоматический зум на мобилах при фокусе на инпуте
        @media (max-width: 991px) {
          font-size: 16px;
        }
      }
      &.selectize-input {
        input {
          padding-left: 24px !important;
        }
      }

      .btn.clear-input {
        @media (hover: none) {
          &:focus {
            -webkit-tap-highlight-color: transparent;
            outline: none;
            border-color: $color-secondary;
          }
        }
        @media (max-width: 767px) {
          &.view {
            display: flex;
          }
        }

        display: none;
        padding: 0 14px;
        svg {
          position: static;
        }
      }
    }
  }

  .live-search__results {
    position: absolute;
    display: none;
    top: 100%;
    margin-top: 5px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-height: 458px;
    overflow-y: auto;

    &.in {
      display: block;
    }

    .search-result {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      margin-bottom: 10px;

      &.top-search {
        gap: 10px;
        margin-bottom: 0;
      }
      &.results {
        gap: 10px;
        margin-bottom: 0;

        .search-result__content {
          flex-direction: column;
        }
      }

      .search-result__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0%;
        color: $color-grey;
      }
      .search-result__content {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
      }
    }
  }

  .blog__tapbar {
    display: none;
    position: fixed;
    padding: 3px 15px;
    background-color: #ffffff;
    width: 100vw;
    bottom: 0;
    left: 0;

    box-shadow: 0px 4px 30px 0px #084c951a;

    @media (max-width: 767px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .tapbar__item {
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      outline: none;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
    .tapbar__item-home {
      display: grid;
      grid-template-columns: 30px 1fr;
      gap: 5px;
      max-width: 103px;
      border-radius: 5px;
      padding: 5px;
      background: $blog-head-gradient;
      border: none;
      cursor: pointer;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }

      .tapbar__item-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .tapbar__item-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 100%;
        color: #fff;
      }
    }

    .tapbar__item-icon {
      width: 14px;
      height: 14px;
    }
    .tapbar__item-title {
      font-size: 14px;
      font-weight: 700;
      line-height: 100%;
      color: $color-dark;
    }

    .tapbar__item.active {
      color: $color-primary;
      & .tapbar__item-icon {
        color: $color-primary;
      }
      & .tapbar__item-title {
        color: $color-primary;
      }
    }
  }
}
.blog__modal-catalog {
  .modal-dialog {
    width: 100%;
    max-width: 1150px;
    padding: 0 5px;
    .modal-content {
      min-height: 500px;
      .modal-header {
        padding: 5px;
        border-bottom: 1px solid $color-secondary;

        button.close {
          border-color: transparent;
          &:hover,
          &:focus,
          &:active {
            border-color: transparent;
          }
        }

        .modal-title {
          margin-left: 15px;
          margin-top: 10px;
        }
      }
      .modal-body {
        display: grid;
        padding: 0;
        grid-template-columns: 1fr 2.8fr;

        .catalog-sidebar {
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          border-right: 1px solid $color-secondary;
        }
        .catalog-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          padding: 20px;

          .catalog-content__section-articles {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .catalog-content__section-article {
              color: $color-grey;
              text-decoration: none;

              &:hover,
              &:focus,
              &:active {
                text-decoration: none;
                color: $color-primary;
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}
