$font-size-section-title: 20px;
$font-size-section-subtitle: 14px;

$blog-head-gradient: linear-gradient(90deg, #88a1bf 0%, #c6d4de 50%, #d4dade 100%);

// New colors
$color-blog-main: #faf8f0;
$color-blog-estate: #f0f9fa;
$color-blog-rent: #f8f1f1;
$color-blog-invest: #effbf5;
$color-blog-design: #f9f5f9;
$color-blog-tag: #eff6fb;
$color-blog-subscribe: #dfe9e0;

.blog {
  padding-bottom: 15px;

  // Шрифты для соответствия дизайну блога
  // Можно убрать, если глобально уже заданы
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    color: $color-primary;

    &:hover {
      color: $color-primary-hover;
    }
  }

  .hidden {
    display: none !important;
  }

  .with_sidebar-rigth {
    &::before,
    &::after {
      display: none;
    }
    display: grid;
    grid-template-columns: 820px 300px;
    gap: 20px;
    width: 100%;

    @media (max-width: 1200px) {
      gap: 15px;

      grid-template-columns: 645px 280px;
    }

    @media (max-width: 991px) {
      grid-template-columns: 720px;
    }
    @media (max-width: 767px) {
      grid-template-columns: calc(100vw - 30px);
    }
    .blog__header {
      z-index: unset;
    }
  }

  .color_main {
    background-color: $color-blog-main;
  }
  .color_estate {
    background-color: $color-blog-estate;
  }
  .color_rent {
    background-color: $color-blog-rent;
  }
  .color_invest {
    background-color: $color-blog-invest;
  }
  .color_tag {
    background-color: $color-blog-tag;
  }
  .color_design {
    background-color: $color-blog-design;
  }

  .btn.btn-default {
    &.white-border {
      border-color: #fff;
      text-decoration: none;
      &:hover {
        border-color: $color-secondary;
        color: $color-primary;
        text-decoration: none;
      }
    }
    &.activated {
      color: $color-primary;
      background-color: $color-secondary;

      &:hover,
      &:active {
        color: #fff;
        background-color: $color-primary;
      }
    }

    transition: all ease 0.2s;
  }

  .blog-tag {
    border: 1px solid $color-secondary;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    color: $color-dark;
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover,
    &:active,
    &.active {
      background-color: $color-secondary;
      color: $color-primary;
      text-decoration: none;
    }
    &:focus {
      outline: 2px solid $color-dark;
      outline-offset: -2px;
    }
    &:disabled {
      background-color: $color-surface;
      color: $color-surface;
      border-color: $color-surface;
      cursor: not-allowed;
    }
  }

  .blog-section {
    border: none;
    padding: 0;
    background: none;
    color: $color-dark;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: all ease 0.2s;

    .blog-section__image {
      width: 44px;
      height: 44px;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
      z-index: 2;
      background-color: $color-surface;
      min-width: 44px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .blog-section__title {
      padding: 15px;
      padding-left: 20px;
      margin-left: -10px;
      background-color: #fff;
      outline: 1px solid $color-secondary;
      outline-offset: -1px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 700;
      line-height: 100%;
      color: $color-dark;
      position: relative;
      z-index: 1;
      overflow: hidden;
      text-wrap: nowrap;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: none;
      }
    }

    &:not(:has(.blog-section__image)) {
      .blog-section__title {
        margin-left: 0;
      }
    }

    &:hover .blog-section__title,
    &:active .blog-section__title,
    &.active .blog-section__title {
      background-color: $color-secondary;
      color: $color-primary;
      text-decoration: none;
    }

    &:focus .blog-section__title {
      outline: none;
    }

    &:disabled {
      .blog-section__image {
        cursor: not-allowed;
        opacity: 0.5;
      }
      .blog-section__title {
        background-color: $color-surface;
        color: $color-surface;
        outline-color: $color-surface;
        cursor: not-allowed;
      }
    }
  }

  // Article in image
  .article-preview__in-img {
    position: relative;
    // overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      height: 330px;
    }

    text-decoration: none;
    &:hover {
      text-decoration: none;

      .article-preview__image {
        img {
          scale: 1.1;

          &:not(.loaded) {
            scale: 1;
          }
        }
      }
    }
    &:focus {
      outline: none;
      .article-preview__title {
        text-decoration: underline;
        color: #fff;
      }
    }

    .article-preview__image {
      position: absolute;
      z-index: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      border-radius: 10px;

      &:has(img:not(.loaded)) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all ease-in-out 0.3s;

        &:not(.loaded) {
          width: 10%;
          height: unset;
          transition: none;
        }
      }
    }

    .article-preview__content {
      position: absolute;
      bottom: 0;
      padding: 20px;
      padding-top: 20%;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      border-radius: 10px;
    }

    .article-preview__title {
      width: 100%;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0%;
      color: #fff;
    }
    .article-preview__other-info {
      display: flex;
      gap: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
      color: $color-grey;
    }
    .article-preview__views,
    .article-preview__post-time {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }

  // Article inder image
  .article-preview__under-img {
    &:hover,
    &:focus {
      text-decoration: none;
      outline: none;

      .article-preview__title {
        color: $color-primary;
      }
      .article-preview__image {
        img {
          scale: 1.1;

          &:not(.loaded) {
            scale: 1;
          }
        }
      }
    }
    &:focus {
      .article-preview__title {
        color: $color-primary;
        text-decoration: underline;
      }
    }
    .article-preview__image {
      height: 185px;
      border-radius: 10px;
      overflow: hidden;

      &:has(img:not(.loaded)) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all ease-in-out 0.3s;

        &:not(.loaded) {
          width: 10%;
          height: unset;
          transition: none;
        }
      }
    }
    .article-preview__content {
      padding: 10px;
      padding-bottom: 0;
    }

    .article-preview__title {
      width: 100%;
      font-weight: 700;
      font-size: 16px;
      line-height: 135%;
      letter-spacing: 0%;
      margin: 0;
      color: $color-dark;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
    .article-preview__other-info {
      display: flex;
      gap: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
      color: $color-grey;
      margin-top: 5px;
    }
    .article-preview__views,
    .article-preview__post-time {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }

  // Article in BG
  .article-preview__in-bg {
    padding: 15px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;

    @media (max-width: 991px) {
      height: unset;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      outline: none;

      .article-preview__title {
        color: $color-primary;
      }
    }
    &:focus {
      .article-preview__title {
        color: $color-primary;
        text-decoration: underline;
      }
    }

    .article-preview__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 10px;
    }

    .article-preview__image {
      height: 185px;
      min-height: 185px;
      border-radius: 3px;
      overflow: hidden;

      &:has(img:not(.loaded)) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:not(.loaded) {
          width: 10%;
          height: unset;
        }
      }
    }

    .article-preview__title {
      width: 100%;
      font-weight: 700;
      font-size: 16px;
      line-height: 135%;
      letter-spacing: 0%;
      margin: 0;
      color: $color-dark;
    }
    .article-preview__other-info {
      display: flex;
      gap: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
      color: $color-grey;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .article-preview__views,
    .article-preview__post-time {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }

  // Article mini with image and without image
  .article-preview__mini {
    .article-preview__title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }

  .article-preview__mini,
  .article-preview__without-img {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 10px;
    color: $color-dark;
    &:hover {
      text-decoration: none;

      .article-preview__title {
        color: $color-primary;
      }
    }
    &:focus {
      outline: none;
      text-decoration: none;

      .article-preview__title {
        color: $color-primary;
        text-decoration: underline;
      }
    }
    &:visited {
      color: $color-dark;
    }

    .article-preview__image {
      width: 70px;
      height: 70px;
      border-radius: 5px;
      overflow: hidden;

      &:has(img:not(.loaded)) {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:not(.loaded) {
          width: 40%;
          height: 40%;
        }
      }
    }

    .article-preview__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }

    .article-preview__title {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
    }
    .article-preview__other-info {
      display: flex;
      gap: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
      color: $color-grey;
    }
    .article-preview__views,
    .article-preview__post-time {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }
  .article-preview__without-img {
    display: flex;

    .article-preview__image {
      display: none;
    }
    .article-preview__title {
      text-overflow: ellipsis;
    }
  }

  .blog__header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background: $blog-head-gradient;
    z-index: 1041;

    .blog__header-link {
      display: grid;
      grid-template-columns: 44px 1fr;
      gap: 10px;
      text-decoration: none;
    }

    &:has(+ .breadcrumb) {
      margin-bottom: 10px;
    }

    .blog__header-title-container {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: none;
        outline: none;
      }
    }
    .section__header-title {
      color: #ffffff;
    }
    .section__header-subtitle {
      font-weight: 400;
      color: #fff;
    }

    @media (max-width: 991px) {
      display: none;

      &.other_page {
        display: flex;
        .live-search {
          display: none;
        }

        .blog__header-title-container,
        .section__header-icon {
          display: block;
        }

        &.hide-mobile {
          display: none;
        }
      }

      &.blog__header-category {
        display: flex;

        .live-search {
          display: none;
        }
      }

      &.in {
        display: grid;
        grid-template-columns: 1fr;
        position: absolute;
        top: 15px;
        width: calc(100vw - 30px);

        .live-search {
          display: block;
        }
        .blog__header-title-container,
        .section__header-icon {
          display: none;
        }
      }
    }
  }
  .form-group.search-input {
    position: relative;
    display: flex;
    gap: 3px;
    transition: all 0.3s ease;
    margin: 0;

    svg.icon-default {
      position: absolute;

      &.search-icon {
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        color: $color-grey;
        z-index: 5;
      }

      &.chevron-icon {
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;

        @media (min-width: 992px) {
          display: none;
        }
      }
    }

    .form-control {
      .selectize-input {
        padding-left: 35px;
        box-shadow: none;

        &:focus {
          border-color: $color-primary;
        }
        .item {
          background: transparent;
          text-shadow: none;
          box-shadow: none;
          border: none;
          margin-bottom: 0;

          &.active {
          }
        }

        &.has-items {
          padding-bottom: 5px;
        }
      }
      .clear {
        color: $color-dark;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        opacity: 1;
        right: 0;

        &:hover {
          color: $color-primary;
          background-color: $color-secondary;
        }
      }

      &.selectize-dropdown {
        border: 1px solid $color-secondary;
        box-shadow: none;
        border-radius: 5px;
      }
    }

    input.form-control {
      padding-left: 34px !important;

      // Это пофиксит автоматический зум на мобилах при фокусе на инпуте
      @media (max-width: 1199px) {
        font-size: 16px;
      }
    }
    &.selectize-input {
      input {
        padding-left: 24px !important;
      }
    }

    .btn.clear-input {
      @media (hover: none) {
        &:focus {
          -webkit-tap-highlight-color: transparent;
          outline: none;
          border-color: $color-secondary;
        }
      }
      @media (max-width: 991px) {
        &.view {
          display: flex;
        }
      }

      display: none;
      padding: 0 14px;
      svg {
        position: static;
      }
    }
  }
  .blog__header-category {
    position: relative;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0;
    .blog__header-bg {
      position: absolute;
      z-index: -1;
      overflow: hidden;
      border-radius: 10px;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
      }
    }

    .live-search {
      padding: 15px 15px 15px 0;

      @media (max-width: 991px) {
        padding: 15px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
        border-radius: 15px;
      }
    }
    .blog__header-title-container {
      display: flex;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
      padding: 15px 0 15px 15px;
      border-radius: 10px;

      .blog__header_title-title {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0%;
        margin-bottom: 2px;
      }
      .blog__header_title-info {
        color: #fff;

        display: flex;
        gap: 10px;

        span {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }

  .live-search__results {
    position: absolute;
    display: none;
    top: 100%;
    margin-top: 5px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-height: 458px;
    overflow-y: auto;

    &.in {
      display: block;
    }

    .search-result {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      margin-bottom: 10px;

      &.top-search {
        gap: 10px;
        margin-bottom: 0;
      }
      &.results {
        gap: 10px;
        margin-bottom: 0;

        .search-result__content {
          flex-direction: column;
        }
      }

      .search-result__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0%;
        color: $color-grey;
      }
      .search-result__content {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
      }
    }
  }

  .blog__tapbar {
    display: none;
    position: fixed;
    padding: 3px 15px;
    background-color: #ffffff;
    z-index: 1000;
    width: 100vw;
    bottom: 0;
    left: 0;

    box-shadow: 0px 4px 30px 0px #084c951a;

    @media (max-width: 991px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .tapbar__item {
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      outline: none;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
    .tapbar__item-home {
      display: grid;
      grid-template-columns: 30px 1fr;
      gap: 5px;
      max-width: 103px;
      border-radius: 5px;
      padding: 5px;
      background: $blog-head-gradient;
      border: none;
      cursor: pointer;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }

      .tapbar__item-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .tapbar__item-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 100%;
        color: #fff;
      }
    }

    .tapbar__item-icon {
      width: 14px;
      height: 14px;
    }
    .tapbar__item-title {
      font-size: 14px;
      font-weight: 700;
      line-height: 100%;
      color: $color-dark;
    }

    .tapbar__item.active {
      color: $color-primary;
      & .tapbar__item-icon {
        color: $color-primary;
      }
      & .tapbar__item-title {
        color: $color-primary;
      }
    }
  }

  .blog__navigation {
    margin: 10px 0;
    display: flex;
    gap: 10px;

    .blog__catalog-button {
      @media (max-width: 991px) {
        display: none;
      }
    }

    // swiper
  }
  .swiper {
    .swiper-slide {
      width: auto; /* позволяет слайду подстраиваться под контент */
      display: inline-block;
    }
    .swiper-button-next {
      right: 0;
      opacity: 0;
      transition: all ease 0.3s;
    }
    .swiper-button-prev {
      left: 0;
      opacity: 0;
      transition: all ease 0.3s;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 44px;
      height: 44px;
      color: $color-dark;
      background-color: #fff;
      border: 1px solid $color-secondary;
      border-radius: 5px;
      top: 0;
      .icon-default {
        width: 14px;
        height: 14px;
      }

      &:hover {
        background-color: $color-secondary;
        border-color: $color-secondary;
      }
      &::after {
        content: "";
      }
      &.swiper-button-disabled {
        opacity: 0;
      }

      @media (max-width: 991px) {
        display: none;
      }
    }

    &:hover {
      .swiper-button-prev,
      .swiper-button-next,
      .swiper_annonces-button-prev,
      .swiper_annonces-button-next {
        opacity: 1;

        &.swiper-button-disabled {
          opacity: 0;
        }
      }
    }
  }
  .swiper_annonces-button-prev,
  .swiper_annonces-button-next {
    opacity: 0;
    &.swiper-button-disabled {
      cursor: auto;
      background-color: $color-surface;
      color: $color-grey;

      &:hover,
      &:focus {
        cursor: auto;
        background-color: $color-surface;
        color: $color-grey;
        outline: none;
        border: 1px solid $color-secondary;
      }
    }
  }
  .swiper_announces {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }
  .swiper-tags {
    margin-top: 15px;
    .swiper-slide {
      margin: 10px 0;

      .blog-tag {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    .small {
      margin-top: -2px;
      width: 34px;
      height: 34px;
    }
  }

  // Annonces object
  .object_panel {
    .object {
      display: flex;
      flex-direction: column;
      .col-md-12:first-child {
        padding: 0 !important;
        width: 100%;
      }
      .object__gallery {
        width: 100%;
      }
      .object__owner {
        margin-right: 47px;
      }
      .object__data {
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-bottom: 0 !important;
      }
      .object__lead {
        margin-top: 15px;
      }
      .object__status {
        margin-top: 5px;
      }
      .object__description {
        margin-top: 5px;

        .text-location {
          a {
            font-weight: 700;
          }
        }
      }
      .object__meta {
        padding-bottom: 10px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        border-left: none;

        .object__owner {
          flex-direction: column;
          align-items: start;
          justify-content: start;

          .phone-container {
            width: 100%;
          }
        }
        .object__owner-name {
          margin-bottom: 15px;
          flex-direction: row;
          align-items: center;
          gap: 5px;
        }
      }
      .object__show-phone {
        height: 44px !important;
        width: 100%;
      }
      .header_adv_short {
        margin-top: 0;
      }
      .object__owner-name {
        margin-top: 0;
      }
      @media (max-width: 991px) {
        .object__data {
          width: unset;
        }
      }

      @media (min-width: 991px) {
        .object__actions {
          right: 2px !important;
          padding: 17px;
          width: unset !important;
          margin-top: 10px;
          position: absolute;
          bottom: 4px;
          flex-direction: column-reverse;
        }
      }
    }
  }

  .main-section-group {
    display: grid;
    grid-template-columns: 1fr 370px;
    gap: 15px;
    height: 378px;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr 350px;
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-bottom: 65px;
    }

    .section-pop {
      background-color: $color-blog-main;
    }

    .article-preview__in-img {
      .article-preview__image {
        @media (max-width: 991px) {
          height: 100%;
          aspect-ratio: 1/1;
        }
      }
    }
  }

  .section-pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;

    .section-pop__title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .section__header-subtitle {
        font-size: 12px;
        line-height: 100%;
      }
    }

    .section-pop__content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .tags-scroll-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 15px;
    gap: 5px;

    &.absolute {
      position: absolute;
      width: 370px;

      @media (max-width: 1199px) {
        width: 352px;
      }
      @media (max-width: 991px) {
        width: calc(100vw - 30px);
      }
    }

    /* hide scrollbar by default */
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      height: 0;
    }

    /* show thin styled scrollbar on hover */
    &:hover {
      -ms-overflow-style: auto;
      scrollbar-width: thin;
      scrollbar-color: rgba(0, 0, 0, 0.22) transparent; /* Firefox thumb / track */

      &::-webkit-scrollbar {
        height: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.22);
        border-radius: 4px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
    }

    .blog-tag {
      text-decoration: none;
      text-wrap: nowrap;
    }

    &.separate-block {
      margin-bottom: 30px;
    }
    &.no-scroll {
      overflow: unset;
      flex-wrap: wrap;
    }
  }

  // section
  .section {
    margin-bottom: 40px;

    .section__title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }

    &.alt_simple {
      border-radius: 10px;
      padding: 20px;
      background-color: $color-surface;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    &.alt_painted {
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }
    &.alt_slider {
      display: flex;
    }
  }
  .section__header {
    display: flex;
    gap: 10px;
  }
  .section__header-title-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3px;
  }
  .section__header-subtitle {
    font-size: $font-size-section-subtitle;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
    padding: 0;
  }
  .section__header-title {
    font-size: $font-size-section-title;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    padding: 0;
  }
  .section__header-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    outline: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .section__header-btns {
    display: flex;
    gap: 3px;
  }

  .section-group {
    display: grid;
    grid-template-columns: 1fr 370px;
    gap: 15px;
    margin-bottom: 40px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr 350px;
    }

    &.left-pop {
      grid-template-columns: 370px 1fr;

      @media (max-width: 991px) {
        grid-template-columns: 350px 1fr;
      }
    }

    .section-group__articles-container {
      display: grid;
      gap: 15px;
      grid-template-columns: 1fr 1fr;
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .section-group-container {
    margin-bottom: 40px;
    .section-group {
      margin-bottom: 15px;
      height: 378px;

      @media (max-width: 1199px) {
        height: unset;
      }
    }
  }

  .subscribe {
    display: flex;
    align-items: center;
    background-color: $color-blog-subscribe;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 40px;

    @media (max-width: 991px) {
      max-height: unset;
    }
    @media (max-width: 767px) {
      padding-top: 20px;
      flex-direction: column;
      max-height: unset;
    }

    img {
      max-width: 380px;
      object-fit: contain;

      @media (max-width: 767px) {
        display: none;
      }
    }

    .subscribe-form {
      padding: 30px;

      .form-group {
        display: flex;
        padding: 20px 0;
        margin-bottom: 0;
        flex-direction: column;

        @media (max-width: 991px) {
          .btn {
            justify-content: center;
          }
        }

        .input-group {
          display: flex;
          gap: 10px;
          width: 100%;

          .form-control {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
          }

          @media (max-width: 767px) {
            flex-direction: column;
          }
        }
      }

      .form-control {
        max-width: 320px;

        @media (max-width: 991px) {
          max-width: unset;
        }
      }

      .subscribe-form__title {
        font-weight: 700;
        font-style: Bold;
        font-size: 26px;
        line-height: 120%;
        letter-spacing: 0%;
        margin-bottom: 5px;

        @media (max-width: 991px) {
          font-size: 21px;
        }
      }

      .subscribe-form__description {
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
        margin: 0;
      }

      .small {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }
  }
  .adv_themes {
    padding: 20px;
    border-radius: 10px;

    margin-bottom: 40px;

    .adv_themes__title {
      margin-bottom: 15px;
    }
  }

  .blog_article__sidebar {
    height: 100%;

    @media (max-width: 991px) {
      display: none;
    }
  }
  .blog_article__sidebar-container {
    top: 10px;
    position: sticky;
    margin-bottom: 20px;

    &.mobile {
      @media (min-width: 992px) {
        display: none;
      }

      padding: 10px;
      border-radius: 8px;
      background-color: $color-secondary;
      margin-bottom: 15px;
      position: relative;
      top: unset;

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        cursor: pointer;
      }

      svg {
        display: block;
        transition: all ease 0.2s;
      }

      .blog_article__sidebar-contents {
        height: 0px;
        overflow: hidden;
        transition: height ease 0.3s;
      }

      &.active {
        svg {
          transform: rotate(-180deg);
        }

        .head {
          margin-bottom: 10px;
        }
        .blog_article__sidebar-contents {
          height: unset;
        }
      }

      .blog_article__sidebar-title {
        margin-bottom: 0;
        padding: 0;
      }
    }
  }
  .blog_article__sidebar-title {
    color: $color-grey;
    font-size: 16px;
    line-height: 150%;
    padding: 5px;
    margin-bottom: 10px;

    @media (max-width: 1199px) {
      padding: 5px 0;
    }
  }
  .blog_article__sidebar-contents {
    display: flex;
    flex-direction: column;
    a {
      color: $color-dark;
      padding: 5px;

      @media (max-width: 1199px) {
        padding: 5px 0;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
  .blog_article__sidebar-actions {
    padding: 10px 5px;
    display: flex;
    gap: 3px;
    position: relative;

    @media (max-width: 1199px) {
      padding: 10px 0;
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  &.popup_share {
    position: absolute;
    padding: 20px;
    border: 1px solid $color-secondary;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px #084c951a;

    &.popup_share_mobile {
      @media (min-width: 992px) {
        display: none;
      }
    }

    &.popup_share_desktop {
      @media (max-width: 991px) {
        display: none;
      }
    }

    .popup_share__title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      h3 {
        margin: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
      }

      .btn-close {
        position: absolute;
        right: -15px;
        top: -15px;

        border-color: transparent;
      }
    }

    .popup_share__btns {
      display: flex;
      gap: 3px;
      .btn {
        width: 44px;
        color: #fff;
        border-color: transparent;

        &.btn-vk {
          background-color: #587ea3;

          &:hover {
            background-color: $color-blue-superlight;
          }
        }
        &.btn-odnoklassniki {
          background-color: #f4731c;

          &:hover {
            background-color: $color-yellow;
          }
        }
      }
    }
  }

  article {
    .photo {
      margin-bottom: 30px;
      div {
        margin-bottom: 10px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        aspect-ratio: 1/1;

        &:has(img:not(.loaded)) {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          &:not(.loaded) {
            width: 10%;
            height: 10%;
          }
        }
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: $color-grey;
      }
    }
    .author {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;

      @media (max-width: 767px) {
        overflow: hidden;
        gap: 5px;
      }

      .name {
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
      }
      .post_date {
        color: $color-grey;
      }
      .post_time,
      .views {
        display: flex;
        align-items: center;
        gap: 3px;
        color: $color-grey;
      }
    }
    h1 {
      font-weight: 700;
      font-size: 26px;
      line-height: 120%;
      margin-top: 5px;
      margin-bottom: 15px;

      @media (max-width: 767px) {
        font-size: 21px;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 20px;
    }
    h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      margin-bottom: 15px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 30px;

      &:has(+ ul),
      &:has(+ ol) {
        margin-bottom: 15px;
      }
    }

    ul {
      margin-bottom: 30px;
      list-style: none;
      list-style-type: none;
      padding-left: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;

      li {
        margin-bottom: 5px;

        &::before {
          content: " ";
          display: inline-block;
          width: 6px;
          height: 2px;
          background-color: $color-dark;
          margin: 0 10px;
          position: relative;
          bottom: 5px;
        }
      }
    }
    ol:not(.breadcrumb) {
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      padding-left: 26px;

      li {
        margin-bottom: 5px;
      }
    }

    table {
      table-layout: fixed;
      width: 100%;
      @media (max-width: 991px) {
        table-layout: auto;
        th,
        td {
          width: 100%;
        }
      }
      tr {
        border-bottom: 1px solid $color-secondary;
        &:last-child {
          border-bottom: 1px solid transparent;
        }
        th {
          font-weight: 700;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          color: $color-grey;

          padding: 10px 0;
          padding-right: 10px;

          text-align: start;
          vertical-align: top;
        }
        td {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0%;

          padding: 10px 0;
          padding-right: 10px;

          text-align: start;
          vertical-align: top;
        }
      }
      thead tr {
        border-bottom: 2px solid $color-secondary !important;
      }
    }
  }

  .article_references {
    margin-bottom: 30px;

    h2 {
      margin-bottom: 0;
    }
    svg {
      display: none;
    }
    ol {
      padding-left: 26px;
      li {
        padding: 0;
      }
    }
    .head {
      margin-bottom: 10px;
    }

    @media (max-width: 991px) {
      padding: 10px;
      border-radius: 8px;
      background-color: $color-secondary;

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        cursor: pointer;
      }

      svg {
        display: block;
        transition: all ease 0.2s;
      }

      .list {
        height: 0px;
        overflow: hidden;
        transition: height ease 0.3s;
      }

      &.active {
        svg {
          transform: rotate(-180deg);
        }

        .head {
          margin-bottom: 10px;
        }
        .list {
          height: unset;
        }
      }
    }
  }

  .blog_article__preview-mini {
    margin-bottom: 30px;
  }

  .blog__attention {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;

    &.primary {
      border-left: 2px solid $color-primary;
      background-color: $color-surface;

      .blog__attention-title {
        color: $color-primary;
      }
    }

    &.warning {
      border-left: 2px solid $color-yellow;
      background-color: $color-attention-surface;

      .blog__attention-title {
        color: $color-yellow;
      }
    }
    &.invalid {
      border-left: 2px solid $color-invalid;
      background-color: $color-attention-surface;

      .blog__attention-title {
        color: $color-invalid;
      }
    }

    .blog__attention-title {
      font-size: 14px;
      margin-bottom: 20px;
    }
    .blog__attention-content {
      margin-bottom: 0;
    }
  }

  .blog_article__tg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
    background-color: $color-secondary;
    border-radius: 10px;
    margin-bottom: 40px;

    @media (max-width: 991px) {
      padding: 20px;
      flex-direction: column;
      gap: 20px;

      .btn {
        width: 100%;
        justify-content: center;
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: 30px;
      font-weight: 700;
      font-size: 26px;
      line-height: 120%;

      @media (max-width: 991px) {
        gap: 20px;

        font-size: 21px;
      }
    }
  }

  .blog_article__quote {
    padding: 20px;
    background-color: #dfe9e0;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;

    p {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }

    .blog_article__quote-author {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      display: flex;
      gap: 5px;
      align-items: center;

      .blog_article__quote-author-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .blog_article__quote-decor_svg {
      position: absolute;
      color: #fff;
      width: 30px;
      height: 23px;
      bottom: 10px;
      right: 10px;
    }
  }

  .blog_article__table-container {
    overflow-x: auto;
  }

  .blog_small.muted {
    color: $color-grey;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    margin-bottom: 30px;
  }

  .blog_article__banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    background-color: #eee7d4;
    border-radius: 10px;
    overflow: hidden;

    &.bg-blue {
      background-color: #dbd9f2;
    }
    &.bg-brown {
      background-color: #bfb7b5;
    }
    &.bg-brown-2 {
      background-color: #e0dfda;
    }
    &.bg-brown-3 {
      background-color: #eaeae2;
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }

    .btn {
      width: fit-content;
    }
    .blog_article__banner-left {
      padding: 30px 0 30px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 767px) {
        padding: 30px;

        .btn {
          width: 100%;
          justify-content: center;
        }
      }
    }

    .blog_article__banner-right {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    a {
      color: $color-dark;
    }

    &.checklist-banner {
      background-color: #eeebe4;
      .btn {
        width: 100%;
        margin-bottom: 5px;
      }
      .blog_article__banner-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .progress-bar {
          display: flex;
          justify-content: space-between;
          position: relative;
          z-index: 1;
          border: none;
          text-wrap: wrap;
          text-align: start;
          padding: 15px;
          height: unset;

          &:hover {
            transition: hover 0.1s ease;
          }

          .result {
            visibility: hidden;
          }

          .progress {
            position: absolute;
          }

          &.active {
            background-color: #fff;
            color: $color-dark;

            .progress {
              position: absolute;
              background: $color-secondary;
              height: 100%;
              top: 0;
              left: 0;
              box-shadow: none;
              z-index: -1;
              transition: padding-right 0.5s ease;
            }

            .result {
              color: $color-primary;
              visibility: visible;
            }
          }
        }
      }
      .blog_article__banner-right {
        img {
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }

  .blog_article__feedback {
    margin-bottom: 30px;
    .blog_article__like {
      padding: 20px;
      border: 1px solid $color-primary;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      margin-bottom: 30px;
      position: relative;

      @media (max-width: 991px) {
        flex-direction: column;
        align-items: start;
        gap: 20px;
      }

      h2 {
        font-weight: 700;
        font-size: 21px;
        line-height: 120%;
        letter-spacing: 0%;
        margin: 0;
      }
      div {
        display: flex;
        gap: 10px;
      }
    }

    .blog_article__comment-send {
      .form-group {
        textarea {
          min-height: 100px;
          margin-bottom: 10px;
          resize: none;
        }

        &:has(+ .bottom-actions) {
          margin-bottom: 10px;
        }

        &.bottom-actions {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }
    .blog_article__comments {
      h2.blog_article-h2 {
        span {
          color: $color-grey;
        }
      }

      .blog_article__comment {
        padding: 15px;
        background-color: $color-surface;
        border-radius: 8px;

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        margin-bottom: 5px;

        .blog_article__comment-author {
          display: block;
          font-size: 14px;
          line-height: 100%;
          margin-bottom: 5px;
          color: $color-dark;
          text-decoration: none;

          .blog_article__comment-date_time {
            color: $color-grey;
            line-height: 130%;
          }
        }
      }
    }
  }

  // Authors
  .blog_authors__contaner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  .blog_author__card {
    padding: 20px;
    background-color: #fff;
    border: 1px solid $color-secondary;
    border-radius: 10px;

    .blog_author__card-base_info {
      display: flex;
      gap: 15px;
      margin-bottom: 30px;
    }
    .blog_author__card-thumblail {
      width: 70px;
      height: 70px;
      border-radius: 3px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .blog_author__card-name {
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      margin: 0;
    }
    .blog_author__card-job_title {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      margin: 3px 0 10px 0;
    }
    .blog_author__card-post_count {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
      color: $color-grey;
    }
    .blog_author__card-description {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      overflow: hidden;
      text-overflow: ellipsis;

      margin-bottom: 30px;
    }
    .btn.btn-default {
      width: fit-content;
    }
  }

  // Author single
  .blog__author {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 30px;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }

    .blog__author-thubnail {
      width: 180px;
      height: 180px;
      border-radius: 10px;
      overflow: hidden;

      @media (max-width: 767px) {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .blog__author-name {
      margin-bottom: 5px;
      font-family: Arial;
      font-weight: 700;
      font-size: 26px;
      line-height: 120%;
    }
    .blog__author-job_title {
      margin-bottom: 20px;
      color: $color-grey;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0%;
    }
    .blog__author-description {
      margin-bottom: 15px;
      font-family: Arial;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
    }
  }

  // Dictionary
  .blog__dictionary-form {
    padding: 20px;
    background-color: $color-surface;
    border-radius: 10px;
    margin-bottom: 20px;

    form {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;

      .form-group {
        margin: 0;
        @media (max-width: 991px) {
          width: 100%;
        }

        .form-control {
          width: 290px;

          @media (max-width: 991px) {
            width: 100%;
          }
        }
      }
      .btn.btn-default {
        min-width: 44px;
        display: flex;
        justify-content: center;
      }
    }
  }
  .blog__dictionary-symbol_card {
    padding: 20px;
    background-color: $color-surface;
    border-radius: 10px;
    margin-bottom: 5px;

    .blog__dictionary-symbol {
      font-weight: 700;
      font-size: 26px;
      line-height: 120%;
      letter-spacing: 0%;
      margin-bottom: 20px;
    }

    .blog__dictionary-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;

      @media (max-width: 1199px) {
        grid-template-columns: 1fr;
      }

      .blog__dictionary-item {
        color: $color-grey;
      }
    }
  }

  // Blog Map
  .blog__map-links {
    display: flex;
    flex-direction: column;

    a.blog__map-link {
      margin-bottom: 10px;
      color: $color-grey;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .with-tooltip {
    position: relative;

    &:hover,
    &:focus {
      .tooltip {
        display: block;
        opacity: 1;
      }
    }

    .tooltip {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      transition: all ease 0.3s;
      margin-top: 5px;
      z-index: 100;
      width: fit-content;
      max-width: 200px;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      color: $color-primary;
      padding: 5px;
      background-color: $color-secondary;
      border-radius: 5px;
      text-wrap: nowrap;
    }
  }

  .ds-tabs .ds-item {
    padding: 0;

    .ds-question {
      padding: 15px 20px;
    }

    &.active {
      padding: 15px 20px;

      .ds-question {
        padding: 0;
      }
    }

    h2 {
      color: #242a3e;
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 0%;
    }
  }

  blockquote {
    p {
      margin-bottom: 0;
    }
  }
}

// badge style from global.scss
.badge,
.btn .badge {
  background-color: $color-primary;
  color: $color-white;
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 1px 2px;
  font-weight: 700;
  border-radius: 3px;
  font-size: 12px;

  &:focus,
  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

// btn with badge
.btn:has(.badge) {
  position: relative;
}

// modal
.blog__modal-catalog {
  .modal-dialog {
    width: 100%;
    max-width: 1190px;
    max-height: 600px;
    padding: 0 10px;

    @media (max-width: 1199px) {
      max-width: 970px;
      padding: 0;
    }

    @media (max-width: 991px) {
      padding: 0;
      width: calc(100vw - 20px);
      max-height: 600px;
    }
    .modal-content {
      min-height: 500px;
      @media (max-width: 991px) {
        min-height: 600px;
      }
      .modal-header {
        position: relative;
        padding: 5px;
        min-height: unset;
        border-bottom: 1px solid $color-secondary;

        button.close {
          border-color: transparent;
          &:hover,
          &:focus,
          &:active {
            border-color: transparent;
          }

          @media (max-width: 991px) {
            position: absolute;
            right: 2px;
          }
        }

        .back {
          display: none;

          @media (max-width: 991px) {
            display: block;
          }
        }

        .modal-title {
          margin-left: 15px;
          margin-top: 10px;
        }

        @media (max-width: 991px) {
          display: flex;
          height: 55px;
        }
      }
      .modal-body {
        display: grid;
        padding: 0;
        grid-template-columns: 1fr 2.8fr;

        @media (max-width: 991px) {
          display: flex;
          flex-direction: column;
        }

        .blog-section {
          width: 100%;
          .blog-section__title {
            width: 100%;
            text-align: left;

            span {
              display: none;
            }
          }
        }
        @media (max-width: 991px) {
          .blog-section {
            // width: 100%;

            .blog-section__image {
              min-width: 44px;
            }

            .blog-section__title {
              width: 100%;
              text-align: left;
              &:focus,
              &:hover,
              &:active {
                outline: none;
              }
            }

            &.active {
              pointer-events: none;
              .blog-section__title {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: left;
                gap: 3px;
                padding: 7px 15px 7px 20px;
                color: $color-dark;
                background-color: #fff;

                span {
                  display: block;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 100%;
                  color: $color-grey;
                }
              }
            }
          }
        }

        .catalog-sidebar {
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          border-right: 1px solid $color-secondary;

          @media (max-width: 991px) {
            border-right: none;
          }
        }
        .catalog-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          max-height: 450px;
          overflow-y: auto;
          gap: 20px;
          padding: 20px;
          height: fit-content;

          @media (max-width: 991px) {
            grid-template-columns: 1fr;
            border-top: 1px solid $color-secondary;
            gap: 10px;
          }

          .catalog-content-view_more-message {
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: $color-grey;

            @media (min-width: 768px) {
              display: none;
            }
          }

          .catalog-content__section-articles {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .catalog-content__section-article {
              color: $color-grey;
              text-decoration: none;

              &:hover,
              &:focus,
              &:active {
                text-decoration: none;
                color: $color-primary;
                outline: none;
              }
            }
          }
        }

        @media (max-width: 991px) {
          &[data-level="3"] {
            .catalog-content {
              border-top: none;
            }
            .catalog-content__section-articles {
              border-top: 1px solid $color-secondary;
              margin-top: 20px;
              padding: 20px;
              margin-left: -20px;
              margin-right: -20px;
            }
          }
        }
      }
    }
  }
}

/* Pagination */
.pagination {
  li span,
  li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid $color-secondary;
    padding: 5px 10px;
    margin: 0 2.5px;
    font-size: 14px;
    font-weight: 700;
    background-color: $color-white;
    color: $color-dark;
    min-width: 44px;
    min-height: 44px;
    text-align: center;
    vertical-align: middle;
    background-image: none;

    @media (max-width: 375px) {
      margin: 0 1px;
    }

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
      border: 1px solid $color-secondary;
    }

    &.disabled,
    &:disabled,
    &.disabled:hover {
      background-color: $color-surface;
      color: $color-grey;
      border: 1px solid $color-surface;
      pointer-events: none;
    }

    &:focus {
      background-color: $color-white;
      color: $color-dark;
      outline: 2px solid $color-dark;
    }
  }

  li.active span,
  li.active a {
    background-color: $color-secondary;
    color: $color-primary;
    border: 1px solid $color-secondary;

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
      border: 1px solid $color-secondary;
    }

    &:focus {
      background-color: $color-secondary;
      color: $color-primary;
      border-color: $color-secondary;
      outline: 2px solid $color-dark;
    }
  }

  li.disabled span,
  li.disabled a {
    background-color: $color-surface;
    color: $color-grey;
    border: 1px solid $color-surface;
    pointer-events: none;

    &:hover {
      background-color: $color-surface;
      color: $color-grey;
      border: 1px solid $color-surface;
    }
  }
}
