$font-size-section-title: 20px;
$font-size-section-subtitle: 14px;

$blog-head-gradient: linear-gradient(
  90deg,
  #88a1bf 0%,
  #c6d4de 50%,
  #d4dade 100%
);

.blog {
  padding-bottom: 15px;

  // Шрифты для соответствия дизайну блога
  // Можно убрать, если глобально уже заданы
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  .section__header-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .section__header-subtitle {
    font-size: $font-size-section-subtitle;
    font-weight: 400;
    line-height: 130%;
    margin: 0;
    padding: 0;
  }
  .section__header-title {
    font-size: $font-size-section-title;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    padding: 0;
  }

  .blog__header {
    display: grid;
    grid-template-columns: 44px 1fr 1fr;
    gap: 10px;
    padding: 15px;
    border-radius: 15px;
    background: $blog-head-gradient;

    @media (max-width: 767px) {
      display: none;
    }

    .blog__header-title-container {
      display: flex;
      flex-direction: column;
    }
    .section__header-title {
      color: #ffffff;
    }
    .section__header-subtitle {
      color: #fff;
    }

    .form-group.search-input {
      position: relative;
      display: flex;
      gap: 3px;
      transition: all 0.3s ease;
      margin: 0;

      svg.icon-default {
        position: absolute;

        &.search-icon {
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
          width: 14px;
          height: 14px;
          color: $color-grey;
          z-index: 5;
        }

        &.chevron-icon {
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          width: 14px;
          height: 14px;

          @media (min-width: 992px) {
            display: none;
          }
        }
      }

      input.form-control {
        padding-left: 34px !important;

        // Это пофиксит автоматический зум на мобилах при фокусе на инпуте
        @media (max-width: 991px) {
          font-size: 16px;
        }
      }
      &.selectize-input {
        input {
          padding-left: 24px !important;
        }
      }

      .btn.clear-input {
        @media (hover: none) {
          &:focus {
            -webkit-tap-highlight-color: transparent;
            outline: none;
            border-color: $color-secondary;
          }
        }
        &.view {
          display: flex;
        }

        display: none;
        padding: 0 14px;
        svg {
          position: static;
        }
      }
    }
  }

  .blog__tapbar {
    display: none;
    position: fixed;
    padding: 3px 15px;
    background-color: #ffffff;
    width: 100vw;
    bottom: 0;
    left: 0;
    @media (max-width: 767px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .tapbar__item {
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: center;
      justify-content: end;
    }
    .tapbar__item-home {
      display: grid;
      grid-template-columns: 30px 1fr;
      gap: 5px;
      max-width: 103px;
      border-radius: 5px;
      padding: 5px;
      background: $blog-head-gradient;

      .tapbar__item-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .tapbar__item-title {
        font-size: 14px;
        font-weight: 700;
        line-height: 100%;
        color: #fff;
      }
    }

    .tapbar__item-icon {
      width: 14px;
      height: 14px;
    }
    .tapbar__item-title {
      font-size: 14px;
      font-weight: 700;
      line-height: 100%;
      color: $color-dark;
    }

    .tapbar__item.active {
      color: $color-primary;
      & .tapbar__item-icon {
        color: $color-primary;
      }
      & .tapbar__item-title {
        color: $color-primary;
      }
    }
  }
}
