.modal-body-payment p {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-body-payment__btn-add {
  margin-top: 20px;
  width: 267px;
}

.modal-body-payment__btn-pay {
  width: 267px;
}

.modal-footer-payment {
  text-align: left;
}

.radio-card {
  position: relative;
  display: block;
  margin: 0;
}

.radio-card + .radio-card {
  margin-top: 20px;
}

.radio-card__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  padding: 5px 20px 5px 10px;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.radio-card__inner:hover {
  border-color: #2B69A8;
}

.radio-card input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.radio-card input:checked ~ .radio-card__inner {
  border-color: #2B69A8;
}

.radio-card input:checked ~ .radio-card__inner:hover {
  cursor: default;
}

.radio-card input:checked ~ .radio-card__inner .radio-card__checkmark {
  border-color: #2B69A8;
}

.radio-card input:checked ~ .radio-card__inner .radio-card__checkmark::after {
  opacity: 1;
}

.radio-card__checkmark {
  margin-right: 20px;
  width: 16px;
  height: 16px;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

.radio-card__checkmark::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #2B69A8;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.radio-card__img {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}

.radio-card__img img {
  max-width: 74px;
  max-height: 42px;
  display: block;
}

.radio-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10px;
}

.radio-card__text {
  font-size: 16px;
  font-weight: normal;
}

.radio-card .close {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.radio-card .close:hover {
  opacity: 1;
  color: #2B69A8;
}

@media only screen and (max-width: 479px) {
  .radio-card__inner {
    height: 55px;
  }
  .radio-card__checkmark {
    margin-right: 10px;
  }
  .radio-card__img {
    margin-right: 10px;
    width: 60px;
  }
  .radio-card__img img {
    max-width: 60px;
    max-height: 30px;
  }
  .radio-card__text {
    font-size: 14px;
  }
}