/* Icons */
.icon-map-small {
  width: 12px;
  height: 14px;
  fill: currentColor;
}
.icon-caret-default {
  width: 10px;
  height: 6px;
  fill: currentColor;
}
.icon-default {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
.icon-info {
  width: 12px;
  height: 12px;
  fill: currentColor;
}
.icon-big {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.icon-breadcrumbs {
  width: 12px;
  height: 12px;
  fill: currentColor;
}
.center-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
