// Old styles
.header-top {
  position: relative;
}

.header-top {
  .container {
    background: transparent;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navbar {
    margin-bottom: 0;
  }
}

.header-top-nav {
  background-color: $color-surface;

  .container {
    background: transparent;
    padding: 0;
  }
  .navbar-right {
    float: right;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: none;
    font-weight: 700;

    &:visited {
      color: $color-grey;
    }
  }
}

.header-top-nav .dropdown:hover .dropdown-menu {
  display: none;
}

.header-top-nav .dropdown.open > .dropdown-menu {
  display: block;
}

.header-top-nav .navbar-left {
  float: left;
}

.header-city-btn {
  padding: 10px 15px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.65);
}

.header-city-btn .caret {
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  border-bottom: none;
  border-left: none;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.navbar-brand {
  height: 60px;
  padding: 10px 10px 10px 20px;
}

.navbar-brand__logo {
  width: 109px;
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-btn {
  margin-top: 13px;
  margin-bottom: 13px;
}

.sidenav__hide-desktop {
  display: none !important;
}

.sidenav_open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

@media only screen and (max-width: 767px) {
  .navbar-nav .navbar-nav__hide-mobile {
    display: none;
  }
  .navbar-brand__logo {
    width: 90px;
  }
  .navbar-brand {
    padding: 15px 10px;
  }
  .navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
  }
  .sidenav {
    width: 310px;
    right: -310px;

    .navbar-toggle {
      width: 44px;
      margin: 0;
      position: relative;

      span {
        width: 22px;
        height: 2px;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -11px;
        margin-top: -1px;
        background: #707070;
      }
      span:first-child {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      span:last-child {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
  .sidenav__inner {
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }
  .sidenav__hide-desktop {
    display: block !important;
  }
  .sidenav {
    .header-city-btn {
      color: $color-grey;
      padding-left: 20px;
    }
    .header-city-btn .fa-map-marker-alt {
      color: $color-grey;
    }
    .navbar-nav > li {
      border-bottom: 1px solid rgba(119, 119, 119, 0.2);
    }
    .navbar-nav > li > a {
      padding: 11px 20px;
    }
    .navbar-btn {
      margin: 30px 20px;
    }
  }
  .sidenav_open {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);

    .dropdown-menu {
      display: none;
    }
    .dropdown-toggle {
      pointer-events: all;
    }
    .dropdown.open .dropdown-menu {
      display: block;
    }
  }
}

/*Header */
.header-top-nav {
  background-color: $color-surface;
  font-weight: 500;

  a {
    color: $color-grey;
  }
}

.header-city-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $color-grey;
  font-weight: 700;

  span {
    max-width: calc(100vw - 270px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (min-width: 767px) {
  .header-city-btn span {
    max-width: calc(100vw - 580px);
  }
}

.header-top-nav .nav > li > a:focus {
  color: $color-dark;
}
.navbar-btn a:focus {
  text-decoration: none !important;
}
.header-city-btn:focus,
.header-top-nav {
  .nav > li:focus,
  .nav > li > a:focus {
    color: $color-dark !important;
  }
}

@media (hover: hover) {
  .header-top-nav .nav > li > a:hover {
    color: $color-dark;
  }
  .navbar-btn a:hover {
    text-decoration: none !important;
  }
  .header-city-btn:hover,
  .header-top-nav .nav > li:hover,
  .header-top-nav .nav > li > a:hover {
    color: $color-dark !important;
    background-color: transparent !important;
  }
}

@media (hover: none) {
  .header-top-nav .nav > li > a:focus {
    color: $color-grey-dark;
  }
  .navbar-btn a:focus {
    text-decoration: none !important;
  }
  .header-city-btn:focus,
  .header-top-nav .nav > li:focus,
  .header-top-nav .nav > li > a:focus {
    color: $color-grey-dark !important;
  }
}

header {
  .header-top-nav {
    .container.full-size {
      flex-direction: row;
      justify-content: space-between;

      &::before,
      &::after {
        content: "";
        display: none;
      }
    }
  }

  .container.full-size {
    .navbar {
      margin: 12px 15px;
    }
  }

  // Buttons
  a:hover {
    text-decoration: none !important;
  }
  .header-city-btn:hover {
    color: $color-grey-dark;
  }

  .dropdown.nav a {
    .dropdown-menu.sub-menu .badge {
      top: 15px;
      right: 15px;
    }
    .badge {
      background-color: $color-primary;
      color: $color-white;
      position: absolute;
      top: 2px;
      right: 2px;
      padding: 1px 2px;
      font-weight: 700;

      &:focus,
      &:hover {
        background-color: $color-primary;
      }

      @media (max-width: 767px) {
        top: 15px;
        right: 15px;
      }
    }
    &:hover,
    &:focus {
      .badge {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }

  // main to header
  .container {
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar.navbar-default {
    background-color: $color-white;
    background-image: none;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    min-height: 30px;
  }
  .pull-left,
  .pull-left .navbar-brand,
  .pull-left .navbar-brand .navbar-brand__logo {
    height: 30px;
    margin-top: 2px;
  }
  .pull-left .navbar-brand {
    padding: 0 0 0 20px;
  }
  .navbar-default .navbar-nav > li > a {
    background-image: none;
    filter: none;
    height: 44px !important;
    background-color: $color-white;
    border-radius: $border-radius;
    color: $color-dark;
    border: 1px solid $color-secondary;
    padding: 15px;
    font-weight: 700;

    &:focus {
      color: $color-dark;
      outline: 2px solid $color-dark;
    }

    @media (hover: hover) {
      &:hover {
        color: $color-primary;
        background-color: $color-secondary;
      }
    }
    @media (hover: none) {
      &:active {
        color: $color-primary;
        background-color: $color-secondary;
      }
    }

    &.dropdown-toggle {
      @media (min-width: 768px) {
        &::after {
          content: "";
          width: 100%;
          height: 8px;
          position: absolute;
          display: block;
          bottom: -8px;
        }
      }
    }
  }

  .navbar-default .navbar-btn {
    margin: 0;
  }
  .container-fluid {
    padding: 0;
  }
  .sidenav__inner ul li {
    margin-left: 3px;
  }
  .sidenav__inner .dropdown-menu.sub-menu {
    margin-top: 5px;
    border-radius: 8px;
    padding: 3px;
    border-color: $color-secondary;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .sidenav__inner .dropdown-menu.sub-menu li {
    margin-left: 0px;
  }
  .dropdown.nav .dropdown-menu.sub-menu li a,
  .dropdown.nav.open .dropdown-menu.sub-menu li a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $color-dark;
    border-radius: $border-radius;
    height: 44px;
    font-weight: 700;
    position: relative;

    &:disabled {
      color: $color-disabled;
      background-color: $color-surface;
    }
    &:focus {
      color: $color-primary;
      background-color: $color-secondary;
      background-image: none;
      outline: 2px solid $color-dark;
    }
    @media (hover: hover) {
      &:hover {
        color: $color-primary;
        background-color: $color-secondary;
        background-image: none;
      }
    }
    @media (hover: none) {
      &:active {
        color: $color-primary;
        background-color: $color-secondary;
      }
    }
  }

  .sidenav__close {
    border: 1px solid $color-secondary;
    border-radius: $border-radius;
    color: $color-dark;
    width: 44px;
    height: 44px;
  }

  .nav > li > a {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  button.navbar-toggle.sidenav-button {
    padding: 6px 9px;
    color: $color-grey-text;
  }

  .navbar-default {
    .navbar-link {
      font-weight: 700 !important;
      color: inherit;
      line-height: 1.4;
      display: flex;
      align-items: center;
      gap: 5px;

      @media (hover: hover) {
        &:hover {
          color: inherit;
        }
      }
      @media (hover: none) {
        &:focus {
          color: inherit;
        }
      }
    }
    .navbar-nav > .open > a,
    .navbar-nav > .active > a {
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: none;
      border: 1px solid $color-secondary;
      color: $color-primary;
      background-color: $color-secondary;

      &:focus {
        color: $color-primary;
        outline: 2px solid $color-dark;
        color: $color-primary;
        background-color: $color-secondary;
      }

      @media (hover: hover) {
        &:hover {
          color: $color-primary;
          background-color: $color-secondary;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .dropdown {
      &:hover .dropdown-menu {
        display: block;
      }
      &:hover .dropdown-menu:hover {
        display: block;
      }
      .dropdown-menu::before {
        content: "";
        width: 100%;
        height: 8px;
        position: absolute;
        display: block;
        z-index: 100000;
        top: -7px;
      }
    }
  }

  @media (max-width: 767px) {
    .pull-left .navbar-brand {
      margin-top: 0;
    }
    .sidenav_open .header-city-btn {
      display: none;
    }
    .sidenav.loaded.sidenav_open .sidenav__hide-desktop:first-child {
      border: none;
    }
    .sidenav__inner {
      padding-top: 70px;
    }
    .sidenav__inner ul .nav.navbar-nav {
      padding: 0;
      margin-left: 0;
    }
    .sidenav__inner ul .nav.navbar-nav a {
      border: none;
      &:focus {
        border: none;
        border-radius: 0;
        outline: none;

        .navbar-link {
          border: none;
          border-radius: 0;
          outline: none;
          color: $color-dark;
        }
      }
    }
    .sidenav.loaded.sidenav_open .sidenav__hide-desktop {
      padding: 0;

      a {
        border: none;

        &:focus {
          border: none;
          border-radius: 0;
          outline: none;
        }
      }
    }
    .sidenav__inner ul li {
      padding: 0;
      margin-left: 0;
    }
    .navbar-default .navbar-nav > li > a {
      height: unset !important;
      padding: 12px 20px;
      border: none;
      border-radius: 0;
    }
    .navbar-default .navbar-btn {
      margin: 30px 20px;
    }
    .dropdown.nav.open a.dropdown-toggle {
      color: $color-dark;
    }
    .dropdown.nav.open .dropdown-menu.sub-menu li a {
      border: none !important;
      border-radius: 0 !important;
      padding: 8px 20px;
      color: $color-dark;
    }
    .dropdown.nav.open .dropdown-menu.sub-menu {
      border: none !important;
      border-radius: 0 !important;
    }
    .sidenav .navbar-toggle {
      width: 44px;
      margin: 0;
      position: relative;
    }
    .navbar-btn .btn-warning {
      width: fit-content;
    }

    button.navbar-toggle.sidenav-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 44px;
      color: $color-dark;
      border-color: $color-secondary;

      &:hover,
      &:focus {
        background-color: $color-secondary;
      }
    }
  }
  strong,
  .balance-currency {
    color: $color-grey-dark;
    font-weight: 700;
  }
}

// For alien pages
.tariff2-main::before {
  display: none;
}

.tariff2-main__balance {
  margin-top: 0;
  margin-bottom: 12px;

  &.tariff2-main__balance_red {
    background-image: none;
    background-color: #f2dede;
    border: none;
  }

  .tariff2-main__balance-btn {
    max-width: 216px;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}

.about-styled .about-hero::before {
  top: 20px !important;
  height: calc(100% - 10px) !important;
}

.about-styled .about-hero {
  position: relative;
  margin-top: -15px !important;
}

.tariff-main::before {
  top: 10px !important;
  height: calc(100% - 10px + 92px) !important;
}

.mortgage-main::before {
  top: 10px !important;
  height: calc(100% + 10px + 100px) !important;
}

.xml-main {
  margin-top: 0 !important;
}

.xml-main::before {
  top: 0 !important;
  height: calc(100% + 92px) !important;
}

@media only screen and (max-width: 991px) {
  .xml-main__content {
    padding-top: 10px !important;
  }
}

.form-fast-search-locations-modal .ds-btn {
  height: 44px !important;
}

header .dropdown.nav {
  @media (min-width: 992px) and (max-width: 1199px) {
    max-width: 245px;
    .dropdown-toggle {
      .hidden-sm {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 170px;
      }
    }
  }
  @media (max-width: 767px) {
    .dropdown-toggle {
      .hidden-sm {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

header .navbar.navbar-default {
  .header-blog-link {
    color: $color-primary;
    margin-left: auto;
    width: fit-content;

    @media (max-width: 767px) {
      margin-right: 61px;
    }

    @media (min-width: 768px) {
      &.desktop-hidden {
        display: none;
      }
    }
  }
}
