:root {
  --cards-max-width: 368px;
}

.ds-blog_slider {
  margin-bottom: 20px;
}
.ds-blog_slider h1 {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ds-blog-list h1 {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ds-blog_card {
  max-width: var(--cards-max-width);
  max-height: 410px;
  background-color: #f0f2f6;
}
.ds-blog_slider__card_thumd {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ds-blog_slider .ds-blog_slider__card_thumd {
  height: 245px;
}
.slider-arrow {
  width: 38px;
  height: 38px;
}
.ds-blog_card__info {
  color: #999;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

/* to remove outline on cards */
.ds-blog_card a:hover {
  text-decoration: none;
}
.ds-blog-list__card a:hover {
  text-decoration: none;
}

.ds-blog_card__description {
  padding: 20px;
  color: #333;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ds-blog_card__description h3 {
  color: #333;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.slider_btns {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.ds-blog-list h2 {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ds-blog-list__tops {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.ds-blog_card__thumbnail {
  /* max-width: 368px;
  height: 275px; */
  width: 100%;
}

.ds-blog-list__tops.ds-blog_card {
}

.ds-blog-list_cards__wrapper {
  display: flex;
  flex-direction: column;
}
.ds-blog-list__card a {
  display: flex;
  max-width: 100%;
  background-color: #f0f2f6;
  margin-bottom: 20px;
}
.ds-blog-list__card_thumd {
  width: 100%;
  height: 100%;
}
.ds-blog-list_card__thumbnail {
  width: 254px;
  height: 169px;
}
.ds-blog-list_card__description {
  padding: 20px;
  width: 65%;
}
.ds-blog-list_card__description__title {
  color: #333;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.ds-blog-list_card__description p {
  color: #333;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.ds-list-pagination {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 700;
}

.ds-blog-list_filters {
  display: flex;
  gap: 18px;
  width: 100%;
}
.ds-blog-list__btn {
  color: #999;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px 23px;
  max-width: 413px;
  min-width: 100%;
  border-radius: 3px;
  border: 1px solid #b8b8b8;
  background: none;
  display: flex;
  justify-content: space-between;
}
.ds-blog-list__btn__title {
  display: inline-block;
  max-width: 100vw;
}
.ds-blog-list__btn__title span {
  width: 100% !important;
}
.ds-blog-list-filter {
  min-width: 150px;
  max-width: var(--cards-max-width);
  width: 100%;
  margin-bottom: 20px;
}
.ds-blog-list-filter .dropdown-menu {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  width: 100%;
  max-width: var(--cards-max-width);
}

@media screen and (max-width: 768px) {
  .ds-blog-list__card {
    flex-wrap: wrap;
  }
  .ds-blog-list_card__description {
    width: 100%;
  }
  .ds-blog-list_card__description__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .ds-blog-list_card__description p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .ds-blog-list_card__thumbnail {
    width: 100%;
    height: auto;
  }
  .ds-blog_card__thumbnail {
    max-width: 100%;
    height: auto;
  }
  .ds-blog-list__card_thumd {
  }
}

/* Article-page */
.ds-blog-article-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.ds-blog-article-container.active {
  flex-wrap: wrap;
}
.ds-blog-breadcrumbs {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
}
.ds-blog-breadcrumbs .breadcrumb-item a {
  color: #275d8c;
}

.ds-blog-sidebar {
  width: 100%;
  max-width: 300px;
}
.ds-blog-sidebar h3 {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.ds-blog-sidebar__article {
  margin-top: 20px;
  border-bottom: 1px solid #b8b8b8;
}
.ds-blog-sidebar__article-date {
  color: #999;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ds-blog-sidebar__article-title {
  color: #333;
  font-family: "Helvetica Neue";
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ds-blog-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.ds-blog-tags a {
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  text-align: left;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 3px;
  background: #f0f2f6;
}
.ds-blog-tags a:hover {
  text-decoration: none;
  background-color: #dedfe2;
}
.ds-blog-article-content {
  max-width: 768px;
  width: 100%;
}
.ds-blog-article-content h1 {
  margin-bottom: 20px;
  font-family: Helvetica Neue;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.72px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ds-blog-article-content-info {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.ds-blog-article-content-info_item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Helvetica Neue;
  font-size: 15px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  color: #999;
}
.icon {
  width: 16px;
  height: 16px;
}

.ds-blog-article-image img {
  width: 100%;
  max-width: 768px;
  height: auto;
}
.ds-blog-article-image {
  margin-bottom: 20px;
}
.ds-blog-article-summary {
  margin-bottom: 20px;
  background-color: #f0f2f6;
  padding: 20px;
  max-width: fit-content;
  width: 100%;
}
.ds-blog-article-summary h3 {
  margin-bottom: 10px;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.04px;
  text-align: left;
}
.ds-blog-article-summary ul {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  text-align: left;
  color: #275d8c;
}
.ds-blog-article-content__text {
  margin-bottom: 20px;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  padding-bottom: 30px;
  border-bottom: 1px solid #b8b8b8;
}
.ds-blog-article-content__text h2,
.ds-blog-article-content__text h3 {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
.ds-blog-article-content__text img {
  max-width: 370px;
  max-height: 240px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.ds-blog-article-content__note {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f2f6;
}
.ds-blog-article-comments__wrapper {
  margin-bottom: 20px;
  /* padding-bottom: 30px; */
  border-bottom: 1px solid #b8b8b8;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
}
.ds-blog-article-comments__item {
  margin-bottom: 20px;
}
.ds-blog-article-comments__item-info {
  display: flex;
  gap: 8px;
}
.ds-blog-article-comments__item-info-name {
  display: flex;
  gap: 15px;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
}
.ds-blog-article-comments__item-info-name-verified {
  font-size: 14px;
  color: #999;
  display: flex;
  align-items: center;
  gap: 5px;
}
.ds-blog-article-comments__item-info-date {
  color: #999;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 700;
}
.ds-blog-article-comments__item-reply {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 700;
  color: #275d8c;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}
.ds-blog-article-comments__item-reply:active {
  background-color: #dedfe2;
}
.ds-blog-article-comments__item.reply {
  padding-left: 20px;
  border-left: 1px solid #b8b8b8;
}
.ds-blog-article-comments__form-textarea {
  width: 100%;
  min-height: 96px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #b8b8b8;
  padding: 10px 20px;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
}
.primary-color {
  color: #275d8c;
}
.btn-like,
.btn-dislike {
  border: 1px solid #b8b8b8;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  background-color: transparent;
  padding: 15px;
}
.btn-like:hover,
.btn-dislike:hover {
  background-color: #dedfe2;
}
.ds-blog-article-content__text-end-buttons {
  display: flex;
  gap: 20px;
}
.ds-blog-article-comments__form-submit {
  padding: 13px 25px;
  border: none;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: center;
}

.ds-blog-article-slider-mobile_card {
  background-color: #f0f2f6;
  padding: 20px;
}
.ds-blog-article-slider-mobile {
  display: none;
}
.ds-blog-article-slider-mobile.active {
  display: block;
}
.ds-blog-article-slider-mobile {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .ds-blog-article-comments__form-submit {
    width: 100%;
  }
  .ds-blog-sidebar {
    display: none;
  }
  .ds-blog-breadcrumbs {
    display: none;
  }
}

/* Author-page */
.ds-blog-author-info {
  display: flex;
  gap: 40px;
  background-color: #f0f2f6;
  padding: 20px;
  margin-bottom: 50px;
}
.ds-blog-author-info__name {
  display: flex;
  gap: 10px;
}
.ds-blog-author-info__description {
  font-family: "Helvetica Neue";
  font-weight: 700;
  text-align: left;
  width: 100%;
}
.ds-blog-author-info__job {
  margin-bottom: 10px;
  color: #999;
}
.ds-blog-author-info__articles-count {
  margin-bottom: 10px;
}
.ds-blog-author-info__about {
  margin-bottom: 20px;
  width: 100%;
  max-width: 768px;
}
.ds-blog-author-info__questions {
  margin-bottom: 30px;
}
.ds-blog-author-sertificates {
  margin-bottom: 20px;
}
.ds-blog-author-sertificates h2 {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
}
.ds-blog-author-sertificates__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.ds-blog-author-sertificates__item {
  width: 100%;
  max-width: 270px;
}
.ds-blog-author-info__name {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
}
.ds-blog-author-info__avatar {
  width: 138px;
  height: 138px;
}
.ds-blog-author-articles-list {
  margin-bottom: 50px;
}
.ds-blog-author-articles-list h2 {
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
}
.ds-blog-author-articles-list__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.ds-blog-author-articles-list__item {
  width: calc((100% - 40px) / 3);
  max-width: none;
  max-height: none;
}

@media screen and (max-width: 1200px) {
  .ds-blog-author-articles-list__item {
    width: calc((100% - 20px) / 2);
    max-width: none;
  }
}
@media screen and (max-width: 768px) {
  .ds-blog-author-info {
    flex-wrap: wrap;
    gap: 20px;
  }
  .ds-blog-author-info__avatar {
    width: 100%;
    height: auto;
  }
  .ds-blog-author-articles-list__item {
    width: 100%;
    max-width: none;
  }
  .ds-blog-author-info__main {
    position: absolute;
    top: 160px;
    left: 200px;
  }
  .ds-blog-author-info__name {
    display: flex;
    flex-wrap: wrap;
  }
}
