@charset "UTF-8";
.custom-radio {
  display: inline-flex;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.004em;
  color: #333C67;
  user-select: none;
  margin: 0;
}
.custom-radio:hover .custom-radio__checkmark {
  border-color: #337AB7;
}
.custom-radio__input {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}
.custom-radio__input:checked ~ .custom-radio__checkmark {
  border-color: #337AB7;
}
.custom-radio__input:checked ~ .custom-radio__checkmark::after {
  opacity: 1;
}
.custom-radio__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #CACEDB;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.custom-radio__checkmark:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #337AB7;
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s;
}
.custom-radio a {
  color: #337AB7;
  text-decoration: none;
}
.custom-radio a:active, .custom-radio a:visited, .custom-radio a:focus {
  color: #337AB7;
  text-decoration: none;
  outline: none;
}
.custom-radio a:hover {
  color: #427FB9;
}

.custom-checkbox {
  display: inline-flex;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #333C67;
  user-select: none;
  margin: 0;
}
.custom-checkbox:hover .custom-checkbox__checkmark {
  border-color: #337AB7;
}
.custom-checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}
.custom-checkbox__input:checked ~ .custom-checkbox__checkmark {
  border-color: #337AB7;
  background: #337AB7;
}
.custom-checkbox__input:checked ~ .custom-checkbox__checkmark::after {
  opacity: 1;
}
.custom-checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #E5E5E5;
  background: #FFFFFF;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.custom-checkbox__checkmark:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  display: block;
  width: 6px;
  height: 14px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.2s;
}
.custom-checkbox a {
  color: #337AB7;
  text-decoration: none;
}
.custom-checkbox a:active, .custom-checkbox a:visited, .custom-checkbox a:focus {
  color: #337AB7;
  text-decoration: none;
  outline: none;
}
.custom-checkbox a:hover {
  color: #427FB9;
}
.custom-checkbox_small {
  line-height: 16px;
  padding-left: 28px;
  min-height: 16px;
}
.custom-checkbox_small .custom-checkbox__checkmark {
  height: 16px;
  width: 16px;
}
.custom-checkbox_small .custom-checkbox__checkmark:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  display: block;
  width: 5px;
  height: 9px;
}

.btn-note {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  padding: 0 0 1px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  color: #333C67;
  background: #ABB1C4;
  border-radius: 50%;
  border: none;
  transition: 0.2s;
  text-decoration: none;
  user-select: none;
}
.btn-note:focus, .btn-note:visited {
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
}
.btn-note:hover {
  color: #333C67;
  text-decoration: none;
}
.btn-note + .tooltip .tooltip-inner {
  max-width: 280px;
  font-size: 11px;
  padding: 6px 12px;
}

.btn-help {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  padding: 0 0 1px;
  font-weight: bold;
  font-size: 11px;
  line-height: 1;
  color: #FFFFFF;
  background: #ABB1C4;
  border-radius: 50%;
  border: none;
  transition: 0.2s;
  text-decoration: none;
  user-select: none;
}
.btn-help:focus, .btn-help:visited {
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
}
.btn-help:hover {
  color: #333C67;
  text-decoration: none;
}
.btn-help + .tooltip .tooltip-inner {
  max-width: 280px;
  font-size: 11px;
  padding: 6px 12px;
}
.btn-help_tooltip-left + .tooltip .tooltip-inner {
  text-align: left;
}
.btn-help_tooltip320 + .tooltip .tooltip-inner {
  max-width: 320px;
}

.btn-close {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8E95A5;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  border: none;
  background: none;
}
.btn-close:focus {
  outline: none;
}
.btn-close:hover {
  color: #333C67;
}
.btn-close::before, .btn-close::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 11px;
  width: 2px;
  height: 18px;
  border-radius: 2px;
  background: currentColor;
}
.btn-close::after {
  transform: rotate(45deg);
}
.btn-close::before {
  transform: rotate(-45deg);
}

.btn-custom {
  height: 44px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #337AB7;
  transition: 0.2s;
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  padding: 0 10px 1px;
}
.btn-custom:hover {
  background: #333C67;
  color: #fff;
  text-decoration: none;
}
.btn-custom:visited, .btn-custom:focus, .btn-custom:active {
  color: #fff;
  outline: none;
  text-decoration: none;
}
.btn-custom:focus:active {
  outline: none;
}
.btn-custom_grey {
  color: #333C67;
  background: #F0F2F6;
  border: 1px solid #CACEDB;
}
.btn-custom_grey:visited, .btn-custom_grey:focus, .btn-custom_grey:active {
  color: #333C67;
}
.btn-custom_grey:hover {
  background: #F0F2F6;
  border-color: #333C67;
  color: #333C67;
}

.input-label {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.004em;
  margin-bottom: 10px;
}

.custom-input {
  background: #F0F2F7;
  border: 1px solid #F0F2F7;
  padding: 0 10px 0 10px;
  color: #333C67;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.004em;
  transition: 0.2s;
  width: 100%;
  max-width: 100%;
  height: 40px;
  line-height: normal;
}
.custom-input:focus, .custom-input:active {
  background: #fff;
  border-color: #323B6A;
  box-shadow: none;
  outline: none;
}
.custom-input::placeholder {
  color: #8E95A5;
  opacity: 1;
}
.custom-input:disabled {
  color: rgba(51, 60, 103, 0.5);
  background: #CACEDB;
  border-color: #CACEDB;
}
.custom-input:disabled:focus, .custom-input:disabled:active {
  background: #CACEDB;
  border-color: #CACEDB;
  outline: none;
  box-shadow: none;
}
.custom-input:disabled::placeholder {
  opacity: 0.5;
}
.custom-input_white {
  background: #FFFFFF;
  border-color: #FFFFFF;
}
.custom-input_phone {
  letter-spacing: 0.05em;
}

.input-wrapper {
  position: relative;
}
.input-wrapper .custom-input {
  padding-right: 35px;
}
.input-wrapper__label {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1.35px;
  pointer-events: none;
  color: #333C67;
}
.input-wrapper__label_datepicker {
  padding-right: 10px;
}
.input-wrapper__icon {
  font-size: 20px;
}
.input-wrapper.input-wrapper-select .calculator-input {
  padding-right: 60px;
}
.input-wrapper.input-wrapper-select .input-wrapper__label {
  right: 35px;
  padding-right: 10px;
}

.input-wrapper-select {
  position: relative;
}
.input-wrapper-select .calculator-input {
  padding-right: 35px;
}
.input-wrapper-select__btn {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
  cursor: pointer;
}
.input-wrapper-select__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  right: 20px;
  border: 1px solid #333C67;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  transform-origin: 66% 66%;
  margin-top: -8px;
  transition: 0.2s;
}
.input-wrapper-select__drop {
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  border: none;
  font-size: 18px;
  line-height: 1.3;
  box-shadow: 0 0 8px 0 rgba(50, 59, 106, 0.2);
  background-color: #ffffff;
  display: none;
}
.input-wrapper-select__drop-item {
  white-space: normal;
  padding: 10px 10px;
  border-bottom: 1px solid #f0f2f7;
  color: #323B6A;
  cursor: pointer;
}
.input-wrapper-select__drop-item:hover {
  background: #fff;
  color: #337AB7;
}
.input-wrapper-select__drop-item:last-child {
  border-bottom: none;
}
.input-wrapper-select._select-active .input-wrapper-select__btn::after {
  transform: rotate(225deg);
  border-color: #337AB7;
}
.input-wrapper-select._select-active .input-wrapper-select__drop {
  display: block;
}

.custom-range + .rangeslider--horizontal {
  height: 2px;
  background: #427FB9;
  position: relative;
  margin: 10px 0;
  border-radius: 0;
}
.custom-range + .rangeslider--horizontal .rangeslider__fill {
  position: absolute;
  top: -1px;
  height: 4px;
  background: #427FB9;
  border-radius: 0;
}
.custom-range + .rangeslider--horizontal .rangeslider__handle {
  border: none;
  box-shadow: none;
  background: transparent;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
}
.custom-range + .rangeslider--horizontal .rangeslider__handle::after {
  width: 16px;
  height: 16px;
  background: #333C67;
  border: 1px solid #fff;
  box-shadow: 0 0 5px rgba(50, 59, 106, 0.2);
  top: 50%;
  left: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}
.custom-range + .rangeslider--horizontal .rangeslider__handle:hover::after {
  width: 32px;
  height: 32px;
  border-width: 2px;
}
.custom-range + .rangeslider--horizontal.rangeslider--active .rangeslider__handle::after {
  width: 32px;
  height: 32px;
  border-width: 2px;
}

.custom-select {
  width: 100% !important;
  margin-bottom: 0;
}
.custom-select.open .btn.btn-default {
  box-shadow: none;
  z-index: 10002;
}
.custom-select.open .btn.btn-default .bs-caret .caret {
  transform: rotate(225deg);
  border-color: #337AB7;
}
.custom-select .btn.btn-default {
  background: #FFFFFF;
  border-radius: 0;
  border: none;
  box-shadow: none;
  padding: 7px 30px 7px 10px;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s;
  width: 100%;
  max-width: 100%;
  height: 40px;
  color: #333C67;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-select .btn.btn-default .filter-option {
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-select .btn.btn-default:hover, .custom-select .btn.btn-default:focus {
  color: #333C67;
  background: #FFFFFF;
  border-color: #333C67;
  outline: none !important;
}
.custom-select .btn.btn-default .bs-caret .caret {
  width: 12px;
  height: 12px;
  right: 22px;
  border: 1px solid #333C67;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  transform-origin: 66% 66%;
  margin-top: -8px;
  transition: 0.2s;
}
.custom-select .dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  font-size: 18px;
  line-height: 1.3;
  box-shadow: 0 0 8px 0 rgba(50, 59, 106, 0.2);
  background-color: #ffffff;
  max-width: 100%;
}
.custom-select .dropdown-menu > li {
  border-bottom: 1px solid #f0f2f7;
}
.custom-select .dropdown-menu > li:last-child {
  border-bottom: none;
}
.custom-select .dropdown-menu > li.selected > a {
  background: #fff;
  font-weight: bold;
  color: #337AB7;
}
.custom-select .dropdown-menu > li > a {
  white-space: normal;
  padding: 10px;
  line-height: 1.3;
  color: #333C67;
}
.custom-select .dropdown-menu > li > a:focus {
  outline: none;
}
.custom-select .dropdown-menu > li > a:hover {
  background: #fff;
  color: #337AB7;
}

.select2-selection--multiple.select2-container--focus .select2-selection--multiple,
.select2-selection--multiple.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
  border: 1px solid #F0F2F7;
  outline: none;
}
.select2-selection--multiple .select2-selection--single,
.select2-container--default .select2-selection--single {
  height: 40px;
  background: #F0F2F7;
  border: 1px solid #F0F2F7;
  border-radius: 0;
}
.select2-selection--multiple .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-weight: 700;
  font-size: 18px;
  line-height: 38px;
  color: #323B6A;
  padding: 0 35px 0 10px;
}
.select2-selection--multiple .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 12px;
  height: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  right: 20px;
  margin-top: -8px;
  transform: rotate(45deg);
  transition: 0.2s;
}
.select2-selection--multiple .select2-selection--single .select2-selection__arrow b,
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: static;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #323B6A;
  border-top: none;
  border-left: none;
  transition: 0.2s;
}
.select2-selection--multiple .select2-search--dropdown,
.select2-container--default .select2-search--dropdown {
  padding: 14px 10px;
}
.select2-selection--multiple .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-search--dropdown .select2-search__field {
  font-size: 18px;
  background: #F0F2F7;
  border: 1px solid #F0F2F7;
  border-radius: 0;
  height: 30px;
  padding: 6px 8px;
}
.select2-selection--multiple .select2-search--dropdown .select2-search__field:focus-visible, .select2-selection--multiple .select2-search--dropdown .select2-search__field:focus,
.select2-container--default .select2-search--dropdown .select2-search__field:focus-visible,
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  background: #fff;
  border-color: #323B6A;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.select2-selection--multiple .select2-results__option,
.select2-container--default .select2-results__option {
  font-size: 18px;
  padding: 14px 10px;
  color: #323B6A;
  border-bottom: 1px solid #f0f2f7;
  background: #fff;
}
.select2-selection--multiple .select2-results__option:last-child,
.select2-container--default .select2-results__option:last-child {
  border-bottom: none;
}
.select2-selection--multiple .select2-results__option--selected,
.select2-container--default .select2-results__option--selected {
  background: #F0F2F7;
}
.select2-selection--multiple .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #fff;
  color: #2f8dd3;
}
.select2-selection--multiple .select2-results__option--highlighted.select2-results__option--selected,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selected {
  background: #F0F2F7;
  color: #2f8dd3;
}
.select2-selection--multiple .select2-dropdown,
.select2-container--default .select2-dropdown {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  line-height: 1.3;
  box-shadow: 0 0 8px 0 rgba(50, 59, 106, 0.2);
  background-color: #ffffff;
}
.select2-selection--multiple.select2-container--open .select2-selection--single .select2-selection__arrow,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(-135deg);
}
.select2-selection--multiple.select2-container--open .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: 2px solid #323B6A;
  border-top: none;
  border-left: none;
}
.select2-selection--multiple .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
  background: #F0F2F7;
  border: 1px solid #F0F2F7;
  border-radius: 0;
  padding: 5px 10px 0 10px;
  white-space: nowrap;
  overflow: hidden;
}
.select2-selection--multiple .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 0 32px 0 12px;
  color: #fff;
  background: #333C67;
  border-radius: 4px;
  margin: 0 8px 5px 0;
  display: inline-flex;
  min-height: 28px;
  align-items: center;
  border: none;
}
.select2-selection--multiple .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  position: absolute;
  width: 20px;
  height: 100%;
  right: 8px;
  left: auto;
  border: none;
  padding: 0;
  color: #fff;
}
.select2-selection--multiple .select2-selection--multiple .select2-selection__choice__remove::after,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove::after {
  content: "✕";
}
.select2-selection--multiple .select2-selection--multiple .select2-selection__choice__remove span,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove span {
  display: none;
}
.select2-selection--multiple .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  opacity: 0.8;
}
.select2-selection--multiple .select2-selection--multiple .select2-search--inline .select2-search__field,
.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin: 0;
  height: 32px;
  color: #323B6A;
  font-weight: 700;
  font-size: 18px;
}
.select2-selection--multiple .select2-selection--multiple .select2-search--inline .select2-search__field::placeholder,
.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field::placeholder {
  color: #323B6A;
  opacity: 1;
}

.select2-selection--multiple .select2-slim.select2-selection--single,
.select2-container--default .select2-slim.select2-selection--single {
  background: #fff;
  border-color: #fff;
  border-radius: 4px;
  height: 34px;
}

.select2-selection--multiple .select2-slim.select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-slim.select2-selection--single .select2-selection__rendered {
  line-height: 32px;
  font-size: 16px;
}

.select2-selection--multiple .select2-slim .select2-results__option,
.select2-container--default .select2-slim .select2-results__option {
  font-size: 16px;
  padding: 10px;
}

.custom-input_slim {
  font-size: 16px;
  border-radius: 4px;
  height: 34px;
}

.input-wrapper_slim .input-wrapper__label {
  line-height: 33px;
}
.input-wrapper_slim .input-wrapper__icon {
  font-size: 16px;
}

.swiper-custom-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #CACEDB;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: -20px;
  cursor: pointer;
  transition: 0.2s;
}
.swiper-custom-btn:hover {
  color: #333C67;
}
.swiper-custom-btn_prev {
  left: -20px;
}
.swiper-custom-btn_next {
  right: -20px;
}
.swiper-custom-btn.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}
.swiper-custom-btn.swiper-button-lock {
  display: none;
}

.btn-custom_w_100p {
  display: flex;
  width: 100%;
}
.btn-custom_h_40 {
  height: 40px;
}
.btn-custom_br_4 {
  border-radius: 4px;
}
.btn-custom_light {
  background: #F0F2F7;
  color: #333C67;
  border: 1px solid #D9DDE8;
}
.btn-custom_light:hover {
  border-color: #333C67;
}
.btn-custom_white {
  background: #FFFFFF;
  color: #333333;
  border: 1px solid #D9DDE8;
}
.btn-custom_white:hover {
  background: #FFFFFF;
  color: #333333;
  border-color: #333C67;
}
.btn-custom_white:focus, .btn-custom_white:focus-visible {
  color: #333333;
  outline: none;
}

.custom-select .btn.btn-default.bs-placeholder {
  font-weight: 400;
  color: #8E95A5;
}
.custom-select_default .btn.btn-default {
  background: #F0F2F7;
  padding-right: 36px;
}
.custom-select_default .btn.btn-default:focus, .custom-select_default .btn.btn-default:hover {
  background: #F0F2F7;
}
.custom-select_default .btn.btn-default .bs-caret .caret {
  border-width: 2px;
  right: 20px;
}
.custom-select_default.open .btn.btn-default {
  background: #F0F2F7;
}
.custom-select_default.open .btn.btn-default .bs-caret .caret {
  border-color: #333C67;
}
.custom-select_bordered .btn.btn-default {
  background: #FFFFFF;
  border: 1px solid rgba(202, 206, 219, 0.5);
}
.custom-select_bordered .btn.btn-default .bs-caret .caret {
  width: 9px;
  height: 9px;
  margin-top: -7px;
  border-color: rgba(51, 60, 103, 0.35);
}
.custom-select_fw500 .btn.btn-default {
  font-weight: 500;
}
.custom-select_fz14 .btn.btn-default {
  font-size: 14px;
}
.custom-select_fz14 .dropdown-menu {
  font-size: 14px;
}
.custom-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  margin-top: 10px;
}
.custom-select_h_37 .btn.btn-default {
  height: 37px;
}

.custom-input_fw500 {
  font-weight: 500;
}
.custom-input_fz14 {
  font-size: 14px;
}
.custom-input_h_37 {
  height: 37px;
}
.custom-input_datepicker {
  cursor: pointer;
}

.select2_fw500 + .select2 .select2-selection__rendered {
  font-weight: 500;
}

.select2_default ~ .select2-container .select2-results__option {
  padding: 10px;
}

.select2_fz14 + .select2 .select2-selection__rendered {
  font-size: 14px;
}
.select2_fz14 + .select2 ~ .select2-container .select2-results__option {
  font-size: 14px;
}
.select2_fz14 + .select2 ~ .select2-container .select2-search__field {
  font-size: 14px;
}
.select2_fz14 + .select2 .select2-selection--multiple .select2-selection__choice {
  font-size: 14px;
  padding: 0 30px 0 10px;
}
.select2_fz14 + .select2 .select2-search--inline .select2-search__field {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}

.select2_h_37 + .select2 .select2-selection--multiple {
  padding-top: 3px;
}
.select2_h_37 + .select2 .select2-selection--multiple .select2-selection__choice {
  margin-bottom: 3px;
}

.select2_wrap + .select2 .select2-selection--multiple {
  white-space: normal;
}

.select2 .select2-selection--multiple .select2-search--inline .select2-search__field::placeholder {
  color: #8E95A5;
  opacity: 1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  right: 0;
  width: 28px;
  padding-right: 8px;
  background: #333C67;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  background: #333C67;
  opacity: 1;
  color: #2f8dd3;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}

.search-select-container {
  position: relative;
}

.price-range-input__inputs {
  display: flex;
  padding-bottom: 10px;
}
.price-range-input__inputs input {
  flex: 1;
  margin-right: 2px;
}
.price-range-input__inputs input:last-child {
  margin-right: 0;
}

.distance-range-input__inputs {
  padding-bottom: 10px;
}
.distance-range-input__input-box {
  position: relative;
}
.distance-range-input__input-box .custom-input {
  padding-left: 32px;
}
.distance-range-input__label {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #8E95A5;
  padding-left: 10px;
}

.irs--round {
  height: 16px;
}
.irs--round .irs-line {
  top: 7px;
  height: 2px;
  background-color: #CACEDB;
  border-radius: 0;
}
.irs--round .irs-handle {
  top: 0;
  width: 16px;
  height: 16px;
  background: #333C67;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}
.irs--round .irs-handle.state_hover, .irs--round .irs-handle:hover {
  background: #333C67;
  transform: scale(1.5);
}
.irs--round .irs-bar {
  top: 6px;
  height: 4px;
  border-radius: 0;
  background-color: #427FB9;
}

.irs-hidden-input {
  visibility: hidden;
}

.deployment-input {
  position: relative;
}
.deployment-input._active .deployment-input__drop {
  display: block;
}
.deployment-input._active .deployment-input__arrow {
  transform: rotate(-135deg);
}
.deployment-input__field {
  position: relative;
  width: 100%;
}
.deployment-input__current {
  width: 100%;
  padding-right: 35px;
  cursor: pointer;
  user-select: none;
}
.deployment-input__current:focus {
  background: #F0F2F6;
  border-color: #F0F2F6;
}
.deployment-input__arrow {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  width: 12px;
  height: 12px;
  right: 20px;
  border: 2px solid #333C67;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  transform-origin: 66% 66%;
  transition: 0.2s;
  pointer-events: none;
}
.deployment-input__drop {
  position: absolute;
  top: calc(100% + 12px);
  right: 0;
  z-index: 20;
  letter-spacing: -0.01em;
  display: none;
}
.deployment-input__drop-inner {
  background: #FFFFFF;
  box-shadow: 0px 0px 24px rgba(50, 59, 106, 0.25);
  border-radius: 4px;
  padding: 20px 24px 24px;
  width: 368px;
  max-height: 460px;
  overflow: auto;
}
.deployment-input__drop-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #E4E6ED;
  margin-bottom: 20px;
}
.deployment-input__drop-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10px;
}
.deployment-input__drop-close {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 20px;
  width: 16px;
  cursor: pointer;
  color: #333c67;
  opacity: 0.5;
  transition: 0.2s;
}
.deployment-input__drop-close:hover {
  opacity: 1;
}
.deployment-input__item + .deployment-input__item {
  padding-top: 20px;
  border-top: 1px solid #E4E6ED;
  margin-top: 20px;
}
.deployment-input__item:first-child .deployment-input__item-remove {
  display: none;
}
.deployment-input__item._hidden-copy {
  display: none;
}
.deployment-input__item._adding-child .deployment-input__children-new {
  pointer-events: none;
  filter: blur(1px);
}
.deployment-input__item._adding-child .deployment-input__age {
  display: block;
}
.deployment-input__item-head {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 16px;
}
.deployment-input__item-num {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10px;
}
.deployment-input__item-remove {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #C95E58;
  cursor: pointer;
  transition: 0.2s;
}
.deployment-input__item-remove:hover {
  opacity: 0.8;
}
.deployment-input__item-remove i {
  font-size: 15px;
  margin-right: 10px;
}
.deployment-input__item-row {
  display: flex;
  justify-content: space-between;
}
.deployment-input__item-label {
  margin-bottom: 8px;
}
.deployment-input__item-cell:first-child {
  width: 104px;
  flex-shrink: 0;
  margin-right: 16px;
}
.deployment-input__item-cell:last-child {
  flex: 1;
  max-width: 180px;
}
.deployment-input__children-new {
  display: flex;
}
.deployment-input__children-new {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.01em;
  color: #333333;
  padding: 0 19px;
}
.deployment-input__children-new:first-child i {
  display: none;
}
.deployment-input__children-new:not(:first-child) {
  padding: 0;
  width: 40px;
}
.deployment-input__children-new:not(:first-child) span {
  display: none;
}
.deployment-input__footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deployment-input__add-room {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #333333;
  cursor: pointer;
}
.deployment-input__add-room:hover i {
  color: #337AB7;
}
.deployment-input__add-room i {
  font-size: 12px;
  color: #8e95a5;
  margin-right: 10px;
}
.deployment-input__confirm {
  padding-left: 23px;
  padding-right: 23px;
}
.deployment-input__children-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-bottom: -4px;
}
.deployment-input__children-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #F0F2F6;
  border: 1px solid #D9DDE8;
  border-radius: 4px;
  padding: 0 18px 0 15px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.01em;
  color: #333333;
  margin: 0 8px 4px 0;
}
.deployment-input__children-tag i {
  color: #333C67;
  opacity: 0.5;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
.deployment-input__children-tag i::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}
.deployment-input__children-tag i:hover {
  opacity: 1;
}
.deployment-input__age {
  display: none;
  margin-top: 10px;
}
.deployment-input__age-row {
  display: flex;
}
.deployment-input__age-counter {
  max-width: 88px;
  margin-right: 8px;
}
.deployment-input__age-add, .deployment-input__age-remove {
  padding: 0;
  width: 40px;
}
.deployment-input__age-remove {
  margin-left: 4px;
  color: #C95E58;
}
.deployment-input__age-remove:hover, .deployment-input__age-remove:focus, .deployment-input__age-remove:active {
  color: #C95E58;
}

.deployment-counter {
  position: relative;
  width: 100%;
}
.deployment-counter__input {
  background: #F0F2F6;
  border-radius: 4px;
  border: 1px solid #F0F2F6;
  padding: 0 30px 1px 30px;
  color: #333C67;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  text-align: center;
  transition: 0.2s;
  width: 100%;
  max-width: 100%;
  height: 40px;
  line-height: normal;
}
.deployment-counter__input:focus, .deployment-counter__input:active {
  border-color: #323B6A;
  box-shadow: none;
  outline: none;
}
.deployment-counter__dec, .deployment-counter__inc {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #323232;
  cursor: pointer;
  transition: 0.2s;
}
.deployment-counter__dec:hover, .deployment-counter__inc:hover {
  color: #337AB7;
}
.deployment-counter__dec {
  left: 0;
  padding-left: 15px;
  padding-right: 3px;
}
.deployment-counter__inc {
  right: 0;
  padding-right: 15px;
  padding-left: 3px;
}

@media screen and (max-width: 479px) {
  .deployment-input__drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    padding: 30px 16px;
    background: rgba(0, 0, 0, 0.25);
    overflow: auto;
    z-index: 200;
  }
  .deployment-input__drop-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    pointer-events: none;
  }
  .deployment-input__drop-inner {
    pointer-events: auto;
    max-width: 400px;
    width: 100%;
    max-height: none;
    padding: 24px 16px;
  }
  .deployment-input__drop-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.004em;
  }
  .deployment-input__item-cell:first-child {
    margin-right: 25px;
  }
  .deployment-input__item-cell:last-child {
    max-width: none;
  }
  .deployment-input__footer {
    flex-wrap: wrap;
    margin-top: 34px;
  }
  .deployment-input__confirm {
    width: 100%;
    margin-top: 20px;
  }
  body._deployment-input-active {
    overflow: hidden;
  }
}
@media screen and (max-width: 379px) {
  .deployment-input__item-cell:first-child {
    margin-right: 10px;
  }
}
@media screen and (max-width: 359px) {
  .deployment-input__item-cell:first-child {
    width: 80px;
  }
  .deployment-input__age-counter {
    width: 80px;
  }
}
@media screen and (max-width: 767px) {
  .btn-help + .tooltip .tooltip-inner,
.btn-note + .tooltip .tooltip-inner {
    max-width: 280px;
  }
}